$fontFamily: 'Hind-Madurai';
$fontFamilyBold: 'Hind-Madurai-bold';
$fontTitle: 'Poppins-Bold';
$rounded: 15px;
$mainColor:  #ee3a3a;
$secondColor:   #1f1e1f;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;
