@import "components/variables";
@import "components/mixin";
@import "components/fonts";



body{
  overflow-x: hidden;
  direction: rtl;
  padding: 0;
  background: #ffffff !important;
  line-height: 24px;
  text-align: right;
  color: #4b5259 !important;
  font-family: $fontFamily;
}
@media (min-width: 1200px){
  .container{
    max-width: 1240px !important;
  }
}
//banner-kanoun
.banner-kanoun{
  position: relative;
  width: 100%;
  height:500px;
  min-height: 500px;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 30px;


  .owl-banner-kanoun{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      position: absolute;
      inset: 0;
    }
    .banner-text-kanoun{
      @include flex-direction-colum();
      gap: 14px;
      position: relative;
      z-index: 2;

      h5{
        margin-bottom: 0;
        color: #fff;
        position: relative;
        font-family: $fontFamilyBold;
        font-size: 18px;
      }
      h2{
        margin-bottom: 0;
        color: #fff;
        font-family: $fontFamily;
        font-size: 30px;
        transition: $transition;
      }
    }
  }
  .owl-stage-outer {
    height: 100%;
  }
  .owl-stage-outer .owl-stage {
    height: 100%;
  }
  .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
  } .owl-stage-outer .owl-stage .owl-item .item {
    height: 100%;
   @include flex-center-all();
  }
  .owl-nav {
    transition: all ease .3s;
  }
  .owl-nav button{
    outline: none;
    height: 50px !important;
    width: 50px !important;
    transition: $transition !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50px !important;
    border: 1px solid transparent !important;
    position: absolute;
    z-index: 2;
    top: 50%;
    background: #fff !important;
    transform: translateY(-50%);

    &:hover{
      background-color: $mainColor !important;
    }
  }
  .owl-nav > .owl-prev {
    left: 30px;
  }
  .owl-nav > .owl-next {
   right: 30px;
  }
  .owl-nav > button > svg {
    width: 25px;
    height: 25px;
    fill: $mainColor;
    transition: $transition;
  }
  .owl-nav button:hover svg{
    fill: #fff;
  }
  .owl-item.active img {
    animation: anim_banner_2 5s linear;
  }
}

//why
.why {
  padding: 0 0 60px;
  position: relative;
  margin-top: 90px;

  .why-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 60px;

    .why-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img{
        width: 75px;
        margin-bottom: 27px;
      }

      h3{
        font-family: $fontFamilyBold;
        color: #232323;
        font-size: 20px;
        margin-bottom: 20px;
      }
      p{
        color: #625f50;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

//tour
.tour-salam{
  padding: 60px 0;
  background: #f8f8f8;


  .parent-tour-gisoo{
    background: #fff;
    border-radius: $rounded;
    padding: 20px;
  }
  .parent-ul-tour{
    margin-bottom: 30px;

    #pills-tab{
      padding-right: 0;
      gap: 20px;

      .nav-link{
        border: 1px solid $mainColor;
        color: $mainColor;
        padding: 12px 30px;
        border-radius: $rounded;
        transition: all .3s;
        font-size: 20px;
        font-family: $fontFamilyBold;
        background: rgba(0,0,0,0);

        &.active{
          background: $mainColor;
          color: #fff;
          border-color: $mainColor;
        }
      }
    }
  }

  .owl-tour {
    width:100%;
    >div,
    >div>div,
    >div>div>.owl-item,
    >div>div>.owl-item>.item {
      height:100%;
    }
    >div>div>.owl-item>.item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      a{
        overflow: hidden;
        border-radius: $rounded;
        border: 1px solid #d2d2d275;
        transition: all .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .img_box{
          width: 100%;
          overflow: hidden;
          position: relative;
          img{
            transition: all .3s;
            width: 100%;
            object-fit: cover;
            height: 200px;
          }

        }
        .text_box {
          width: 100%;
          display: flex;
          flex-direction: column;
          background: #fff;
          padding: 20px 15px;
          padding-top: 2.5rem!important;

          .price{
            display: flex;
            align-items: center;
            margin-top: 10px;
            span{
              font-size: 14px;
              font-family: $fontFamilyBold;
              color: #777;
              span{
                font-size: 16px;
                color: #333;
              }
            }
          }


          h3{
            font-size: 18px;
            font-family: $fontFamilyBold;
            margin-bottom: 10px;
            color: #222;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .calendar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
              font-size: 14px;
              font-family: $fontFamilyBold;
              margin-bottom: .2rem;
              color: #777;
            }
          }
          p{
            color: #777;
            font-size: 14px;
            font-family: $fontFamilyBold;
            text-align: justify;
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
        &:hover{

          .img_box img{
            transform: scale(1.1);
          }
        }
        .bluBox{
          position: absolute;
          top: 186px;
          width: 99.5%;
          background: $mainColor;
          z-index: 2;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          border-radius: 0;
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 0;
            gap: 4px;
            svg{
              width: 16px;
              height: 16px;
              fill: #fff;
            }
            h6{
              margin: 0;
              font-size: 14px;
              font-family: $fontFamilyBold;
              color: #fff;
            }
          }
        }
        .button-group-tour {
          width: 100%;
          display: flex;
          button{
            width: 100%;
            border: none;
            border-top: 1px solid #ddd;
            padding: 15px 0;
            color: #333;
            font-size: 14px;
            background: #f0f0f0;
            border-radius: 0 0 $rounded $rounded;
            font-family: $fontFamilyBold;
            @include flex-center-all;
            gap: 10px;
            cursor: pointer;
            svg{
              width: 12px;
            }
          }
        }
      }
    }
  }
}

//blog
.blog{
  padding: 60px 0;
  background: #fff;
  position: relative;

  .img3{
    position: absolute;
    left: 0;
    top: 50%;
    width: 87px;
    transform: translateY(-50%);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    a{
      display: flex;
      position: relative;
      z-index: 0;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
      padding: 20px;
      overflow: hidden;
      border-radius: $rounded;
      height: 512px;
      &::before{
        background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.62) 90%);
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition;
      }
      img{
        transition: $transition;
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      > div{
        position: relative;
        z-index: 2;
        text-align: right;
        h2{
          font-size: 20px;
          font-family: $fontFamilyBold;
          margin-bottom: 1rem;
          text-align: center;
          color: #ffffff;
        }
        p{
          color: #fff;
          text-align: justify;
          line-height: 30px;
          font-size: 16px;
          margin-bottom: 0;
          -webkit-line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          transition: all ease .5s;
        }
      }
      &:hover{
        img{
          transform: scale(1.2);
        }
      }
      &:hover::before{
       height: 100%;
      }
    }
  }
}
@media (max-width: 992px) {
  .blog .parent{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    >a{
      height: 300px !important;
      grid-area: unset !important;
    }
  }
}
@media (max-width: 768px) {
  .blog .parent{
    grid-template-columns: repeat(2, 1fr);
  }
}

//newsletters
.newsletters{
  background: #f8f8f8;
  padding: 60px 0;

  .newsletterMain{
    background-image: url(../images/news3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(51,51,51,.8);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border-radius: $rounded;
    align-items: center;

    .text_newsletter{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .parent-svg-newsletters{
        margin-left: 30px;
        color: #fff;
        @include flex-direction-colum();
        align-items: flex-start;

        svg{
          width: 150px;
          fill: #fff;
        }
      }

      div{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2{
          font-family: $fontFamilyBold;
          font-size: 2rem;
          margin-bottom: 10px;
          text-transform: capitalize;
        }
        p{
          font-size: 1rem;
          margin: 0;
          text-align: right;
        }
      }
    }
    .form_newsletter label{
      position: relative;

      input{
        padding-right: 1rem;
        border-radius: $rounded;
        border: none;
        font-size: 17px;
        height: 50px;
      }
      a{
        background: $mainColor;
        @include flex-center-all();
        height: 50px;
        font-size: 20px;
        color: #fff;
        border-radius: $rounded;
        transition: $transition;

        svg{
          width: 30px;
          fill: #fff;
          transition: $transition;
        }

        &:hover{
          background: #d93f07;
        }
      }
    }
  }
}




//title
.title-kanoun{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
  gap: 10px;
  align-items: center;

  h2{
    font-family: $fontFamily;
    color: #555;
    margin-bottom: 0;
    font-size: 16px;
  }
  h4{
    color: $mainColor;
    font-size: 20px;
    margin-bottom: 0;
    font-family: $fontFamilyBold;
  }

  }






//owl-dots Global
.owl-theme .owl-dots {
  @include flex-center-all();
  margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  margin: 5px;
  background: #fb9976;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $mainColor;
}

//owl-nav Global
.owl-nav span{
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 7em;
  border: 1px solid #333;
  transition: all ease .3s;
  color: #333;

  &:hover{
    background: $mainColor;
    color: #fff;
    border-color: $mainColor;
  }
}
.owl-nav .owl-prev span {
  position: absolute;
  right: -20px;
  top: 30%;
}
.owl-nav .owl-next span {
  position: absolute;
  left: -20px;
  top: 30%;
}






@media (max-width: 991px) {

  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun{
    margin-bottom: 80px;
  }
  .parent-newsletter {
    grid-template-columns: repeat(1, 1fr);
  }
  .parent-newsletter .newsletter-item:first-child {
    display: none;
  }
  .parent-tours{
    display: none !important;
  }
  .tour-kanoun .tour-owl{
    display: block !important;
  }
  .tour-kanoun{
    padding: 0 0 60px;
  }
  .why .why-parent .why-item h3{
    margin-bottom: 10px;
    font-size: 16px;
  }
  .why .why-parent .why-item p{
    @include text-limit(3);
  }
  .order-foot1{
    order: 1;
  }
  .order-foot4{
    order: 2;
  }
  .order-foot3{
    order: 3;
  }
  .order-foot2{
    order: 4;
  }
  .parent-contact-information i{
    width: 11%;
  }
}

@media (max-width: 769px) {
  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun h5{
    font-size: 16px;
  }
  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun h2{
    font-size: 30px;
  }
  .blog .img3{
    display: none;
  }
}

@media (max-width: 576px) {
  .banner-kanoun .owl-stage-outer .owl-stage .owl-item .item{
    align-items: flex-start;
  }
  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun{
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun h5{
    font-size: 16px;
  }
  .banner-kanoun .owl-banner-kanoun .banner-text-kanoun h2{
    font-size: 22px;
  }
  .banner-kanoun{
    height: 540px;
  }
  .why .why-parent{
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .parent-banner{
    height: 500px;
  }
  .blog .parent {
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletters .newsletterMain .text_newsletter .parent-svg-newsletters svg{
    width: 100px;
  }
  .newsletters .newsletterMain .text_newsletter div h2{
    font-size: 18px;
  }
  .newsletters .newsletterMain{
    padding: 10px !important;
  }
  .title-kanoun .text-title-kanoun p{
    display: none;
  }
  .title-kanoun .text-title-kanoun h2{
    font-size: 22px;
  }
  .title-kanoun{
    margin-bottom: 10px;
  }
  .tour-kanoun .parent-ul-tour{
    margin-bottom: 15px;
  }
  .tour-kanoun{
    padding: 0 0 30px;
  }
  .text_newsletter > div > h2{
    font-size: 27px;
  }
  .title-kanoun .more-title-kanoun{
    font-size: 12px;
    padding: 1px 7px;
  }
  .parent-special-tours-paeiz {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .special-tours-paeiz .parent-special-tours-paeiz .items-special-tours-paeiz {
    height: 300px !important;
  }
  .special-tours-kanoun .parent-special-tours2 .items-special-tours2{
    height: 300px;
  }
  .items-special-tours-paeiz2 {
    display: flex !important;
  }
  .special-tours-kanoun .parent-special-tours-paeiz .items-special-tours-paeiz{
    height: 300px;
  }
  .parent-text-newsletter{
    padding: 10px !important;
  }
  .parent-icon-newsletter i{
    font-size: 70px;
    padding-left: 20px;
  }
  .parent-icon-newsletter h2{
    font-size: 22px;
  }
  .parent-icon-newsletter p{
    margin-bottom: 0;
  }
  .form_newsletter > label > input{
    font-size: 14px;
  }
  .owl-nav .owl-next span{
    left: -9px;
  }
  .owl-nav .owl-prev span{
    right: -9px;
  }
  .parent-social-header{
    display: none;
  }
  .parent-email-phone{
    justify-content: space-between;
    width: 100%;
  }
}


@keyframes  anim_banner_2{
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}