body{
    direction: rtl;
    overflow-x: hidden;
}
.content_tech{
    min-height: 100vh;
    margin-top: 20px;
}

.filterBox .filtertip-searchbox {
    display: inline-block !important;
}

.FilterHoteltype[type="checkbox"]:not(:checked) + label::before {
    margin-left: 20px !important;
}

.open-sidebar-insurance {
    display: none !important;
}

.header-top{
    background: #f8f8f8;
}
.parent-header-phone{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding: 3px 0;
}
.parent-header-phone span{
    color: #3366ff;
    font-size: 14px;
    font-weight: bold;
}
.header-bottom{
    background: #fff;
}
.parent-header-logo-svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.parent-header-logo-svg img{
    width: 200px;
}
.parent-header-logo-svg svg{
    width: 38px;
    fill: #808080;
    cursor: pointer;
}
/*.box-hamburger{*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 100;*/
/*    display: none;*/
/*    overflow: hidden;*/
/*    opacity: 0;*/
/*}*/
.menu-hamburger{
    width: 350px;
    transition: all 0.5s cubic-bezier(0.75,0,0.25,1);
    background: #fff;
    right: 0;
    max-width: 100%;
    -webkit-transform: translateX(350px);
    transform: translateX(350px);
    overflow: auto;
    position: fixed;
    height: 100vh;
    z-index: 10;
    top: 0;
}
.back-hamburger{
    opacity: 0.3;
    cursor: pointer;
    z-index: 3;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: none;
}
.nav-hamburger{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-hamburger li a{
    height: auto;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all ease .3s;
    color: #333;
    background: #fff;
    font-size: 14px;
    border-bottom: 1px solid #e1e1e1;
}
.nav-hamburger li{
    width: 100%;
}
.nav-hamburger li:last-child{
    border-bottom: none;
}
.nav-hamburger li a svg{
    width: 12px;
    fill: #444;
    transition: all ease .3s;
}
.nav-hamburger li a:hover{
    background: #f8f8f8;
    text-decoration: none;
}
.nav-hamburger-internal{
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: none;
}
.nav-hamburger-internal li a{
    padding: 15px 50px;
}
.rotate-svg{
    transform: rotate(180deg);
}
.translateX-svg{
    transform: rotateX(0);
}
.svg-xmark{
    /*position: absolute;*/
    /*top: 133px;*/
    display: none;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}
.my-header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.parent-footer-bimeh{
    background: #109bc5;
    padding: 60px 0;
}
.parent-grid-bimeh{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.box-footer{
    text-align: right;
}
.box-footer h5{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.parent-address-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    gap: 15px;
}
.parent-address-footer p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.box-footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    gap: 10px;
}
.box-footer ul li a{
    font-size: 14px;
    color: #fff;
    transition: all ease .3s;
    width: 100%;
    display: flex;
}
.parent-text-iran-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.last_text a {
    color: #4c4c4c;
    transition: all ease .3s;
    font-size: 14px;
}
.last_text p {
    color: #4c4c4c;
    margin-bottom: 0 !important;
}
.last_text a:hover{
    color: #fff;
    text-decoration: none;
}
.social_icon a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease .3s;
    background: transparent;
}
.social_icon svg{
    width: 12px;
    fill: #fff;
    transition: all ease .3s;
}
.social_icon a:hover{
    text-decoration: none;
    background: #a67658;
}
.social_icon a:hover svg{
    fill: #fff;
}
.socket_color{
    background: #11abd6;
    padding: 7px 0;
}
.parent-item-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.last_p_text{
    margin-bottom: 0;
}
.last_a{
    color: #fff;
}
.icon_count_2{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social_icon{
    display: flex;
}

@media (max-width: 576px) {
    .parent-header-logo-svg{
        flex-direction: row;
        justify-content: space-between;
    }
    .parent-header-logo-svg img{
        width: 150px;
    }
    .parent-grid-bimeh{
        grid-template-columns: repeat(1, 1fr);
    }
    .parent-item-bottom{
        flex-direction: column;
        gap: 7px;
    }
    .parent-text-iran-tech{
        order: 2;
    }
    .svg-xmark{
        position: absolute;
        top: 38px;
        left: 16px;
        transform: unset;
    }
}

.d-show-flex{
    display: flex;
}
.d-hide-none{
    display: none;
}