@import "components/variables";
@import "components/mixin";
@import "components/fonts";

@media (min-width: 1200px){
  .container {
    max-width: 1240px;
  }
}

body{
  overflow-x: hidden;
  direction: rtl;
  padding: 0;
  background: #eff0f0 !important;
  line-height: 24px;
  text-align: right;
  color: #4b5259 !important;
  font-family: $fontFamily;
  font-variation-settings: "dots" 2;
  font-weight: 400;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
@supports (font-variation-settings: normal) {
  body {
    font-family: $fontFamilyXVF;
  }
}

a:hover{
  text-decoration: none;
}

//BANNER
.banner-kanoun{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 550px;
  position: relative;
  padding-bottom: 50px;
  padding-top: 63px;
  border-radius: $rounded;

  .banner-site{
    width: 100%;
    height: 100%;
    background: url('../images/parvaz-bg.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    inset: 0;

    &:after {
      background:#00000091;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
      opacity: 0.5;
    }
  }
  .parent-text-banner-demo{
    position: relative;
    z-index: 3;
    @include flex-direction-colum();
    align-items: center;
    gap: 16px;

    #title-banner{
      font-size: 28px;
      color: #fff;
      font-weight: 800;
      margin-bottom: 0;
    }
    #caption-banner{
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      margin-bottom: 0;
    }
  }


}

.other-links {

  padding: 70px 0;

  .parent-other-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .our-serves-item{
      background: #fff;
      border-radius: $rounded;
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding: 30px 20px;
      border: $border;

      img{
        width: 48px;
      }
      .our-serves-data{
        display: flex;
        flex-direction: column;
        gap: 14px;

        h3{
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 700;
          color: #333;
        }
        p{
          margin-bottom: 0;
          font-size: 14px;
          color: grey;
          @include text-limit(2);
        }
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  padding-bottom: 7px;
  position: relative;

  h5 {
    font-size: 24px;
    font-weight: 700;
    color: #656565;
    margin: 0;
    line-height: 37px;
    text-align: center;
    position: relative;
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;

    h5 {
      font-size: 20px;
      line-height: 37px;
    }
  }
}

.line {
  width: 72%;
  height: 2px;
  background: #dddddd;
}

//tour-section
.tour-section{
  padding: 0 0 70px;

  .parent-data-tour-tab-demo{
    display: flex;
    flex-direction: column;
    gap: 20px;

    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 0;

      button{
        background: rgba(0,0,0,0);
        border-radius: 12px;
        border: 1px solid $mainColor;
        transition: $transition;
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 500;
        color: $mainColor;

        &.active{
          background: $mainColor !important;
          color: #fff !important;
        }
      }
    }

    .parent-tab-tour{

      a{
        width: 100%;
        border-radius: $rounded;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        transition: $transition;
        overflow: hidden;
        background: #fff;
        gap: 22px;
        border: $border;

        img{
          width: 100%;
          height: 250px;
          filter: brightness(80%);
          border-radius: $rounded;
        }
        .box-location-price{
          position: relative;
          z-index: 2;
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 7px;

          h4{
            margin-bottom: 0;
            color: #333;
            font-size: 20px;
            font-weight: 600;
          }
          .box-city-night{
            display: flex;
            align-items: center;
            gap: 10px;

            .city-tour{
              display: flex;
              align-items: center;
              gap: 5px;

              svg{
                width: 10px;
                fill: grey;
              }
              span{
                font-size: 14px;
                color: grey;
              }
            }

            .night{
              font-size: 14px;
              color: grey;
              line-height: normal;
            }
          }

          .parent-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;

            .price-tour{
              margin-bottom: 0;
              color: #333;
              font-size: 18px;
              font-weight: 600;

              .rial{
                font-size: 12px;
              }
            }

            button{
              background: transparent;
              border: 1px solid $mainColor;
              border-radius: 18px;
              transition: $transition;
              padding: 1px 26px;
              color: $mainColor;
              font-size: 14px;

              span{
                vertical-align: super;
              }
            }
          }
        }

        &:hover button{
          background: $mainColor !important;
          color: #fff !important;
        }
      }
    }
  }
}


//special-tours
.special-tours{
  padding: 0 0 70px;

  .parent-box-special-tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px;

    .box-one{
      display: flex;
      flex-direction: column;
      gap: 20px;

      a{
        border-radius: $rounded;
        transition: $transition;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        padding: 15px;
        overflow: hidden;
        height: 50%;

        img{
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          filter: brightness(75%);
          z-index: 1;
          object-fit: cover;
        }

        .description-tour{
          display: flex;
          flex-direction: column;
          gap: 5px;
          position: relative;
          z-index: 2;

          h3{
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 0;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }

          div{
            display: flex;
            align-items: center;
            gap: 5px;

            svg{
              width: 14px;
              fill: #fff;
            }
            span{
              font-size: 14px;
              color: #fff;
            }
          }
        }
      }
      .parent-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 16px;
        height: 50%;

        a{
          height: 100%;
        }
      }
    }

    .box-two{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 16px;
      height: 400px;

      .div-cell{
        width: 100%;
        border-radius: $rounded;
        transition: $transition;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        padding: 15px;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          position: absolute;
          inset: 0;
          filter: brightness(75%);
          z-index: 1;
          object-fit: cover;
        }
        .description-tour{
          display: flex;
          flex-direction: column;
          gap: 5px;
          position: relative;
          z-index: 2;

          h3{
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 0;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }

          div{
            display: flex;
            align-items: center;
            gap: 5px;

            svg{
              width: 14px;
              fill: #fff;
            }
            span{
              font-size: 14px;
              color: #fff;
            }
          }
        }
      }

      .parent-div{
       display: flex;
        flex-direction: column;
        gap: 20px;

        a{
          border-radius: $rounded;
          transition: $transition;
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: right;
          padding: 15px;
          overflow: hidden;
          height: 50%;

          img{
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            filter: brightness(75%);
            z-index: 1;
            object-fit: cover;
          }

          .description-tour{
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: relative;
            z-index: 2;

            h3{
              font-size: 18px;
              font-weight: 700;
              color: #fff;
              margin-bottom: 0;
              -webkit-line-clamp: 1;
              overflow: hidden;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }

            div{
              display: flex;
              align-items: center;
              gap: 5px;

              svg{
                width: 14px;
                fill: #fff;
              }
              span{
                font-size: 12px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}


//about
.about{
  padding: 0 0 50px;

  .about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: center;

    .about-text{


      .about-btn{
        background: $mainColor;
        border: $border;
        color: #fff;
        padding: 5px 20px;
        border-radius: $rounded;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        border: 1px solid $mainColor;
        transition: $transition;
      }

      span{
        font-size: 14px;
        color: $mainColor;
        margin-bottom: 14px;
        display: flex;
      }
      h3{
        font-size: 20px;
        font-weight: 700;
        color: #333;
        margin-bottom: 16px;
      }
      p{
        color: grey;
        font-size: 14px;
        @include text-limit(3);
        margin-bottom: 30px;
        text-align: justify;
      }
      .features-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;

        .feature-box{
          display: flex;
          align-items: center;
          gap: 10px;

          i{
            width: 40px;
            height: 40px;
            border-radius: $rounded;
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
              width: 20px;
              height: 20px;
            }
          }

          .box-one{
            background: #c1ebe1;

            svg{
              fill: #629c8f;
            }
          }
          .box-two{
            background: #f8e6dc;

            svg{
              fill: #dd6c40;
            }
          }
          .box-three{
            background: #f7efd8;

            svg{
              fill: #bea925;
            }
          }
          .feature-content{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: calc(100% - 48px);

            h4{
              color: #444;
              font-size: 16px;
              margin-bottom: 0;
              font-weight: 600;
            }
            p{
              color: grey;
              margin-bottom: 0;
              font-size: 12px;
              @include text-limit(2);
            }
          }
        }
      }
    }

    .about-picture{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      padding-right: 46px;

      img{
        width: 100%;
        height: 217px;
        object-fit: cover;
        filter: brightness(95%);
        border: $border;
      }

      .about-img-one{
        border-radius: 80px 0 80px 0;
      }
      .about-img-two{
        border-radius: 0 80px 0 80px;
      }
      .about-img-three{
        border-radius: 0 80px 0 80px;
      }
      .about-img-four{
        border-radius: 80px 0 80px 0;
      }
    }
  }
}


//Blogs
.blogs{
  padding: 0 0 70px;
  display: block;

  .grid-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    a{
      background: #fff;
      border: $border;
      transition: $transition;
      border-radius: $rounded;
      padding: 20px;
      display: flex;
      gap: 15px;

      .parent-img-blogs{
        width: 200px;
        height: 170px;
        border-radius: $rounded;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(80%);
        }
      }
      .parent-text-blogs{
        display: flex;
        flex-direction: column;
        width: calc(100% - 170px);

        h3{
          font-weight: 700;
          color: #333;
          margin-bottom: 15px;
          @include text-limit(2);
          font-size: 18px;
        }
        p{
          color: grey;
          font-size: 14px;
          margin-bottom: 0;
          @include text-limit(3);
          text-align: justify;
        }
        button{
          border: 1px solid $mainColor;
          background: transparent;
          font-size: 14px;
          width: fit-content;
          border-radius: 99px;
          padding: 5px 15px;
          color: $mainColor;
          margin-top: 20px;
          transition: $transition;
          margin-right: auto;
        }
      }

      &:hover button{
        background: $mainColor;
        color: #fff;
      }
    }
  }
}


//popular-hotels
.popular-hotels{
  padding: 0 0 70px;

  .grid-popular-hotels{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;

    a{
      display: flex;
      align-items: center;
      gap: 10px;

      .parent-img-popular-hotels{
        width: 65px;
        height: 65px;
        border-radius: $rounded;
        overflow: hidden;
        border: $border;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(90%);
        }
      }
      .parent-text-popular-hotels{
        display: flex;
        flex-direction: column;
        gap: 3px;

        h4{
          margin-bottom: 0;
          color: #333;
          font-size: 14px;
        }
        span{
          color: grey;
          font-size: 12px;
        }
      }
    }
  }
}


//Hotels
.hotels{
  padding: 0 0 70px;
  position: relative;

  .parent-data-hotel-tab-demo{
      display: flex;
      flex-direction: column;
      gap: 20px;

      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0;
        position: relative;

        button{
          background: rgba(0, 0, 0, 0);
          border-radius: 12px;
          border: 1px solid $mainColor;
          transition: $transition;
          padding: 10px 24px;
          font-size: 16px;
          font-weight: 500;
          color: $mainColor;

          &.active{
            background: $mainColor !important;
            color: #fff !important;
          }
        }
      }
    }

  .hotel-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .parent-hotels{
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: $rounded;
      position: relative;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(90%);
      }
      .star-hotel-demo{
        display: flex;
        align-items: center;
        gap: 3px;
        color: #444;
        position: absolute;
        left: 10px;
        top: 15px;
        z-index: 2;
        background: #fff;
        border-radius: $rounded;
        font-size: 12px;
        padding: 2px 8px;

        svg{
          width: 12px;
          height: 12px;
          fill: #ffc12f;
        }
      }
    }
    .data-hotels{
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3{
        font-weight: 700;
        color: #333;
        font-size: 18px;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        margin-bottom: 0;
      }
      .city-hotel{
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 14px;
        color: grey;

        svg{
          width: 14px;
          height: 14px;
          fill: grey;
        }
      }
    }
  }
}


//supplementary
.supplementary{
  padding: 0 0 70px;

  .supplementary-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    a{
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: $rounded;
      overflow: hidden;
      padding: 35px;
      border: $border;
      position: relative;

      .supplementary-svg{
        width: 50px;
        height: 50px;
        fill: #333;
        margin-bottom: 10px;
      }
      h4{
        color: #333;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 700;
      }
      p{
        @include text-limit(4);
        color: #777;
        margin-bottom: 0;
        font-size: 13px;
        text-align: justify;
      }
      button{
        background: #fff;
        color: #444;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 9999px;
        padding: 5px 15px;
        border: none;
        font-size: 14px;
        width: 100px;

        svg{
          width: 10px;
          fill: #444;
        }
      }
      .supplementary-svg-absolute{
        fill: #fff;
        position: absolute;
        left: -32px;
        bottom: -21px;
        width: 100px;
        height: 100px;
      }
    }

    .bg-supplementary-green{
      background: #dbece4;
    }
    .bg-supplementary-blue{
      background: #d1ecff;
    }
    .bg-supplementary-orange{
      background: #fff3ea;
    }
    .bg-supplementary-purple{
      background: #f7eaff;
    }
  }
}


//latest-tour
.latest-tour{
  padding: 0 0 70px;

  .ul-latest-tour{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    position: relative;

    button{
      background: rgba(0, 0, 0, 0);
      border-radius: 12px;
      border: 1px solid #b71c1c;
      transition: all ease 0.3s;
      padding: 10px 24px;
      font-size: 16px;
      font-weight: 500;
      color: $mainColor;

      &.active{
        background: $mainColor !important;
        color: #fff !important;
      }
    }
  }

  .parent-latest-tour{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .parent-grid-latest-tour{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }
    a{
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: $rounded;
      border: $border;
      justify-content: space-between;
      overflow: hidden;
      height: 65px;
      transition: $transition;

      h4{
        font-size: 16px;
        color: #333;
        margin-bottom: 0;
        font-weight: 700;
      }
      h5{
        margin-bottom: 0;
        font-size: 16px;
        color: #333;
        font-weight: 600;
      }
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .parent-data-latest-tour{
        width: calc(100% - 133px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
      }
      .parent-price-latest-tour{
        display: flex;
        align-items: center;
        height: 100%;
        background: #f9f9fa;
        padding: 0 20px;

        .price-latest-tour{
          display: flex;
          align-items: center;
          gap: 5px;

          h3{
            font-size: 18px;
            color: #333;
            margin-bottom: 0;
            font-weight: 700;
          }
          span{
            color: grey;
            font-size: 14px;
          }
        }
      }
    }
    .parent-link-domestic{
      border-right: 5px solid #796799;

      .parent-price-latest-tour{
        background: #796799;

        h3{
          color: #fff !important;
        }
        span{
          color: #fff !important;
        }
      }
    }
    .parent-link-foreign{
      border-right: 5px solid #4e59b5;

      .parent-price-latest-tour{
        background: #4e59b5;

        h3{
          color: #fff !important;
        }
        span{
          color: #fff !important;
        }
      }
    }
    .parent-link-earthly{
      border-right: 5px solid #4e9db5;

      .parent-price-latest-tour{
        background: #4e9db5;

        h3{
          color: #fff !important;
        }
        span{
          color: #fff !important;
        }
      }
    }
    .parent-link-installments{
      border-right: 5px solid #b5664e;

      .parent-price-latest-tour{
        background: #b5664e;

        h3{
          color: #fff !important;
        }
        span{
          color: #fff !important;
        }
      }
    }
  }
}


//tooltip
.tooltip-inner{
  font-family: $fontFamily;
  font-size: 14px;
}

//news-section
.news{
  padding: 0 0 50px;

  .news-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;

    .parent-img{
      position: relative;
      display: inline-block;
      border-radius: $rounded;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(80%);
      }
    }

    .news-piece-piece{
      display: flex;
      flex-direction: column;
      gap: 20px;

      a{
        width: 100%;
        display: flex;
        gap: 16px;

        .parent-data{
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: calc(100% - 182px);

          h4{
            font-family: $fontFamily;
            color: #222;
            font-size: 15px;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-bottom: 0;
            font-weight: 600;
          }
          p{
            font-size: 12px;
            color: gray;
            line-height: 24px;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-bottom: 0;
            text-align: justify;
          }
          .parent-data-cate-news{
            display: flex;
            align-items: center;
            gap: 18px;

            .item-data-news-demo{
              display: flex;
              align-items: center;
              gap: 3px;
              color: #b3b3b3;
              font-size: 12px;

              svg{
                width: 12px;
                height: 12px;
                fill: #b3b3b3;
              }
            }
            .item-data-cate-news-demo{
              font-size: 12px;
              color: #b3b3b3;
            }
          }
        }

        .parent-img{
          width: 166px;
          height: 100%;
        }
      }
    }

    .news-perfect{
      a{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .parent-data{
          display: flex;
          flex-direction: column;
          gap: 10px;

          h4{
            font-family: $fontFamily;
            color: #222;
            font-size: 18px;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-bottom: 0;
            font-weight: 600;
          }
          p{
            font-size: 14px;
            color: gray;
            line-height: 24px;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            margin-bottom: 0;
            text-align: justify;
          }
          .parent-data-cate-news{
            display: flex;
            align-items: center;
            gap: 18px;

            .item-data-news-demo{
              display: flex;
              align-items: center;
              gap: 3px;
              color: #b3b3b3;
              font-size: 12px;

              svg{
                width: 12px;
                height: 12px;
                fill: #b3b3b3;
              }
            }
            .item-data-cate-news-demo{
              font-size: 12px;
              color: #b3b3b3;
            }
          }
        }
        .parent-img{
          width: 100%;
          height: calc(100% - 71px);
        }
      }
    }



  }
}














//owl dot
.owl-theme .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  margin: 5px 7px;
  background: #c1c1c1;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $mainColor;
}













@media (max-width: 991px) {
  .tour-kanoun .tour-owl{
    display: block;
  }
  .tour-kanoun .parent-tours{
    display: none;
  }
  .my-app-mobile {
    display: block !important;
  }
  .parent-app {
    height: unset;
  }
  .display-none-responcive {
    display: none;
  }
  .parent-text-app {
    align-items: center !important;
    padding: 20px !important;
  }
  .my-app-desc {
    display: none;
  }
  .tab-tour .parent-desc {
    grid-template-columns: repeat(2, 1fr);
  }
  .line {
    width: 54%;
  }
}

@media (max-width: 768px) {

  .supplementary .supplementary-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-kanoun .parent-text-banner-demo #title-banner
{
  font-size: 26px;
}

  .other-links .parent-other-links {
  grid-template-columns: repeat(2, 1fr);
}

  .special-tours .parent-box-special-tours {
    grid-template-columns: repeat(1, 1fr);
  }

  .special-tours .parent-box-special-tours .box-one a {
    height: 300px;
  }

  .blogs .grid-blogs {
  grid-template-columns: repeat(1, 1fr);
}

  .popular-hotels .grid-popular-hotels {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest-tour .parent-latest-tour .parent-grid-latest-tour {
    grid-template-columns: repeat(1, 1fr);
  }

  .news .news-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }


  .header_area {
    position: relative;
  }
  #searchBoxTabs {
    justify-content: center;
  }
  .tab-tour .parent-desc {
    grid-template-columns: repeat(1, 1fr);
  }
  .title-site h2 {
    font-size: 23px;
  }
  .line {
    width: 40%;
  }
  .title-site span {
    width: 18px;
    height: 18px;
  }
  .title-site img {
    width: 60px;
  }
  .tab-tour .parent-text-owl {
    font-size: 15px;
  }
  .titr-tour-tab {
    font-size: 18px;
  }
}

@media (max-width: 576px) {

  .tab-mobile {
    display: none !important;
  }

  .about .about-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about .about-grid .about-text h3 {
    font-size: 17px;
  }

  .blogs .grid-blogs {
  grid-template-columns: repeat(1, 1fr);
}

  .blogs .grid-blogs a .parent-text-blogs {
  width: calc(100% - 115px);
}

  .blogs .grid-blogs a .parent-img-blogs {
    width: 100px;
    height: 160px;
  }

  .tour-section .parent-data-tour-tab-demo .parent-tab-tour a .box-location-price h4 {
    font-size: 18px;
  }

  .blogs .grid-blogs a {
    display: flex;
  }

  .popular-hotels .grid-popular-hotels {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 0px;
  }

  .popular-hotels .grid-popular-hotels a .parent-text-popular-hotels h4 {
  font-weight: 700;
  font-size: 13px;
}

  .supplementary .supplementary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

  .supplementary .supplementary-grid a {
  gap: 5px;
  padding: 15px;
}

  .supplementary .supplementary-grid a h4 {
    font-size: 15px;
  }

  .supplementary .supplementary-grid a p {
  font-size: 12px;
}

  .supplementary .supplementary-grid a .supplementary-svg {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

  .supplementary .supplementary-grid a .supplementary-svg-absolute {
  left: 0px;
  bottom: 0px;
  width: 40px;
  height: 40px;
}

  .supplementary .supplementary-grid a button {
    font-size: 12px;
  }

  .blogs .grid-blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .hotels .hotel-card .data-hotels h3 {
  font-size: 16px;
}

  .blogs .grid-blogs a .parent-text-blogs h3 {
  font-size: 14px;
}

  .blogs .grid-blogs a .parent-text-blogs p {
    font-size: 12px;
  }

  .blogs .grid-blogs a .parent-text-blogs button {
    font-size: 12px;
  }

  .news .news-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .news .news-section-grid .news-perfect a .parent-data h4 {
    font-size: 16px;
  }

  .special-tours .parent-box-special-tours {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 18px;
  }

  .news .news-section-grid .news-piece-piece a .parent-data h4 {
    font-size: 13px;
  }

  .news .news-section-grid .news-piece-piece a .parent-img {
    width: 100px;
    height: 100px;
  }

  .latest-tour .parent-latest-tour .parent-grid-latest-tour {
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 10px;
}

  .latest-tour .parent-latest-tour a .parent-data-latest-tour {
    width: calc(100% - 95px);
  }

  .latest-tour .parent-latest-tour a img {
    display: none;
  }

  .latest-tour .parent-latest-tour a h4 {
    font-size: 12px;
  }

  .latest-tour .parent-latest-tour a h5 {
    font-size: 13px;
  }

  .latest-tour .parent-latest-tour a .parent-price-latest-tour {
    padding: 0px 10px;
  }

  .latest-tour .parent-latest-tour a .parent-price-latest-tour .price-latest-tour h3 {
    font-size: 13px;
  }

  .latest-tour {
  padding: 0 0 55px;
}

  .banner-kanoun .parent-text-banner-demo #title-banner {
    font-size: 13px;
    padding-top: 40px;
  }

  .banner-kanoun .parent-text-banner-demo #caption-banner {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .about .about-grid .about-picture {
  grid-template-columns: repeat(4, 1fr);
  padding-right: 5px;
}

  .news .news-section-grid .news-piece-piece a .parent-data {
    gap: 10px;
    width: calc(100% - 115px);
  }

  .body-footer {
    padding: 20px 0 0;
  }

  .footer-img{
    position: relative;
    left: 230px;
  }

  .special-tours .parent-box-special-tours .box-two .parent-div a .description-tour h3 {
    font-size: 14px;
  }

  .special-tours .parent-box-special-tours .box-two .div-cell .description-tour h3 {
    font-size: 14px;
  }

  .special-tours .parent-box-special-tours .box-one a .description-tour h3 {
    font-size: 14px;
  }

  .special-tours .parent-box-special-tours .box-one a {
    padding: 10px;
    height: 190px;
  }

  .other-links .parent-other-links {
    grid-template-columns: repeat(2, 1fr) ;
    gap: 20px;
  }

  .other-links .parent-other-links .our-serves-item .our-serves-data h3 {
    font-size: 14px;
  }


  .banner-kanoun .owl-banner-kanoun .item .banner-text-kanoun{
    display: none;
  }
  .app{
    padding: 0 0 50px;
  }
  .banner-kanoun .parent-text-banner h2{
    font-size: 22px;
  }
  .banner-kanoun .parent-text-banner{
    gap: 9px;
    margin-bottom: 2rem;
    display: none;
  }
  .banner-kanoun .parent-text-banner p{
    font-size: 16px;
  }
  .Flight_sec{
    padding: 50px 0;
  }
  .Flight_sec .titel::after{
    width: 70%;
    bottom: 7px;
  }

  .nav-pills .nav-link {
    width: 78px !important;
    height: 45px !important;
  }

  .latest-tour .ul-latest-tour button {
    padding: 6px 0px;
  }

  .app .parent-text-app h2{
    font-size: 22px;
    text-align: center;
  }
  .parent-text-app p{
    text-align: center;
  }
  .parent-text-app {
    align-items: unset !important;
  }
  .parent-img-android {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .parent-img-android a img {
    width: 130px;
    height: 46px;
  }
  .banner-kanoun{
    display: none;
    height: unset !important;
    min-height: unset;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 0;

    > .container {
      padding: 0 !important;
    }
  }
  .banner-kanoun .parent-banner .parent-text-banner{
    margin-bottom: 20px;
  }
  .Flight_sec .titel{
    font-size: 24px;
    margin-bottom: 30px;
  }
  .newsletters .newsletterMain .text_newsletter .parent-svg-newsletters svg{
    width: 100px !important;
  }
  .newsletters .newsletterMain .text_newsletter div h2{
    font-size: 20px !important;
  }
  .newsletters .newsletterMain .text_newsletter .parent-svg-newsletters{
    margin-left: 20px !important;
  }
  .newsletters .newsletterMain .form_newsletter label input{
    font-size: 14px !important;
  }

}

@media (max-width: 991px) {
  .banner-kanoun .parent-banner{
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-kanoun .parent-banner .parent-img-banner{
    display: none;
  }
  .banner-kanoun .parent-banner .parent-text-banner{
    grid-area: unset;
  }
}

@media (max-width: 576px) {
  .banner-kanoun .parent-banner .parent-text-banner h2{
    font-size: 20px;
  }
  .banner-kanoun .parent-banner .parent-text-banner p{
    font-size: 14px;
  }

  .other-links {
    padding: 0px 0;
  }

  .tour-section {
    padding: 50px 0 70px;
  }

}

.banner-demo ,.banner-demo-1{
  border-radius: 14px;
  height: 50vh !important;
  min-height: 550px !important;
}
.banner-demo::after{
  border-radius: 14px;
}

.height-line-brack {
  height: 59vh;
}
body .camera_wrap,
body .camerarelative,
body .camera_target,
body .camera_target_content,
body .camera_fakehover,
body .cameraCont,
body .cameraContents{
  min-height: 59.25vh !important;
  max-height: 59.25vh !important;
  border-radius: 14px !important;


}
.camera_wrap,
.camerarelative,
.camera_target,
.camera_target_content,
.camera_fakehover,
.cameraCont,
.cameraContents,
.camera_wrap img {
  border-radius: 14px !important;
  overflow: hidden !important;
}
.banner-demo-1::after{
  border-radius: 14px !important;

}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  padding:0 !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .height-line-brack {
    height: 50vh !important;
  }
}
@media (max-width: 767px) {
  .height-line-brack {
    height: 50vh !important;
  }
  .other-links{
    margin-top:130px !important;
  }
}
@media (max-width: 578px) {
  .banner-demo ,.banner-demo-1{
    background-image: none !important;
  }
  .banner-demo::after,.banner-demo-1::after{
   background: unset !important;
  }

  .height-line-brack {
    height: 0vh !important;
  }
  #camera_wrap_1{
    display: none !important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding:20px !important;
  }
}




