body {
    line-height: 1;
    font-family: yekan, yekanNumbers !important;
    overflow-x: hidden;
    background: #fafafa;
    margin:0;
}
html, body {
    height: 100%;
    width: 100%;

}
.modal{
    opacity: 1 !important;
}
h1, h2, h3, h4, h5, h6 {
    font: normal 1.5rem "Yekan","YekanNumbers" !important;
    margin: 0px;
    padding: 0px;
}
a:hover, a:focus{
    text-decoration: none;
}
ul li{
    list-style: none;
}




.clear{
    clear: both;
    height: 0px;
    min-height: 0px;
}

footer{
    margin-top: 0;
}

.min_height_footer{
    min-height: 150px;
    border-radius: 10px;
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backToTop:hover{
    background: rgba(192, 146, 63, 0.75) url(../images/arrow_up.png) no-repeat center center;
    transition-duration: .2s;
}

.backToTop {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    z-index: 9;
    transition-duration: .2s;
    background:#c0923f url(../images/arrow_up.png) no-repeat center center;
}


/*---------------------------------------menu-------------------------------*/
.mainMenuContainer {
    z-index: 9;
    margin: 0 auto;
    position: relative;
}
.sp-inner h5{
    font-size: 16px;
    float: right;
    padding: 0 40px 0 0;
    color: #fff;
}
.sp-inner h5 span{
    display: inline-block;
    margin-left:5px;
}
.main-navigation__button2 > svg{
    margin-left: 5px;
}
a.mobMenu {
    width: 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    background: #51A8B1 url(../images/menu.png) no-repeat center center;
    position: relative;
    left: 0;
    top: 50% !important;
    z-index: 9999;
    border-radius: 5px;
    transform: translateY(-50%);
    background-size: 20px;
}
.close-menu{
    position: absolute;
    top: 6px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: #51A8B1  url(../images/close.png) no-repeat center center;
    cursor: pointer;
    z-index: 99;
}
ul.mainMenu {
    /*display: none;*/
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow: visible;
    height: auto;
}
ul.mainMenu > li {
    position: relative;
    float: right;
    border: 0px;
    width: 100%;
    box-sizing: border-box;
}
ul.mainMenu > li > a {
    width: 100%;
    float: right;
    font-size: 14px;
    text-align: right;
    padding: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid #292929;
    text-decoration: none;
    transition: all 0.1s ease-out;
    color: #fff;
    border: none;
    box-sizing: border-box;
}
ul.mainMenu > li > a span {
    font-size: 18px;
    padding-left: 10px;

}

ul.mainMenu > li.active > a{
    color: #fff;
}

ul.mainMenu > li ul.subMenu {
    display: none;
    width: 100%;
    list-style: none;
}
ul.mainMenu > li ul.subMenu li {
    font-size: 14px;
    text-align: right;
    padding: 0px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}
ul.mainMenu > li ul.subMenu li a {
    width: 100%;
    float: right;
    font-size: 14px;
    text-align: right;
    padding: 0px 40px;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}

ul.mainMenu > li ul.subMenu li a:hover {
    color: #000;
}



ul.mainMenu > li ul.subMenu li ul {
    width: 100%;
    list-style: none;
    display: none;
}
ul.mainMenu > li ul.subMenu li ul li{
    font-size: 14px;
    text-align: right;
    padding: 0px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}
ul.mainMenu > li ul.subMenu li ul li a {
    width: 100%;
    float: right;
    font-size: 13px;
    text-align: right;
    padding: 0px 60px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    background: #3599c9;
    border-bottom: 1px solid #2479A2;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}
ul.mainMenu > li > ul.subMenu a span {
    padding-left: 5px;
}

@media (min-width: 992px) {
    ul.mainMenu > li > a span{
        color: transparent;
    }
    ul.mainMenu > li > a span:before{
        content: '';
        position: absolute;
        left: 10px;
        top: 48%;

        width: 10px;
        height: 10px;
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMi4wMTEgNTEyLjAxMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyLjAxMSA1MTIuMDExOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiPjxnPjxnPgoJPGc+CgkJPHBhdGggZD0iTTUwNS43NTUsMTIzLjU5MmMtOC4zNDEtOC4zNDEtMjEuODI0LTguMzQxLTMwLjE2NSwwTDI1Ni4wMDUsMzQzLjE3NkwzNi40MjEsMTIzLjU5MmMtOC4zNDEtOC4zNDEtMjEuODI0LTguMzQxLTMwLjE2NSwwICAgIHMtOC4zNDEsMjEuODI0LDAsMzAuMTY1bDIzNC42NjcsMjM0LjY2N2M0LjE2LDQuMTYsOS42MjEsNi4yNTEsMTUuMDgzLDYuMjUxYzUuNDYyLDAsMTAuOTIzLTIuMDkxLDE1LjA4My02LjI1MWwyMzQuNjY3LTIzNC42NjcgICAgQzUxNC4wOTYsMTQ1LjQxNiw1MTQuMDk2LDEzMS45MzMsNTA1Ljc1NSwxMjMuNTkyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojMDAwMDAwIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgoJPC9nPgo8L2c+PC9nPiA8L3N2Zz4=);
    }

    .mainMenuContainer {
        direction: rtl;
        float: right;
        width: 100%;

    }
    ul.mainMenu > li > ul.subMenu a span {
        display: none;
    }

    .mobMenu ,.close-menu {
        display: none;
    }
    ul.mainMenu {
        display: block;
        padding: 0;
        list-style: none;
    }
    ul.mainMenu > li {
        position: relative;
        float: right;
        width: auto;
        box-sizing: border-box;
        z-index: 9;
        width: 10%;
    }
    ul.mainMenu > li.resp-home-menu{
        display: none;
    }
    ul.mainMenu > li.has-menu a{
        padding-right: 20px;
    }

    ul.mainMenu > li:last-child{
        display: flex;
        align-items: center;
        float: none;
        height: 55px;
        border-left-width: 0px !important;
    }
    ul.mainMenu > li > a {
        width: 100%;
        float: right;

        font-size: 14px;
        text-align: center;
        padding: 0px 5px;
        line-height:55px;
        text-decoration: none;
        transition: all 0.2s ease-out;
        color: #000;
        box-sizing: border-box;
        position: relative;
    }
    ul.mainMenu > li.active > a{
        color: #fff;
    }



    ul.mainMenu > li > a:hover {
        color: #fff;
        background:rgb(81, 168, 177);
    }

    ul.mainMenu > li ul.subMenu {
        display: none;
        border-top:5px solid rgb(81, 168, 177);
        box-sizing: border-box;
        width: 180px;
        position: absolute;
        top: 100%;
        list-style: none;
        z-index: 99;
        -webkit-animation: in-top 500ms ease 0ms 1 forwards;
        animation: in-top 500ms ease 0ms 1 forwards;
    }
    ul.mainMenu > li.special ul.subMenu{
        width: 400px;
    }
    .sp-inner{
        float: right;
        width: 50%;
    }
    .sp-inner h5{
        font-size: 16px;
        border-bottom: 1px solid #129458;
        float: right;
        padding: 0 10px;
        color: #121212;
    }
    .sp-inner h5 span{
        display: none;
    }

    @-webkit-keyframes in-top {
        from {
            transform: translateY(25px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes in-top {
        from {
            transform: translateY(25px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }



    @-webkit-keyframes in-right {
        from {
            transform: translateX(-25px);
            opacity: 0;
        }
        to {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    @keyframes in-right {
        from {
            transform: translateX(-25px);
            opacity: 0;
        }
        to {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    ul.mainMenu > li:hover > ul.subMenu {
        display: block;
    }
    ul.mainMenu > li ul.subMenu li {
        font-size: 14px;
        text-align: right;
        padding: 0px;
        line-height: 60px;
        text-decoration: none;
        color: #fff;
        width: 100%;
        float: right;
        position: relative;
    }
    ul.mainMenu > li ul.subMenu li a {
        width: 100%;
        float: right;
        font-size: 14px;
        text-align: right;
        padding: 0px 10px;
        line-height: 35px;
        text-decoration: none;
        color: #121212;
        background:rgba(255,255,255,.95);
        border-bottom:1px solid #e6e6e6;
        transition: all 0.1s ease-out;
        box-sizing: border-box;
    }

    ul.mainMenu > li > ul.subMenu > li> a{
        position: relative;
        transition: .3s all ease;
    }
    ul.mainMenu > li > ul.subMenu li> a:hover,
    ul.mainMenu > li > ul.subMenu li> a.other-tour,
    ul.mainMenu > li >a.other-tour {
        color: #fff;
        background: #54a6b1;
    }



    ul.mainMenu > li ul.subMenu li ul {
        display: none;
        width: 160px;
        position: absolute;
        right: 100%;
        top: 0px;
        list-style: none;
        z-index: 99;
        animation:in-right .3s ease;
        border-right: 1px solid transparent;
    }
    ul.mainMenu > li> ul.subMenu >li:hover > ul {
        display: block;
    }
    ul.mainMenu > li ul.subMenu li ul li{
        font-size: 14px;
        text-align: right;
        padding: 0px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
    }
    ul.mainMenu > li ul.subMenu li ul li a {
        width: 100%;
        float: right;
        font-size: 13px;
        text-align: right;
        padding: 0px 10px;
        line-height: 35px;
        text-decoration: none;
        color: #111;
        background: rgba(255,255,255,.95);
        border-bottom: 1px solid #ddd;
        transition: all 0.1s ease-out;
        box-sizing: border-box;
    }

    ul.mainMenu > li ul.subMenu> li:last-child> a,
    ul.mainMenu > li ul.subMenu> li>ul li:last-child> a {
        border-bottom: none;
    }
    ul.mainMenu > li.menu-sep{
        width: 20%;
        min-height: 1px;
    }
}

ul.mainMenu:after{
    content: '';
    clear: both;
    display: block;
}
ul.mainMenu > li.has-menu:before{
    position: absolute;
    right: 5px;
    top: 6px;
    content: '';
    background: url(../images/dropdown.png) no-repeat;
    width: 25px;
    height: 25px;
    background-position: -3px -45px;
    transition: .2s all ease;
}
ul.mainMenu > li.has-menu:hover:before{
    background-position: -3px -5px;
}
/*--------------------------------------------------end menu-------------------------------*/
.temp-best-tour {
    padding: 40px 0;
    background-attachment: fixed;
    box-sizing: border-box;
}
.temp{
    margin: 20px auto;
    border-bottom: 1px solid #67c1ec;
    overflow: hidden;
}
.temp-content{
    padding: 0;
    overflow: hidden;
}
.detail .separator {
    margin-top: 5px;
    text-align: center;
    color:#67c1ec;
    padding: 0 5px;
    font-size: 24px;
    line-height: 35px;
}
.detail {
    direction: rtl;
    text-align: right;
    float: right;
    margin: 0 0 20px 0;
    border-bottom:1px solid #67c1ec;
    padding: 5px;
}
.detail p, .detail h1, .detail a, .detail span, .detail h2 {
    font-size: 20px;
    float: right;
    padding: 0 0 0 5px;
    font-family: iransans;
}
.detail a{
    color:#67c1ec;
    transition: .2s all ease;
}
.detail a:hover{
    color: #000
}
.temp-wrapper{
    min-height: 600px;
}
footer {
    overflow: hidden;
    background: url(../images/footer.jpg) no-repeat center bottom;
    padding-top: 150px;
}
.before-footer{
    height: 90px;
    background: linear-gradient(to bottom,#fff, #f9f9f9);
}
#g-map {
    width: 100%;
    height: 300px;
    margin: 10px auto;
}
.googleLabel {
    font: normal 12px 'IranSansLight';
}
.tmp-det-wrapper{
    overflow: hidden;
}
.logout-package-btn{
    float: left;
}

/* =============== CopyRight =============== */
.copyright {
    width: 100%;
    overflow: hidden;
    padding: 5px 0px;
    border-top: 1px solid #c0923f;
}
.copyright .company p, .copyright .irantech p {
    direction: rtl;
}
.copyright .company p a, .copyright .irantech p a {
    color:#c0923f;
    padding: 0px 5px;
    transition: all 0.3s ease;
}
.copyright .irantech p {
    text-align: left;
}
.copyright .irantech p a.cheapTour {
    color:transparent;
    font-size: 2px;
}
.copyright .irantech p a.it-link{
    padding-left: 35px;
    background: url(../images/irantech.png) no-repeat left center;
}

.links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    direction: rtl;
}
.links-wrapper a{
    width: 50%;
    color: #ffffff;
    font-family: yekan;
    padding: 2px 20px 2px 0;
    box-sizing: border-box;
    background: url(../images/f-left.png) no-repeat right center;
    text-align: right;
    transition: .2s all ease;
}
.links-wrapper a:hover{
    background: url(../images/f-left2.png) no-repeat right center;
    color: #01b5ca;
}

.logo{
    width: 90px;
    height: 80px;
    transition: .3s all ease;
    display: block;
    margin: 0 auto;
}
.logo-title img{
    width: 100%;
    height: 100%;
}

.logo-title  h1{
    line-height: 36px;
    font-size: 30px;
    text-align: right;
    color: #fff;
}
.logo-title a:hover{
    color: #eee;
}
.m-footer{
    padding-top: 20px;
    padding-bottom: 10px;
}
.f-title{
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}
.f-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 1px;
    background:#91f7da;
    z-index: 1
}
.f-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 1px;
    background: #0dbf9b;
    z-index: 2;
}

header{
    width: 100%;
    background:rgba(255,255,255,.85);
    padding: 0;
    z-index: 9;
    transition: .5s all ease;
    position: absolute;
    top: 0;
}
header .row{
    display: block;
}
.title h1{
    font-size: 26px;
    line-height: 0;
    text-indent:-9999px;
}
.title h1 a{
    color:#fff;
    transition: .2s all ease;
}

.title h2{
    font-size: 16px;
    line-height: 20px;
    color: #67c1ec;
    display: block;
    clear: both;
}
.ltr{
    direction: ltr;
}
.top-wrapper{
    position: relative;
    /*overflow: hidden;*/
    height: 150px;
}

.logo-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 50%;
    padding: 13px 10px 10px 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: auto;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px rgba(170, 170, 170, 0.40);
    top: 1px;
}
.menu-fix{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 1px 1px 2px #666;
    z-index: 999;
    background: #fff;
}
.menu-fix .logo-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 50%;
    padding: 3px 5px 5px 5px;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 3px 2px -2px #333;
    top:18px;

}
.menu-fix .logo {
    width: 55px;
    height: 45px;
}

.menu-fix .title h2{
    font-size: 14px;
}
.menu-fix ul.mainMenu{
    margin: 0 auto;
}
.menu-fix ul.mainMenu > li > a{
    line-height: 54px;
}
.menu-fix .social {
    padding-top: 12px;
}

.menu-fix .mainMenuContainer {
    margin-top: 0;
}


.all-title{
    font-size: 24px;
    line-height: 30px;
    margin:10px auto 30px;
    padding: 0 0 10px 0 ;
    position: relative;
    text-align: center;
    width: 100%;
    float: right;
}
.all-title:before{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #02b5ca;
}
.all-title:after{
    position: absolute;
    content: '';
    bottom: -1px;
    width: 100px;
    height: 3px;
    background:#221d59;
    left: 50%;
    transform: translateX(-50%);
}




.visa{
    background: url(../images/bg2.jpg) no-repeat center center fixed ;
    background-size: cover;
    padding: 50px 0;
    margin:30px 0 0;
}
.visa-h3{
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin:10px auto 30px;
}
.visa-p{
    width: 500px;
    color: #000;
    margin: 0 auto 20px;
    text-align: justify;
    direction: rtl;
    text-shadow: 1px 1px 1px #666;
    font-family: BKoodakBold;
    font-size: 18px;
}



/*arshian*/

.TrcBox {
    border:1px solid #221d59;
    margin: 0px auto;
    width: 200px;
    height: 32px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-sizing: border-box;
    float: left;

}
.TrcBut {

    background:#221d59 url(../images/patacc.png) no-repeat scroll center -2px;
    transition-duration: .2s;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    margin: 0;
    padding: 0;
    border: medium none;
    cursor: pointer;
    text-indent: 100px;
    outline: none;

}

.TrcTxt {
    width: 100%;
    height: 32px;
    float: right;
    margin: 0;
    padding: 0 10px 0 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    color: #666;
    direction: rtl;
    font: 12px Yekan, YekanNumber;
    outline: none;
    text-align: right;
    box-sizing: border-box;
}
.TrcBut:hover {
    background:#01b5ca url("../images/patacc.png") no-repeat scroll center -34px;
    transition-duration: .2s;
}
.top-menu{
    margin-right: auto;
    text-align: left;
    display: flex;
    width: 100% ;

}

.top-menu .menu li{
    float: right;
    position: relative;

}
.top-menu .menu li:last-child:before{
    display: none;
}
.top-menu .menu li:before{
    position: absolute;
    content: '';
    left: 0;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,.4),rgba(255,255,255,1),rgba(255,255,255,.4));
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}
.top-menu .menu li a{
    color: #fff;
    font-family: yekan;
    line-height: 70px;
    padding: 0 20px;
    transition: .2s all ease;
    display: block;
}
.top-menu .menu li a:hover{
    color: #01b5ca;
}
.top-menu .menu li.top-home{
    width: 50px;
    height: 70px;
    padding: 0 10px;
    box-sizing: border-box;
}
.top-menu .menu li.top-home a{
    background: url(../images/home.png) no-repeat center center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    background-size: contain;
}
.top-menu .menu li.top-home a:hover{
    background: url(../images/home2.png) no-repeat center center;
    background-size: contain;
}
.change-date{
    cursor: pointer;

}
.blackContainer{
    position: fixed;
    background: rgba(0,0,0,.5);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}



/*s-items*/
.slider-overlay{
    height: 300px;
    background:linear-gradient(#3ed48f , rgb(121, 245, 239));
    transform: skewY(-4deg);
    margin-top: -50px;
    margin-bottom: 20px;
}
.slider-overlay > .container{
    transform: skewY(4deg);
}
.s-item{
    width: 33.3%;
    float: right;
    text-align: center;
    padding-top: 100px;
}
.s-item .icon-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 10px auto;
    padding: 11px;
    box-sizing: border-box;
}
.s-item h3{
    font-size: 22px;
    color: #fff;
}









.main-title{
    position: relative;
    font-size: 26px;
    margin: 20px auto;
    color: #c0923f;
    width: 100%;
    text-align: center;
}
.main-title:before{
    content: '';
    width: 100%;
    left: 0;
    height: 8px;
    bottom: 0;
    background: url(../images/ttl1.png) no-repeat center center;
    position: absolute;
}
/*.main-title:after{
    content: '';
    width: 100px;
    left: 50%;
    height: 3px;
    bottom: -1px;
    background: #1b7d50;
    position: absolute;
    transform: translateX(-50%);
}*/

/*tour*/
.tour-item-a{
    display: block;
    width: 100%;
    height: 240px;
    position: relative;
    background: #fff;
    border-radius:40px 0px ;
    overflow: hidden;
}
.tour-item-a > img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius:40px 0px ;
    transition: 1s;
}


.tour-det h4 a {
    display: block;
    color: #3dc5a4;
    text-align: right;
    padding: 5px;
    font-size: 18px;
    line-height: 30px;
}














/*sp tour*/
.sp{
    background: url(../images/bg1.jpg) no-repeat center center fixed;
    padding: 30px 0;
    margin:30px 0;
}
.sp-a{
    width: calc( 40% - 10px );
    height: 250px;
    margin: 0px 0 0px 10px;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.sp-a img{
    width: 100%;
    height: 100%;
    display: block;
    transition: 2s all ease;
}
.sp-a:hover img{
    transform: scale(1.1) rotate(-4deg);
}
.sp .tour-det{
    float: right;
    padding: 0;
    width: 30%;
}
.sp .tour-det h4 a {
    color: #fff;
    text-shadow: 1px 1px 2px #111;
    font-size: 20px;
    padding: 0 0 10px 0;
}
.sp .tour-det p {
    color: #000;
    font-size: 14px;
}
.sp .tour-det p span{
    line-height: 25px;
}
.sp .main-title {
    color: #ffffff;
    text-shadow: 0px 1px 2px #000;
}

.sp-comment{
    float: right;
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
}















/*footer*/



.top-footer{
    box-sizing: border-box;
}
.top-footer .container{
    padding-top: 50px;
}
.f-tel{

    background: url(../images/f-tel.png) no-repeat center center;

}
.f-email{

    background: url(../images/f-email.png) no-repeat center center;
}
.f-address{
    background: url(../images/f-address.png) no-repeat center center;
}
.f-fax{

    background: url(../images/f-fax.png) no-repeat center center;
}




/*camera caption*/
.camera_caption h4 {
    font-size: 22px;
    padding: 0 20px;
    text-align: right;
    background: rgba(62, 212, 143,.7);
    line-height: 40px;
    height: 40px;
    margin-bottom: 10px;
    animation:slideInLeft .5s linear;
}
.camera_caption p {
    background: rgba(86, 225, 183,.8);
    padding: 0 20px;
    line-height: 30px;
    color: #121212;
    animation:slideInLeft 1s linear;
}
.camera_caption a.read-more {
    display: inline-block;
    padding: 0px 10px 3px 35px;
    color: #fff;
    background: #60e7c6 url(../images/more.png) no-repeat 5px center;
    margin: 10px 0;
    transition: .2s all ease;
    font-family: yekan;
    animation:fadeInUp 1.3s linear;
}
.camera_caption a.read-more:hover{
    background-color: #3abf9f;
}



/*inner tour*/

.inner-tour{
    margin-top: 120px;
}






/*customer-information*/
.c-i{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    transition: .3s all ease;
    z-index: 999;
}
.c-i li{
    list-style: none;
}
.customer{
    margin-top: 50vh;
}
.c-icon{
    background: url(../images/c-icon.png) no-repeat center center;
    padding: 0 0 0 45px;
    line-height: 40px;
    float: right;
    cursor: pointer;
    height: 45px;
    position: relative;
    transition:.2s all ease;

}
.c-icon:before{
    content: '';
    transition:.1s all ease;
    transition-delay: .4s;
    position: absolute;
    right: 5px;
    color: #fff;
    font-family: yekan;
}
.active-c-i .c-icon{

    padding: 0px 70px 0px 45px;
    background-position: 3px center;
}
.c-icon:hover,.i-icon:hover{
    background-color: #222;
}
.active-c-i .c-icon:before{
    content: 'مشتریان';

}
.information{

}
.i-icon{
    background: url(../images/i-icon.png) no-repeat center center;
    padding: 0 0 0 45px;
    line-height: 40px;
    float: right;
    cursor: pointer;
    height: 45px;
    position: relative;
    transition:.2s all ease;
}
.i-icon:before{
    content: '';
    transition:.1s all ease;
    transition-delay: .4s;
    position: absolute;
    right: 5px;
    color: #fff;
    font-family: yekan;
}
.active-c-i .i-icon{
    padding: 0px 70px 0px 45px;
    background-position: 3px center;
}
.active-c-i .i-icon:before{
    content: 'دانستنی ها';

}
.c-items{
    background: #222;
    position: absolute;
    right: 100%;
    width: 150px;
    height: 100%;
    top: 0;
    display: none;
    animation: fadeInRight .2s ease;
}

.c-items a{
    display: block;
    padding: 1px 10px;
    font-family: yekan;
    color: #fff;
    text-align: right;
    line-height: 40px;
    border-top: 1px solid #444;
    transition: .2s all ease;
}
.c-items  li:last-child a{
    border-bottom:  1px solid #444;
}
.active-c-i{
    background: #000;
}
.active-c-i>div >li:hover >.c-items {
    display: block;
}
.c-items a:hover{
    background: #444;
}
.c-items >ul{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.inner-tour > .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    direction: rtl;
}



/*hotel*/
.h-item{
    float: right;
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
}
.h-item >a{
    display: block;
    width: 100%;
    height: 380px;
    position: relative;
    overflow:hidden
}
.h-item >a img{
    display: block;
    width: 100%;
    height: 100%;
}
.h-overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    padding-top: 100px;
    display: none;
    transition: .3s all ease;
}
.h-item:hover .h-overlay{
    display: block;
}
.h-overlay h3{
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    animation: slideInLeft .2s ease;
}
.h-overlay p{
    text-align: center;
    animation: fadeInUp .5s ease;
}
.h-overlay p span:nth-child(1){
    display: inline-block;
    color: #fff;
    text-shadow: 1px 1px 2px #111;
    font-size: 16px;
}
.h-overlay p span:nth-child(2){
    display: inline-block;
    color: #54a6b1;
    text-shadow: 1px 1px 2px #111;
    font-size: 18px;
    font-family: yekanNumbers,iransans;
}
.h-overlay .stars{
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.stars .g-star{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px 1px;
    background: url(../images/g-star.png) no-repeat center center;
    background-size: contain;
    animation:bounceIn .4s ease;
}
.stars .n-star{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px 1px;
    background: url(../images/n-star.png) no-repeat center center;
    background-size: contain;
    animation:bounceIn .4s ease;
}

.world{
    background: url(../images/bg3.png) no-repeat center center fixed;
    background-size: cover;
    padding: 50px 0;
}
.newsletter-box{
    background: #fff ;
}
.newsletter-box> .container{
    background: #fff url(../images/newsletter.png) no-repeat left center;
    padding: 70px 0;
    /*background-size: contain; */
}
.newsletter-box h5{
    font: 24px/36px yekan;
    float: right;
}
.newsletter-box span{
    background: #51a8b1 url(../images/n-btn.png) no-repeat 5px center;
    padding: 5px 20px 5px 50px;
    font: 16px yekan;
    float: right;
    margin-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s all ease;
}
.newsletter-box span:hover{
    background-color: #51a8b1;
}
.icon-items{
    background: url(../images/bg4.jpg) no-repeat center center fixed;
    background-size: cover;
    padding:130px 0 100px;
}
.i-item a{
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    background: rgba(81, 168, 177, 0.44);
    transition: .3s all ease;
}
.i-item a:hover{
    background: rgba(81, 168, 177, 0.9);
}
/*.i-item a:hover img{
    transform:rotateY(360deg);
}*/
.i-item a img{
    display: block;
    margin: 35px auto;
    width: 80px;
    height: 80px;
    transition: 1s all ease;
}
.i-item  span{
    display: block;
    text-align: center;
    font: 20px yekan;
    color: #fff;
    text-shadow: 1px 1px 2px #111;
}



.myroom-hotel {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}
.myroom-hotel-item {
    flex: 0 0 calc(25% - 20px);
    text-align: right;
    margin:10px;
    background:white;
    color:#c0923f;
    border-radius: 6px;
}
.myroom-hotel-item .myroom-hotel-item-title {
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: right;
    padding: 10px;
    color:#fff;
    background: #c0923f;
    align-items: center;
    display: flex;
    font-size:14px;
}
.myroom-hotel-item .myroom-hotel-item-title span.close {
    width: 25px;
    height: 25px;
    opacity: 1;
    cursor: pointer;
    background: #e21b1b;
    margin-right: auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PHBvbHlnb24gc3R5bGU9ImZpbGw6I0ZGRkZGRiIgcG9pbnRzPSI0MDQuMTc2LDAgMjU2LDE0OC4xNzYgMTA3LjgyNCwwIDAsMTA3LjgyNCAxNDguMTc2LDI1NiAwLDQwNC4xNzYgMTA3LjgyNCw1MTIgMjU2LDM2My44MjQgICA0MDQuMTc2LDUxMiA1MTIsNDA0LjE3NiAzNjMuODI0LDI1NiA1MTIsMTA3LjgyNCAiIGRhdGEtb3JpZ2luYWw9IiNFMjFCMUIiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiNFMjFCMUIiPjwvcG9seWdvbj48L2c+IDwvc3ZnPg==);
    background-size:13px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
}
.myroom-hotel-item-info{
    padding:10px;

}

.fa-plus{
    background: center/13px no-repeat url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ0OCA0NDgiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHBhdGggZD0ibTQwOCAxODRoLTEzNmMtNC40MTc5NjkgMC04LTMuNTgyMDMxLTgtOHYtMTM2YzAtMjIuMDg5ODQ0LTE3LjkxMDE1Ni00MC00MC00MHMtNDAgMTcuOTEwMTU2LTQwIDQwdjEzNmMwIDQuNDE3OTY5LTMuNTgyMDMxIDgtOCA4aC0xMzZjLTIyLjA4OTg0NCAwLTQwIDE3LjkxMDE1Ni00MCA0MHMxNy45MTAxNTYgNDAgNDAgNDBoMTM2YzQuNDE3OTY5IDAgOCAzLjU4MjAzMSA4IDh2MTM2YzAgMjIuMDg5ODQ0IDE3LjkxMDE1NiA0MCA0MCA0MHM0MC0xNy45MTAxNTYgNDAtNDB2LTEzNmMwLTQuNDE3OTY5IDMuNTgyMDMxLTggOC04aDEzNmMyMi4wODk4NDQgMCA0MC0xNy45MTAxNTYgNDAtNDBzLTE3LjkxMDE1Ni00MC00MC00MHptMCAwIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiM1MUE4QjEiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIj48L3BhdGg+PC9nPiA8L3N2Zz4=);
}

.fa-minus{
    background:center/13px no-repeat url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAtMTkyIDQyNi42NjY2NyA0MjYiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGc+PHBhdGggZD0ibTQwNS4zMzIwMzEgNDNoLTM4NGMtMTEuNzczNDM3IDAtMjEuMzMyMDMxLTkuNTU4NTk0LTIxLjMzMjAzMS0yMS4zMzIwMzEgMC0xMS43NzczNDQgOS41NTg1OTQtMjEuMzM1OTM4IDIxLjMzMjAzMS0yMS4zMzU5MzhoMzg0YzExLjc3NzM0NCAwIDIxLjMzNTkzOCA5LjU1ODU5NCAyMS4zMzU5MzggMjEuMzM1OTM4IDAgMTEuNzczNDM3LTkuNTU4NTk0IDIxLjMzMjAzMS0yMS4zMzU5MzggMjEuMzMyMDMxem0wIDAiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6IzUxQThCMSIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD48L2c+IDwvc3ZnPg==);
}
.myroom-hotel-item-tedad {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}
.myroom-hotel-item-tedad:first-child {
    margin-bottom: 15px;
}
.myroom-hotel-item-tedad > span {
    font-weight: 200;
    font-size:12px;
}
.myroom-hotel-item-tedad > span i {
    font-style: normal;
    font-size:10px;
    font-weight: 200;
    color:#797979;
    padding-right: 4px;
}
.myroom-hotel-item-tedad > div {
    margin-right: auto;
    display: flex;
}
.myroom-hotel-item-tedad div input {
    width: 25px;
    font-size: 12px;
    border:none;
    text-align:center;
    height: 25px;
    line-height: 25px;
    -moz-appearance: textfield;
}
.myroom-hotel-item-tedad div > i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid #51a8b1;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 19px;
    font-size: 11px;
}
.tarikh-tavalods {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
.tarikh-tavalods .tarikh-tavalod-item {
    flex: 0 0 calc(50% - 2.5px);
    background: #ececec;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}
.tarikh-tavalods .tarikh-tavalod-item span {
    font-size:11px;
}
.tarikh-tavalods .tarikh-tavalod-item span i {
    font-style: normal;
    font-weight: bold;
}
.tarikh-tavalods .tarikh-tavalod-item select {
    font-size:12px;
    width: 100%;
}

/*footer*/
.f-item{
    text-align: center;
}
.f-item span:first-child{
    display: block;
    border: 2px solid #c0923f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px auto;
    background-color: #8958008c;
}

ul.mainMenu > li {
    padding-top: 0px !important;
}
.footer-txt{
    color: #555;
    font-size: 15px;
    text-align: center;
}

.temp-content{
    margin-top: 0 !important;
}

@media(max-width: 990px){
    .main-navigation__sub-menu2{
        width: 320px !important;
        left: 0 !important;
    }
    .menus .row{
        display: flex;
        flex-wrap: wrap;
    }
    .logo-title{
        position: relative;
        top: 0;
    }
}