.section_special_tour.section_tours .nav-tabs .nav-link{
    background: #ddd;
    color: #555;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 100px !important;
    border: 1px solid #fff;
    transition: all .3s;
    font-size: .9rem;
    margin: 0 5px;
}
.section_special_tour.section_tours .nav-tabs .nav-link.active{
    background: #ffa900 !important;
}
.search_box_div .nav-tabs {
    border: none;
    font-size: 0;
    width: 20%;
    display: grid;
    text-align: center;
    direction: rtl
}

.search_box_div .nav-tabs li {
    width: 100%;
    display: inline-block;
    background: #fff;
    padding: 0;
    font-size: 14px;
    border-radius: 4px;
    margin: 4px 2px
}

.search_box_div .nav-tabs li a {
    width: 100%;
    padding: 10px;
    transition: all ease .4s;
    display: inline-block;
    border-radius: 4px;
    color: #4d4d4d !important;
    font-size: 12px;
    height: 100%;
    line-height: 38px;
}

.search_box_div .nav-tabs li a.active {
    background-color: #ffa900 !important;
    color: #ffffff !important;
    border: 1px solid transparent !important;
}

.search_box_div .nav-tabs i {
    display: block;
    font-size: 20px;
    color: #858585b3
}

.tab-content {
    width: 80%
}

.switch {
    position: relative;
    width: 240px;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    background: rgba(44, 32, 192, 0.8);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 25px
}

.tavarikh_car #raft3, .tavarikh_car #raft4 {
    border-radius: 0 30px 30px 0;
    padding-right: 15px
}

.tavarikh_car .select2-container {
    width: 50% !important
}

.tavarikh_car .select2-selection--single {
    border-radius: 30px 0 0 30px !important
}

.switch2 {
    direction: rtl;
    width: 90%
}

.switch2 label {
    width: 50% !important;
    font-size: 10px
}

.switch span {
    position: absolute;
    width: 20px;
    background: none;
    left: 50%;
    color: #d8d1d1;
    top: 8px;
    margin: -2px 0px 0px -4px;
    display: block;
    transition: all 0.2s ease;
    border-radius: 2px
}

input[type=radio] {
    display: none
}

.switch label {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    width: 110px;
    line-height: 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease
}

label[for=yes] {
    position: absolute;
    right: 0px;
    height: 20px
}

label[for=no] {
    position: absolute;
    left: 0px;
}

#tour-raftobar:checked ~ .switch ,
#no:checked ~ .switch {
    background: #ffa900;
}

#raftobar:checked ~ .switch span ,
#no:checked ~ .switch span {
    transform: rotate(180deg);
    margin-left: -8px;
    top: 3px;
}

#no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-left: 8px;
}

#yes:checked ~ .switch label[for=yes] , #rdo-3:checked ~ .switch label[for="rdo-3"] {
    color: #fff;
}

#no:checked ~ .switch label[for=no] ,#rdo-4:checked ~ .switch label[for=rdo-4]{
    color: #fff;
}

label[for=yes1], label[for=yes2] {
    position: absolute;
    right: 0px;
    height: 20px
}

label[for=no1], label[for=no2] {
    position: absolute;
    left: 0px
}

#no1:checked ~ .switch, #no2:checked ~ .switch, #rdo-4:checked ~ .switch {
    background: #ffa900
}

#no1:checked ~ .switch span, #no2:checked ~ .switch span , #rdo-4:checked ~ .switch span {
    transform: rotate(180deg);
    margin-left: -8px;
    top: 5px;
}

#no1:checked ~ .switch span:after, #no2:checked ~ .switch span:after ,#rdo-4:checked ~ .switch span:after{
    background: #fff;
    height: 20px;
    margin-left: 8px
}

#yes1:checked ~ .switch label[for=yes1], #yes2:checked ~ .switch label[for=yes2] ,  #rdo-3:checked ~ .switch label[for=rdo-3] {
    color: #fff
}

#no1:checked ~ .switch label[for=no1], #no2:checked ~ .switch label[for=no2],#rdo-4:checked ~ .switch label[for=no1]  {
    color: #fff
}

.select, .tavarikh, .mosafer, .tavarikh_hotel , .select1 {
    width: 100%;
    position: relative;
    text-align: right;
    margin: 0 auto;
    padding: 8px 0
}

.select label, .tavarikh label, .mosafer label, .tavarikh_hotel label, .select1 label {
    text-align: right;
    font-size: 12px;
    padding: 1px 10px;
    color: #525252
}

.tavarikh_hotel .tarikh_input {
    width: 100%;
    height: 50px;
    border: none;
    text-align: right;
    font-size: 12px;
    border-radius: 30px;
    padding-right: 10px
}

.tavarikh {
    direction: rtl
}

.tavarikh .switch_icon {
    z-index: 2
}

.tavarikh .tarikh_input {
    z-index: 1;
    width: 50%;
    height: 47px;
    border: none;
    text-align: right;
    font-size: 12px
}

.tavarikh #departure_date_internal , .tavarikh  #departure_date_international{
    border-radius: 0 30px 30px 0;
    padding-right: 15px
}

.tavarikh #arrival_date_internal, .tavarikh #arrival_date_international {
    border-radius: 30px 0 0 30px;
    padding-right: 25px
}

.switch_icon {
    background: rgba(255, 169, 0, 0.68) url("../images/switch.png") no-repeat center/contain;
    position: absolute;
    transition: all ease .4s;
    left: 51%;
    top: 14px;
    height: 25px;
    width: 25px;
    border: 1px solid #eee;
    border-radius: 50%;
    background-size: contain
}

.switch_icon:hover {
    background-color: #ffa900;
    transform: rotate(180deg)
}

.mosafer {
    text-align: right
}

.raft, .bargasht {
    text-align: right
}

.bargasht input {
    padding-right: 22px
}

.dateha .centered {
    margin: auto
}

.dateha .group {
    overflow: hidden;
    position: relative
}

.box-of-count-nafar {
    direction: rtl !important;
    height: 47px !important;
    background-color: white !important;
    position: relative !important;
    cursor: pointer !important;
    border-radius: 50px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 0 !important;
    z-index: 5 !important;
    padding: 12px 17px;
}

.cbox-count-nafar, .cbox-count-nafar1 {
    min-width: 100%;
    position: absolute;
    width: 230px;
    border: 1px solid #D1D1D1;
    top: 50px;
    z-index: 10;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    padding: 3px;
    right: -1px;
    background-color: white;
    display: none;
    cursor: default
}

.cbox-count-nafar-ch {
    padding: 7px 0 5px 0
}

.type-of-count-nafar {
    color: #999;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    vertical-align: middle;
    line-height: 25px
}

.num-of-count-nafar {
    color: #999;
    padding-left: 5px;
    text-align: left;
    font-size: 12px;
    font-size: 0
}

.counting-of-count-nafar {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 27px;
    display: inline-block;
    border: 1px solid #D1D1D1;
    font-size: 12px
}

.plus-nafar, .minus-nafar {
    line-height: 2 !important;
    cursor: pointer
}

.text-count-nafar {
    font-size: 12px !important;
    font-family: 'sansm' !important;
    color: #919191 !important;
    position: static !important;
    line-height: 50px !important;
    text-align: right !important;
}

.down-count-nafar {
    color: #274480 !important;
    line-height: 50px !important;
    text-align: left  !important;
    position: absolute  !important;
    top: -1px  !important;
    left: 12px  !important;
    font-size: 18px  !important;
    padding-right: 9px !important;
}
#tour-raft:checked ~ .switch label[for="tour-raft"] {
    color: #fff;
}
#tour-raftobar:checked ~ .switch label[for="tour-raftobar"] {
    color: #fff;
}
.search_btn_div {
    width: 100%;
    margin: 0 auto
}
.history_items_search .div_c_sr::before{
    display: none !important;
}
.parent-svg{
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid var(--mainColor);
    border-radius: 100%;
    margin: 0 5px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.parent-svg svg{
    width: 15px;
    height: 15px;
    fill: #737373;
}

.search_btn_div .search_button {
    border-radius: 30px;
    line-height: 30px;
    transition: all ease .4s;
    width: 100%;
    height: 47px;
    border: none;
    background-color: #ffa900;
    color: #fff;
    margin-top: 15px
}

.search_btn_div .search_button:hover {
    background-color: #2c20c0
}

.days-in-hotel {
    direction: rtl;
    font-size: 14px;
    height: 46px;
    border-radius: 30px;
    line-height: 46px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: #fff;
    padding-right: 10px;
    margin: 15px auto
}

.days-in-hotel i {
    font-size: 19px;
    position: relative;
    top: 4px
}

.days-in-hotel .result-st {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    margin-right: 5px;
    color: #ffa900;
    display: inline
}
.soon-tab{ padding: 40px 0}
.soon-tab h3 {
    margin: 20px auto;
    text-align: center
}

.soon-tab p {
    text-align: center;
    color: #968f8f
}

.nafaratbime {
    text-align: right
}

.nafarat-bime {
    direction: rtl;
    display: inline-block;
}

.nafarat-bime input {
    width: 100%;
    border: none;
    border-radius: 25px !important;
    padding: 12px 17px;
    height: 47px;
    font-size: 13px;
}
#GashtTransfer h3{
    text-align: center;

}

#GashtTransfer p{
    text-align: center;
}
@media (max-width: 991px) {
    .search_box_div .nav-tabs{ width: 100%;}
    .search_box_div .nav-tabs li{ width: 21%;}
    .search_box_div .nav-tabs{ display: inline-block}
    .tab-content{ width: 100%}
    .search_box{ max-width: 100% !important;}
    .select label, .tavarikh label, .mosafer label, .tavarikh_hotel label {
        color: #fff
    }

    .carousel-inner {
        height: 400px
    }

    .search_box {
        bottom: 0;
        width: 100%;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        padding: 10px;
        background: #fff
    }

    .search_box .container {
        margin: 0 auto !important;
        background-color: rgba(0, 0, 0, 0.69) !important;
        padding: 10px !important;;
    }
}

@media (max-width: 550px) {
    .search_btn_div .search_button{ line-height: 44px !important;}
    .search_box_div .nav-tabs li {
        width: 31%
    }
}

.search_box .container {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    margin: 0;
    border-radius: 5px;
    padding: 20px;
}
#OriginPortal , #DestinationPortal{width: 100%;
    height: 50px;
    border: none;
    text-align: right;
    font-size: 12px;
    border-radius: 30px;
    padding-right: 10px;
    position: relative;}
/*# sourceMappingURL=tabs.css.map */


.city_start {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #555;
    padding: 5px 0;
}

.city_start i {
    color: #ccc;
    margin-left: 10px;
}

.hotel_passenger_picker, .package_passenger_picker, .hotel_local_passenger_picker {
    width: 100%;
    height: 47px;
    border-radius: 55px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: #fff;
    cursor: pointer;
}
.count-passenger{
    text-align: right;
}
.package_passenger_picker {
    padding-left: 0;
}

.hotel_local_passenger_picker {
    padding-left: 0;
}

.hotel_passenger_picker > span, .hotel_local_passenger_picker > span, .package_passenger_picker > span {
    font-size: 12px;
    color: #8e8e8e;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.hotel_passenger_picker ul, .hotel_local_passenger_picker ul, .package_passenger_picker ul {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    width: 100%;
}

.hotel_passenger_picker ul li, .hotel_local_passenger_picker ul li, .package_passenger_picker ul li {
    font-size: 12px;
    color: #777;
    text-align: revert;
}

.hotel_passenger_picker ul em, .hotel_local_passenger_picker ul em, .package_passenger_picker ul em {
    font-style: normal;
    padding: 0 3px
}
.active_p, active_hotel_local {
    opacity: 1;
    transform: scale(1);
}
.myhotels-rooms, .mypackege-rooms, .hotel_local-rooms {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    width: 100%;
    overflow-y: auto;
    max-height: 250px;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);
    background: #fff;
    padding-bottom: 10px;
    transition: all ease .4s;
    z-index: 2;
}

.mypackege-rooms, .hotel_local-rooms {
    min-width: 280px;
}

.active_p, active_hotel_local {
    opacity: 1;
    transform: scale(1);
}

.myroom-hotel-item-tedad h6 {
    margin-left: 6px;
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
}

.btn_add_room:hover, .btn_add_room:hover {
    background: #eee;
}

.btn_add_room, .btn_add_room_p, .btn_add_room_hotel_local {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 8px;
    border-radius: 5in;
    border: 1px dashed #ccc;
    cursor: pointer;
    transition: all ease .4s;
    margin-right: 10px;
    margin-left: 10px;
    color: #777;
}

.btn_add_room i {
    margin-left: 10px;
}

.myroom-hotel {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.myroom-hotel-item .myroom-hotel-item-title {
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: right;
    padding: 6px 10px;
    line-height: 25px;
    color: #333;
    display: flex;
    font-size: 14px;
}

.alert-warning {
    text-align: right;
    background: var(--mainColor);
}

.myroom-hotel-item-tedad:first-child {
    margin-bottom: 15px;
}

.myroom-hotel-item-tedad > span {
    font-weight: 200;
    font-size: 12px;
}

.myroom-hotel-item-tedad > span i {
    font-style: normal;
    font-size: 10px;
    font-weight: 200;
    color: #797979;
    padding-right: 4px;
}

.myroom-hotel-item-tedad > div {
    margin-right: auto;
    display: flex;
}

.myroom-hotel-item-tedad div input {
    width: 25px;
    font-size: 12px;
    border: none;
    text-align: center;
    height: 25px;
    line-height: 25px;
    -moz-appearance: textfield;
    padding: 0
}

.myroom-hotel-item-tedad div > i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 19px;
    font-size: 11px;
}

.tarikh-tavalods {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}

.tarikh-tavalods .tarikh-tavalod-item {
    flex: 0 0 100%;
    display: flex;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.tarikh-tavalods .tarikh-tavalod-item:last-child {
    border: none;
}

.tarikh-tavalods .tarikh-tavalod-item span {
    font-size: 11px;
}

.tarikh-tavalods .tarikh-tavalod-item span i {
    font-style: normal;
    font-weight: bold;
}

.myroom-hotel-item-tedad div > i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 19px;
    font-size: 11px;
}

.tarikh-tavalods {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}

.tarikh-tavalods .tarikh-tavalod-item {
    flex: 0 0 100%;
    display: flex;
    padding: 5px 0;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.tarikh-tavalods .tarikh-tavalod-item:last-child {
    border: none;
}

.tarikh-tavalods .tarikh-tavalod-item span {
    font-size: 11px;
}

.tarikh-tavalods .tarikh-tavalod-item span i {
    font-style: normal;
    font-weight: bold;
}

.tarikh-tavalods .tarikh-tavalod-item select {
    font-size: 12px;
    margin-right: auto;
    background: transparent;
    border: 1px solid var(--mainColor);
    border-radius: 1rem;
    cursor: pointer;
    width: 97px;
    height: 30px;
    padding: 3px 5px;
    color: #777;
}

.myroom-hotel {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.myroom-hotel-item, .myroom-hotel_local-item, .myroom-package-item {
    flex: 0 0 calc(25% - 20px);
    text-align: right;
    margin: 10px;
    background: white;
    border-radius: 5px;
}

.myroom-hotel-item-title, .myroom-hotel_local-item-title, .myroom-package-item-title {
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: right;
    padding: 6px 10px;
    line-height: 25px;
    color: #333;
    font-family: var(--fontFamily);
    display: flex;
    font-size: 14px;
}

.myroom-hotel-item .myroom-hotel-item-title span.close, .myroom-hotel_local-item .myroom-hotel_local-item-title span.close, .myroom-package-item-title span.close {
    width: 25px;
    height: 25px;
    opacity: 1;
    cursor: pointer;
    margin-left: 5px;
    background-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myroom-hotel-item .myroom-hotel-item-title i, .myroom-hotel_local-item .myroom-hotel_local-item-title i, .myroom-package-item-title i {
    color: var(--mainColor);
}

.myroom-hotel-item-info, .myroom-hotel_local-item-info, .myroom-package-item-info {
    padding: 10px;
}

.myroom-hotel-item-tedad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    color: #999;
}

.myroom-hotel-item-tedad > span {
    font-weight: 200;
    font-size: 12px;
}

.myroom-hotel-item-tedad > span i {
    font-style: normal;
    font-size: 10px;
    font-weight: 200;
    color: #797979;
    padding-right: 4px;
}

.myroom-hotel-item-tedad > div {
    margin-right: auto;
    display: flex;
}

.myroom-hotel-item-tedad div input {
    width: 25px;
    font-size: 12px;
    border: none;
    text-align: center;
    height: 25px;
    line-height: 25px;
    -moz-appearance: textfield;
    padding: 0;
    cursor: default;
    user-select: none;
}

.myroom-hotel-item-tedad div input:focus-visible {
    outline: none;
}


















.special_tour_main_a {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px #ddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.special_tour_main_img > img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 250px;
    object-fit: cover;
}

.special_tour_main_div {
    padding: 1rem;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: flex-start;
}

.special_tour_main_div > h2 {
    font-size: 1rem;
    color: #555;
    margin: 0;
    margin-bottom: 1rem;
}

.special_tour_main_div_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    width: 100%;
    margin: 20px 0;
}

.special_tour_main_div_grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    color: #737373;
    gap: 5px;
}

.special_tour_main_div_grid > div > h6 {
    margin: 0;
    font-size: 14px;
}

.special_tour_main_div_grid > div > i > svg {
    width: 1rem;
    height: 1rem;
    fill: #6f6f6f;
}

.special_tour_main_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: #e6e6e6;
    border-radius: 10px;
}

.special_tour_main_footer > button {
    border: 1px solid #ddd;
    padding: 8px 18px;
    border-radius: 10px;
    background: #777777;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special_tour_main_footer > h5 {
    font-size: 15px;
    margin: 0;
    color: #555;
}

