body {
    line-height: 1;
	font: normal 14px 'IranSansLight';
	overflow-x: hidden;
    background: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
	font: normal 30px "Yekan","YekanNumbers";
    margin: 0px;
    padding: 0px;
}
a:hover, a:focus{
    text-decoration: none;
}
ul li{
  list-style: none;
}

.top-header{
    padding: 0;
    float: left;
}



.clear{
    clear: both;
}


.TrcBox {
    border: 1px solid #c41e22;
    margin: 5px 0;
    width: 80%;
    height: 32px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;

}
.TrcBut {

    background:#a01619 url(../images/patacc.png) no-repeat scroll center -2px;
    transition-duration: .2s;
     width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    margin: 0;
    padding: 0;
    border: medium none;
    cursor: pointer;
    text-indent: 100px;
    outline: none;

}

.TrcTxt {
    width: 100%;
    height: 26px;
    float: right;
    margin: 0;
    padding: 2px 10px 0 0;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #666;
    direction: rtl;
    font: 14px Yekan, YekanNumber;
    outline: none;
}
.TrcBut:hover {
    background:#c41e22 url("../images/patacc.png") no-repeat scroll center -34px;
    transition-duration: .2s;
}

footer{
    margin-top: 0;
}


.backToTop:hover{
    background:#a21216 url(../images/arrow_up.png);
    transition-duration: .2s;
}

.backToTop {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    transition-duration: .2s;
    background:#c41e22 url(../images/arrow_up.png);
}



/*---------------------------------------menu-------------------------------*/
.mainMenuContainer {
background:#c41e22;
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}

a.mobMenu {
       width: 100%;
    float: right;
    line-height: 50px;
    color: #fff;
    text-align: center;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    background: #DB0811;
}
ul.mainMenu {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
        overflow: visible;
    height: auto;
}
ul.mainMenu > li {
    position: relative;
    float: right;
    border: 0px;
    width: 100%;
    box-sizing: border-box;
    perspective: 300px; 
}
ul.mainMenu > li > a {
    width: 100%;
    float: right;
    font-size: 14px;
    text-align: right;
    padding: 0px 20px;
    line-height: 40px;
    /*border-bottom: 1px solid #292929;*/
    text-decoration: none;
    transition: all 0.1s ease-out;
    color: #fff;
    border: none;
}
ul.mainMenu > li > a span {
    font-size: 18px;
    padding-left: 10px;
}
ul.mainMenu > li > ul.subMenu a span {
    padding-left: 5px;
    display: none;
}


ul.mainMenu > li ul.subMenu {
    display: none;
    width: 100%;
    list-style: none;
}
ul.mainMenu > li ul.subMenu li {
    font-size: 14px;
    text-align: right;
    padding: 0px;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}
ul.mainMenu > li ul.subMenu li a {
    width: 100%;
    float: right;
    font-size: 14px;
    text-align: right;
    padding: 0px 10px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    background: #fff;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-right: 3px solid #ccc;
}


ul.mainMenu > li ul.subMenu li a:hover {
    color: #c41e22;
    border-right-color: #c41e22;
}

ul.mainMenu > li ul.subMenu li ul li a:hover {
    color: #000;
}

ul.mainMenu > li ul.subMenu li ul {
    width: 100%;
    list-style: none;
    display: none;
}
ul.mainMenu > li ul.subMenu li ul li{
    font-size: 14px;
    text-align: right;
    padding: 0px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}
ul.mainMenu > li ul.subMenu li ul li a {
    width: 100%;
    float: right;
    font-size: 13px;
    text-align: right;
    padding: 0px 30px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,.9);
    /*border-bottom: 1px solid #393939;*/
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}
ul.mainMenu > li ul.subMenu li ul li a:hover {
    background: #fff;
    color: #000;
}
@media (max-width: 768px) {

    .loginreg{ text-align: center}
}
@media (min-width: 768px) {
    .mainMenuContainer {

    }
    .mainMenuContainer .mobMenu {
        display: none;
    }
    ul.mainMenu {
        display: block;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }
    ul.mainMenu > li {
    position: relative;
    float: right;
    width: 14.22%;
    box-sizing: border-box;
    padding: 3px 0;
        box-shadow: inset 3px 3px 0 #a21216;
    border-right: solid 1px #cc3d41;
        z-index: 99;
    }
  
    ul.mainMenu > li.top-logo{
    width: 30%;
    }
     ul.mainMenu > li.top-logo a{
        text-align: right;
     }



    ul.mainMenu > li.top-logo:hover>a{
        background-color: unset;
    }
    ul.mainMenu > li:last-child, ul.mainMenu > li.active {
        border-left-width: 0px !important;
    }
    ul.mainMenu > li > a {
    width: 100%;
    float: right;
    text-align: right;
    padding: 0 24px 0 0;
    line-height: 45px;
    text-decoration: none;
    transition: all 0.1s ease-out;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    }
    ul.mainMenu > li > a.has-menu{
        background: url(../images/down.png) no-repeat 8px center;
    }
    ul.mainMenu > li > a span {
        display: none;
    }
    ul.mainMenu > li.top-logo h1 span{
    display: block;
    text-align: center;
    font-family: yekan;
    font-size: 14px;
    color: #000;
    text-shadow: none;
    vertical-align: top;
    line-height: 8px;
    }

    ul.mainMenu > li > a:hover{
       box-shadow:inset 3px 3px 0 #921013;
    }
     ul.mainMenu > li.active a{
            background: #a21216;
     }

    ul.mainMenu > li ul {
        display: none;
        width: 190px;
        position: absolute;
        right: 0px;
        top: 100%;
        /*padding-top: 2px;*/
        list-style: none;
        z-index: 999;
    -webkit-animation: fademenu 500ms ease 0ms 1 forwards;
        animation: fademenu 600ms ease 0ms 1 forwards;
    }
      ul.mainMenu > li:hover > ul{
        display: block;
    }
    @-webkit-keyframes fademenu{
        from {
        opacity: 0;
        }
        to {
        opacity: 100%
        }
    }
    @keyframes fademenu{
        from {
             opacity: 0;
        }
        to {
             opacity: 100%
        }
    }



    ul.mainMenu > li ul.subMenu li {
        font-size: 16px;
        text-align: right;
        padding: 0px;
        line-height: 60px;
        text-decoration: none;
        color: #fff;
        width: 100%;
    float: right;
    position: relative;
    perspective: 400px;
    }

    ul.mainMenu > li ul.subMenu li ul {
        display: none;
        width: 150px;
        position: absolute;
        right: 190px;
        top: 0px;
        padding-top: 2px;
        padding-right: 2px;
        list-style: none;
        z-index: 99;
    }

    ul.mainMenu > li ul.subMenu li ul li{
        font-size: 14px;
        text-align: right;
        padding: 0px;
        line-height: 40px;
        text-decoration: none;
        color: #fff;
    }


/*menu icons*/
ul.mainMenu > li > a:before{
position: absolute;
content: '';
width: 16px;
height: 16px;
top: 14px;
right: 4px;

}
ul.mainMenu > li > a.home:before{
content: '';
background: url(../images/home.png) no-repeat center center;
background-size: contain;
}
ul.mainMenu > li > a.t1:before{
content: '';
background: url(../images/t1.png) no-repeat center center;
background-size: contain;
}
ul.mainMenu > li > a.t2:before{
content: '';
background: url(../images/t2.png) no-repeat center center;
background-size: contain;
}
ul.mainMenu > li > a.t3:before{
content: '';
background: url(../images/t3.png) no-repeat center center;
background-size: contain;
}

ul.mainMenu > li > a.visa:before{
content: '';
background: url(../images/visa.png) no-repeat center center;
background-size: contain;
}
ul.mainMenu > li > a.about:before{
content: '';
background: url(../images/about.png) no-repeat center center;
background-size: contain;
}
ul.mainMenu > li > a.contact:before{
content: '';
background: url(../images/contact.png) no-repeat center center;
background-size: contain;
}


}

/*--------------------------------------------------end menu-------------------------------*/

.temp{
    margin: 20px auto 40px;
    border-bottom: 1px solid #de6b6e;
    border-left: none;
    border-right: none;
}
.temp-content{
    padding: 10px 0 0;
    overflow: hidden;
}
.separator {
    background-image: url(../images/separator.png);
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.temp-wrapper{
    padding: 10px;
}
.temp-wrapper p{
    text-align: center;
}
.detail {
    direction: rtl;
    text-align: right;
    float: right;
    margin: 0 0 15px 0;
    border-bottom:1px solid #a01619;
    padding: 5px;
}
.detail p, .detail h1, .detail a, .detail span, .detail h2 {
    font-size: 20px;
    float: right;
    padding: 0 0 0 5px;
    font-family: iransans;
}
.detail a{
    color: #c41e22;
}
.detail a:hover{
    color: #000
}
footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #fff;
    direction: rtl;
}


/* =============== CopyRight =============== */
.copyright {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5px 0px;
    background: #f1f1f1;
    border-top: solid 3px #e4e4e4;
}
.copyright .company p, .copyright .irantech p {
    direction: rtl;
    color: #333;
}
.copyright .company p a, .copyright .irantech p a {
    color: #c41e22;
    padding: 0px 5px;
    opacity: 1;
    transition: all 0.3s ease;
}
.copyright .irantech p {
    text-align: left;
}
.copyright .irantech p a.cheapTour {
       color:#f1f1f1;
    font-size: 1px;
}
.copyright a:hover {
    opacity: 1 !important;
}
.stat{
	float:right;
	width:20px;
	height:20px;
	margin:5px 0 0 15px;
}
.stat p{
	margin:0;
	padding:0;
}
@media (max-width: 991px) {
    .copyright .company p, .copyright .irantech p {
        text-align: center;
    }
}
/* =============== Back to Top =============== */
.backToTop {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
    transition-duration: .2s;
}

/* slider */
.slider-caption
{
    position: absolute;
    background: rgba(188, 36, 36, 0.7019607843137254);
    width: 440px;
    height: 80px;
    bottom: 50px;
    left: 50px;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
}

/*-----------saman safar--------------*/

.top-logo img{
    /*width: 160px;*/
    height: 85px;
    margin-top: 8px;

}

footer p span{
    direction: ltr;
}


footer span a:hover{
    color: #fff;
}


header{
    background: #fff;
}
.top-logo{
    float: right;
        direction: rtl;
}
.top-logo a{
        display: inline-block;
    vertical-align: middle;
}
.top-ttl{
    display: inline-block;
    vertical-align: middle;
}
.tour-inner > a{
    display: block;
    overflow: hidden;

}
.tour-inner > a img{
    width: 100%;
    height: 215px;
    transition: .2s;
    border-radius: 4px 4px 0 0;
    display: block;
}

.tour-item{
    margin:10px auto;
}
.tour-inner{
    background: #fff;
    padding: 0;
    box-shadow: 1px 1px 3px #aaa;
    border-radius: 4px;
}
.tour-det{

}
.tour-det h6{
    font-size: 14px;
        margin: 2px 10px;
}
.tour-inner h4 a:first-child{
    color: #fff;
    font-size: 14px;
    text-align: right;
        width: 60%;
        float: right;
        line-height: 45px;
        height: 45px;
        background: #171b1e;
        font-family: yekan,YekanNumbers;
        box-sizing: border-box;
        transition: .2s all ease;
        padding-right:10px;
}
.tour-inner h4 a:last-child{
    color: #fff;
    font-size: 14px;
    text-align: center;
        width: 40%;
        float: right;
        line-height: 45px;
        height: 45px;
        background: #020202;
        font-family: yekan,YekanNumbers;
        box-sizing: border-box;
        transition: .2s all ease;
            border-right: solid 2px #2d353b;
}
.tour-inner h4 a:hover{
    color: #ec3035;
}



.tour-inner h5 span:first-child{
    color: #fff;
    font-size: 14px;
    text-align: right;
    width: 60%;
    float: right;
    line-height: 45px;
    height: 45px;
    font-family: yekan,YekanNumbers;
    box-sizing: border-box;
    transition: .2s all ease;
    padding-right: 10px;
    background: #c41e22;
    border-top: 2px solid #98181b;
}
.tour-inner h5 span:last-child{
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 40%;
    float: right;
    line-height: 45px;
    height: 45px;
    background: #a01216;
    font-family: yekan,YekanNumbers;
    box-sizing: border-box;
    transition: .2s all ease;
    border-right: solid 2px #881316;
    border-top: 2px solid #770a0d;
}
.tour-inner p{
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    direction: rtl;
    overflow: hidden;
}

.tour-det> a{
color: #c41e22;
    font-family: yekan;
    padding: 0px 10px;
    border-radius: 5px;
    margin: 4px 0px;
    line-height: 29px;
    transition: .2s all ease;
    display: block;
    text-align: right;
}
.tour-det> a:hover{
    color: #a01216;
}
.main-title{
text-align: right;
    position: relative;
    margin: 10px auto 30px;
        font-size: 24px;
}
.main-title:before{
    content: '';
    background: #ccc;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 1px;
    left: 0;
}

.main-title:after{
    content: '';
    background: #c41e22;
    width: 50px;
    bottom: -1px;
    position: absolute;
    height: 3px;
    left: 0;
}



/*chavosh*/
.top-tel{
    padding-top: 5px;

}
.top-tel a{
        font-family: yekanNumbers;
    color: #444;
    background: url(../images/top-tel.png) no-repeat right center;
    padding-right: 22px;
    font-size: 18px;
    line-height: 20px;
}
.top-footer{
        background: #c41e22;
    height: 45px;
    line-height: 45px;
     border-bottom: solid 3px #f1f1f1;     
}
.top-footer a{
        float: left;
    color: #fff;
    font-family: yekan;
    padding: 0 45px 0 10px;
    background:#a01619 url(../images/f-telegram.png) no-repeat 95% center;
margin-left: 15px;
}
#g-map{
    height: 200px;
    margin-top: 40px;
}



/*newsletter*/
.NewsLetterBox input[type="text"] {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
    margin-bottom: 5px;
    font: normal 14px "Yekan","YekanNumbers";
    text-align: right;
    border: none;
    outline: none;
    color: #d9bb4b;
    background-color: #f1f1f1;
    box-shadow: inset 3px 3px #d7d7d7;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 3px
}
.NewsLetterBox input[type="text"]:hover {
box-shadow: inset 3px 3px #bebebe;

}
.NewsLetterBox input[type="text"]:focus {
    background-color: #e0618c;
    box-shadow: inset 3px 3px #d8366d;
    color: #fff;
}
.NewsLetterBox input[type="button"] {
    width: 100%;
    line-height: 35px;
    height: 35px;
    padding: 0px 10px;
    margin-bottom: 5px;
    font: normal 16px "Yekan","YekanNumbers";
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background:#c41e22;
    box-sizing: border-box;
    transition: all 0.2s ease;
    cursor: pointer;
        border-radius: 3px;
}
.NewsLetterBox input[type="button"]:hover,
.NewsLetterBox input[type="button"]:focus {
    background: #a01619 ;
}
    .top-logo h1{
    font-weight: 600;
    color: #121212;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    padding: 0 0 5px 0;
    line-height: 35px;
    }
    .top-logo h3{
    font-size: 14px;
    color: #666;
    font-family: iransans;
    text-align: center;

    }
.empty-db{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}    
.empty-db p{
    color: #444;
    direction: rtl;
    text-align: center;
}
.ribbon {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 65px;
    height: 65px;
    text-align: center;
    left: 14px;
    top: -1px;
}
.ribbon span {
    font-size: 10px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #c33;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    position: absolute;
    top: 12px;
    left: -33px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}

.loginreg{ padding: 30px;}
.loginreg a{color: #000; transition: all ease .4s;font-family: 'yekan';}
.loginreg a:hover{ color:#c33; }