
/*------------------social--------------------*/

.me {
    width: 400px;
    margin: 90px auto;
}
.me p,
.me h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.me p {
    font-weight: 200;
}
.me span {
    font-weight: bold;
}
.social {
    text-align: right;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    float: left;
}
.social ul {
    padding: 0px;
    text-align: center;
    /*  -webkit-transform: translate(-90px, 0);
      -moz-transform: translate(-90px, 0);
      -ms-transform: translate(-90px, 0);
      -o-transform: translate(-90px, 0);
      transform: translate(-90px, 0);*/
}
.social ul li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.social ul li {
    float: left;
    margin: 15px 5px 5px;
    width: 25px;
    height: 25px;
    text-align: right;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    perspective: 1800px;
    cursor: pointer;
}
.social ul li:nth-child(n){
    background:#c41e22;
}
/*.social ul li:nth-child(2){
  background: #00aced;
}
.social ul li:nth-child(3){
  background:  rgb(218, 39, 19);
}
.social ul li:nth-child(4){
  background: #5F390E;
}
.social ul li:nth-child(5){
  background: #1dacdf;
}*/


.social ul li:hover {
    /* transform:rotate3d(0,0,1,360deg);
      -webkit-transform: rotate3d(0,0,1,360deg);
      -moz-transform: translate(35px, 0);
      -ms-transform: translate(35px, 0);
      -o-transform: translate(35px, 0);
     */
    /*background: rgba(255, 255, 255, 0.4);*/
}
.social ul li:hover a {
    color: #000;
}
.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social ul li img {
    width: 90%;
    height: 90%;
    margin: 5%;
}


/*jssor*/
.jssorb05{position:absolute}

.jssorb05 div,.jssorb05 div:hover,
.jssorb05 .av
{position:absolute;width:16px;height:16px;background:url('../images/b05.png') no-repeat;overflow:hidden;cursor:pointer}
.jssorb05 div{background-position:-7px -7px}
.jssorb05 div:hover,.jssorb05 .av:hover{background-position:-37px -7px}
.jssorb05 .av{background-position:-67px -7px}
.jssorb05 .dn,.jssorb05 .dn:hover{background-position:-97px -7px}
.jssora22l,.jssora22r{    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: .8;
    transition: .2s all ease;
}
.jssora22l{background:url(../images/left.png) no-repeat center center;}
.jssora22r{background:url(../images/right.png) no-repeat center center;}
.jssora22l:hover{opacity: 1;}
.jssora22r:hover{opacity: 1;}
.jssora22l.jssora22ldn{opacity: 1;}
.jssora22r.jssora22rdn{opacity: 1;}
.slider-caption{
    position: absolute;
    bottom: 500px;
    right: 0;
    text-align: right;
    width: 100%;
    height: 100px;
    font-size: 24px;
    color: #ffffff;
    line-height: 100px;
    background: rgba(0,0,0,.5);
    padding: 5px 40px;
}