$fontFamily: IRANYekanX;
$fontFamilyXVF: 'IRANYekanXVF';
$rounded: 14px;
$mainColor:  #148ad8;
$secondColor: #F4C542;
$transition: all ease .3s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #e9e9e9;

