@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 300;
    src: url("../../../assets/all-fonts/yekan/yekannumbers-regular.eot");
    src: url("../../../assets/all-fonts/yekan/yekannumbers-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/yekannumbers-regular.woff") format("woff"), url("../fonts/yekan/yekannumbers-regular.ttf") format("truetype");
}
@font-face {
    font-family: IranYekanb;
    font-style: normal;
    font-weight: bold;
    src: url("../../../assets/all-fonts/yekan/iranyekanwebbold.eot");
    src: url("../../../assets/all-fonts/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../../../assets/all-fonts/fonts/yekan/iranyekanwebbold.woff2") format("woff2"), url("../../../assets/all-fonts/yekan/iranyekanwebbold.woff") format("woff"), url("../../../assets/all-fonts/yekan/iranyekanwebbold.ttf") format("truetype")
}
@font-face {
    font-family: IRANSansm;
    font-style: normal;
    font-weight: 500;
    src: url('../../../assets/all-fonts/IRANSansWeb_Medium.eot');
    src: url('../../../assets/all-fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../../assets/all-fonts/IRANSansWeb_Light.eot');
    src: url('../../../assets/all-fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/all-fonts/IRANSansWeb.eot');
    src: url('../../../assets/all-fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansnum;
    font-style: normal;
    font-weight: 700;
    src: url('../../../assets/all-fonts/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../../../assets/all-fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansnum;
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/all-fonts/IRANSansWeb(FaNum).eot');
    src: url('../../../assets/all-fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}
body {
    overflow-x: hidden;
    font-family: IRANSansnum !important;
    direction: rtl;
    text-align: right;
    background-color: #fff;
}

li {
    list-style: none
}

ul {
    padding: 0;
    margin: 0;
}
h1 {
    font: 17px/46px IRANSansnum;
    direction: rtl;
    color: #000;
}
h4 {
    font: 15px/38px IRANSansnum;
    direction: rtl;
    color: #000;
}
h2,h3 {
    font: 15px/38px IRANSansnum;
    direction: rtl;
    color: #000;
}
/*a{
    color: #000;
}*/
a:hover {
    text-decoration: none;
    color: #eb2f26;
}
.center-eleman{
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}
.footer_section{
    padding: 20px;
}
.nav-introduction a{
    padding: 10px 20px;
    margin: 10px;
}

.main-navigation__sub-menu2{
    transition: all ease .4s;
    display: block;
    position: absolute;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
    opacity: 0;
    visibility: hidden;
    width: 350px;
}
.main-navigation__sub-menu2.active_log{
    opacity: 1;
    visibility: visible;
}
.c-header__btn-login{
    position: relative;
    display: flex;
    align-items: center;
}

.c-header__btn-login:before{
    content:'';
    position: absolute;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;
}

.loginframe {
    height: 36px;
    color: #fff !important;
    width: 125px;

}
.blink_me {
    animation: blinker 1s linear infinite;
    color: #ff713c !important;
    padding: 5px 10px;
}
@keyframes blinker {
    50% { opacity: 0.3; }
}

.client-head-content{
    width: 100%;
}