/*----------------------------- main menu ------------------------------------*/
body{
    font-family:IRANSansNumber !important;
}
.mainMenuContainer {
    z-index: 9;
    /*margin: 0 auto;*/
    position: relative;
    width: 100%;
    font-family: "IRANSans","Yekan", "YekanNumbers";
    font-size: 14px;
}


.options {
    width: 200px;
    float: left;
    margin-top: 30px;
}

.options h3 {
    font-size: 20px;
}

.options a {
    padding: 12px 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    background: #535353;
    color: #FFF;
    text-decoration: none;
}
a.backLink {
    float:right;
    margin-bottom:10px;
}
.ace-responsive-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background: transparent;  
    float:left;
    width:100%;
    font-family:  IRANSansMedium, IRANSansNumber;

       
}
.ace-responsive-menu li{
    list-style: none;
}
.ace-responsive-menu li ul {
    display:none;
}
.ace-responsive-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: right;
    transition: all 0.35s ease-in;
    -webkit-transition: all 0.35s ease-in;
    -moz-transition: all 0.35s ease-in;
    -ms-transition: all 0.35s ease-in;

}

.ace-responsive-menu li a {
        color: #919191;
}
.ace-responsive-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 20px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #666;
}
.ace-responsive-menu li a i {
    padding-right: 5px;
    color: #FF5737;
}
.ace-responsive-menu > li > a i {
    font-size: 16px;
    text-shadow: none;
    color: #FF5737;
}
.ace-responsive-menu li ul.sub-menu li a i {
    padding-right: 10px;
}
.ace-responsive-menu li.menu-active > a {
    /*background:#fafafa !important;*/
    color:#9f1f63;

    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.ace-responsive-menu li .menu-active {
    position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {  
    margin-right: 5px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    vertical-align: middle;     
    /*display: none;*/

}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
    content: "\f104" !important;
}
.ace-responsive-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    position: absolute;
}
.ace-responsive-menu li ul.sub-menu {
    background: #fff;
    transition: .3s;
    box-shadow: 0 1px 10px 0 rgba(255, 255, 255,0.3);
    border-top: 2px solid #3ec0c5 ;
}
.ace-responsive-menu li ul.sub-menu > li {
    width: 185px;
}
.ace-responsive-menu li ul.sub-menu li a {
    display: block;
    margin: 0px 0px;
    padding: 9px 20px 9px 15px;
    text-decoration: none;
    text-align: initial;
    font-size: 13px;
    font-weight: normal;
    background: none;
    border-bottom: 1px solid #eee;
}
.ace-responsive-menu li ul.sub-menu li  a:hover{

    color: #632e62;
}
.ace-responsive-menu li ul.sub-menu li.other-tour{

}
.ace-responsive-menu > li > ul.sub-menu > li {
    position: relative;
}
 li#other-tour{
    background-color: #2071BB;

}
 li#other-tour a{
    color: #fff !important;
    background-color: #632e62 !important;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    right: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
    float: left;
    margin-top: 1px;
    margin-right: 0px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
    display: none;
    float: left;
    width: 100%;
    background: #333;
}
.menu-toggle h3 {
    float: left;
    color: #FFF;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 16px;
}
.menu-toggle .icon-bar {
    display: block !important;
    width: 18px;
    height: 2px;
    background-color: #F5F5F5 !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin: 3px;
}
.menu-toggle .icon-bar:hover {
    background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
    float: right;
    background: #3ec0c5;
    border: 1px solid #3ec0c5;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
      position: absolute;
    top: -4px;
    z-index: 123;
    left: 5px;
}
.menu-fixed .menu-toggle #menu-btn{top:10px;}
.hide-menu {
    display: none;
}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
    width: 250px;
}
ul[data-menu-style="accordion"] > li {    
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > a i {
    padding-right: 10px;
    color: #919191;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
    background: #272727 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
    width: 200px;
}
ul[data-menu-style="vertical"] > li {
    float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
    position: absolute;
    left:200px;
    top:0px;
    width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
    background: #272727 !important;
}

@media screen and (max-width:767px) {
  .main-menu {
        width:100%;
        /*padding:2%;*/
    }
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
    ul[data-menu-style="vertical"] li ul.sub-menu {
        width: 100% !important;
    } 

    .ace-responsive-menu {
        float: left;
        width: 100%;
        
        background: #fff;
        overflow-x: hidden;
        margin-top: 0px;
        height: 400px;
        max-height: 400px;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .ace-responsive-menu > li {
        border-bottom: 1px solid #004067;
       float: none;
    }   
    .ace-responsive-menu li a:hover {
        background: #c6c6c6 !important;
    }
    .ace-responsive-menu > li:first-child {
        border-top: 2px solid #2068b3;
    }    
    .ace-responsive-menu > li > a{
        text-align: right;
        color: #333;
        padding: 10px 9px;
    }
    .ace-responsive-menu > li > a i {
        padding-right: 10px;
        color: #FF5737;
        
    }
    .arrow{display: inline-block;}
    .ace-responsive-menu li ul.sub-menu li a{background-color:#d9dfe2 }
    .ace-responsive-menu > li > a > .arrow:before {
        float: right;
        content: "\f107";
    }
    li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
    .ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before{
         content: "\f107" !important;
         margin-right: 3px;
    }
    .ace-responsive-menu li ul.sub-menu > li {
        width: 100%;
    }
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
        {
        padding-left: 30px;
    }  
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a 
       {
        padding-left: 50px;
    }  
    .ace-responsive-menu > li > ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
}

/*=================================4 box slider =================================================*/

.dh-quickTicks{
    background-repeat: repeat-x !important;
    background-position: bottom center !important;
    background: url(../images/bg_patter_1.png);
        padding: 60px 0 90px;
    position: relative;
    display: block;
    background-color: #f7f7f7;

}

.carouseller:before, .carouseller:after {  content: " ";  display: table;}
.carouseller:after { clear: both;}
.carouseller { position: relative;}

.carouseller [class*="car__"]{
  display: inline-block; 
  position: relative;
    margin-left: 0.2564102564102564% !important;
    *margin-left: 0.25109110747408616% !important;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  margin-bottom:5px; 
  margin-top:5px; 
}
/* .carouseller [class*="car__"]:first-child  { margin-left: 0 !important;}*/
.carouseller [class*="car__"]:nth-child(n+7) { display: none;}

.carouseller .car__by5 { width: 1.793789743589745%;}
.carouseller .car__12 { width: 10.1%;}
.carouseller .car__6 { width: 4.8837948717948715%;}
.carouseller .car__4 { width: 3.1536923076923077%;}
.carouseller .car__3 {box-shadow: 0px -1px 7px #636363; width: 2.3136923076923077%;}
.carouseller .car__2 { width: 1.452991452991453%;}
.carouseller .car__1 { width: 0.5982905982905983%;}

.carouseller .carouseller__list { position: relative; width: 997.4358974358974%;}
.carouseller .carouseller__wrap { overflow: hidden; position: relative; margin: 0 35px;}

.carouseller .carouseller__left, 
.carouseller .carouseller__right {
    position: absolute; 
    margin: 0; 
    bottom: 40%;
    background: none repeat scroll 0 0 transparent;
    font-size: 45px;
    opacity: 0.5;
    text-align: center;
    color: #9d2161;
    text-decoration: none;
}
.carouseller .carouseller__left { left: 0;}
.carouseller .carouseller__right { right: 0;}
.carouseller .carouseller__left:hover, .carouseller .carouseller__:hover { opacity: 0.8;}
/**/
.carouseller-rc, .carouseller-lc {
    /*bottom: -7px !important;*/
    /*color: #333 !important;*/
}
.costomerM {
    width: 100%;
    height: 100px;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
}

/*------Responsive-----------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .carouseller .car__by5,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 3.1623931623931625%;}
    .carouseller .car__12{width: 10.162%}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .carouseller .car__by5,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 4.8717948717948715%;}
    .carouseller .car__12{width:10.1%}
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .carouseller .car__by5,
  .carouseller .car__12,
  .carouseller .car__6,
  .carouseller .car__4,
  .carouseller .car__3,
  .carouseller .car__2,
  .carouseller .car__1 { width: 10%;}
}



/* This can be deleted */
[class*="car__"] { text-align: center; font-size: 17px; font-weight: normal; /*background-color: #e5e5e5*/;
    font-family: 'IRANSansLight','IRANSansNumber'}

.carouseller { /*margin-bottom: 20px;*/}

/* Start OF Quik Search */
.arzan-flight-15 {
    position: fixed;
    width: 545px;
    height: 368px;
    left: 50%;
    margin-left: -273px;
    margin-top: -175px;
    top: 50%;
    background: #fff;
    z-index: 9999999;
    border-radius: 3px;
    padding: 0 10px 10px 10px;
    display: none;
    animation: bounceIn .3s;
    box-sizing: border-box;
    direction: rtl;
}

.arzan-flight-15 h4 span{
    font: 15px/36px yekan;
    margin: 0;
    display: block;
    width: 100%;
    color: #333;
}
.close-flight-15 {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #fff url(../images/cancel.png) no-repeat left center;
	z-index: 123;
}
.arzan-flight-item {
    width: 31%;
    margin: 3px 1.1%;
    direction: rtl;
    text-align: center;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
    padding: 5px;
}
.arzan-flight-item a {
    cursor: pointer;
    color: #080808;
    font: normal 13px "rohan","IRANSansNumber";
    background-color: #cfcfcf;
    width: 100%;
    border-radius: 3px;
    display: block;

}
.lightboxContainerOpacity {
    /*display: none;*/
    /* opacity: 0.6; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    background-color: rgba(51, 51, 51, 0.9);
}

.boxcontainer {

    background:#fff;
    font-size:13px;
    text-align:center;
    transition:border 500ms ease-out;
    -webkit-transition:border 500ms ease-out;
    -moz-transition:border 500ms ease-out;
    -o-transition:border 500ms ease-out;
    position:relative;
    /*overflow:hidden;*/
    margin-top: 25px;
}
.boxcontainer:hover {
    border-bottom:double medium #eaeaea;
}
.boxcontainer p {

    color:#666;
    padding: 0px 10px;
    line-height: 1.5;
    width: 40%;
    float: right;
    font-family: "rohan","IRANSansNumber";

}
.boxcontainer span {

    padding: 0px 10px;
    line-height: 24px;
    width: 55%;
    float: left;
    color: #587b77;

    font-family:"rohan","IRANSansNumber";
    font-size: 12px;
    font-weight: normal;
}
.boxcontainer span > a{
    padding: 0px 10px;
    line-height: 24px;
    width: 55%;
    float: left;
    color: #f4aa33;
    font-family: "rohan","IRANSansNumber";
    font-size: 13px;
    font-weight: normal;
}
.boxcontainer.car__3 {
    border:2px solid #dbdbdb;
}
.boxcontainer .quickTicksHeader {
    font-size:13px;
    line-height:1;

    padding: 5px 0 ;
    text-align: center;
    margin: 0 auto ;
    height: 50px;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: #bc4b36;

}

.boxcontainer h1 a {
    padding-top:10px;
    /*border-bottom:1px solid #ebebeb;*/
    display:block;
    color:#fff;
    line-height:20px;
    text-transform:uppercase;
    font-size: 13px;
    font-family: "rohan","IRANSansNumber";
    text-align: center;
    padding-right: 15px
}
.boxcontainer img {
    position:relative;
    height: 185px;
}
.boxcontainer .main-flight-date{
    /*background: #dadada;*/
    background: #e1e7e9;
    width: 100% ;
    color: #113d75;
}
.boxcontainer span.close-flight-15 {
    width: 30px;
    float: left;
    font-family: "rohan","IRANSansNumber";
    font-size: 12px;
    font-weight: normal;
}

.flightSearchBox{
    margin-bottom: 5px !important;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    line-height: 1.5;
    height: 28px;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 0px;
    box-sizing: border-box;
    cursor: pointer;
    float: right;
}
.flightSearchBox:hover {
    background-color: #ededed;
}

.flight-Day-Next, .flight-Day-Prev{
    width: 31%;
    margin: 3px 1.1%;
    direction: rtl;
    text-align: center;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding:2px  5px;
    cursor: pointer;
    color: #fff;
    font: normal 13px "rohan","IRANSansNumber";
    background-color: #75b2a6;
    width: 115px;
    border-radius:3px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 6px;

}
.flight-Day-Prev {
    float: right;
    display: inline-block;
}
.flight-Day-Prev:hover,.flight-Day-Next:hover{
    background-color:#F6A800;
}

.main-flight-price {
    background: #e1e7e9;
    display: inline-block;
    width: 100% ;
    position: relative;
    border-top: 1px dashed #fff;
    border-radius:3px;
    color: #113d75;
}
#loadbox{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    left: 0;
    bottom: 0;
    margin: auto;
}

.MHD::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left:50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5   url(../images/mashhad.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.KIH::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5   url(../images/kish.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.TBZ::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5  url(../images/tabriz.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.THR::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left:50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5 url(../images/tehran.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.BND::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left:50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5 url(../images/bandar.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.SYZ::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left:50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5 url(../images/shiraz.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
     border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}

.IFN::after {
    content: '';
    top: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #3ec0c5 url(../images/esfehan.png) no-repeat center center;
    background-size: contain;
    transition: .2s all ease;
    border :2px solid #fff;
    border-radius: 50%; 
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 12
}
/* END OF Quik Search */


