@font-face {
    font-family: IRANSansWeb;
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).eot");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).ttf");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).woff");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).woff2");
}
@font-face {
    font-family: 'Arial';
    src: url('../../../assets/all-fonts/Arial/Arial-BoldMT.eot');
    src: url('../../../assets/all-fonts/Arial/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/all-fonts/Arial/Arial-BoldMT.woff2') format('woff2'),
    url('../../../assets/all-fonts/Arial/Arial-BoldMT.woff') format('woff'),
    url('../../../assets/all-fonts/Arial/Arial-BoldMT.ttf') format('truetype'),
    url('../../../assets/all-fonts/Arial/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    size-adjust: 115%;
}

@font-face {
    font-family: 'Shiraz';
    src: url('../../../assets/all-fonts/B_Shiraz/BShiraz.eot');
    src: url('../../../assets/all-fonts/B_Shiraz/BShiraz.eot?#iefix') format('embedded-opentype'),
    url('../../../assets/all-fonts/B_Shiraz/BShiraz.woff2') format('woff2'),
    url('../../../assets/all-fonts/B_Shiraz/BShiraz.woff') format('woff'),
    url('../../../assets/all-fonts/B_Shiraz/BShiraz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: IRANSansFaNum-Bold;
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.eot");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.ttf");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.woff");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.woff2");
}
@font-face {
    font-family: Samim-Bold;
    src: url("../../../assets/all-fonts/Samim-Bold.eot");
    src: url("../../../assets/all-fonts/Samim-Bold.ttf");
    src: url("../../../assets/all-fonts/Samim-Bold.woff");
    src: url("../../../assets/all-fonts/Samim-Bold.woff2");
}

:root {
    --mainColor: #FF8800;
    --secondColor: #14056e;
    --fontFamily: IRANSansWeb, serif;
    --fontFamilyBold: IRANSansFaNum-Bold, serif;
    --rounded: 12px;
    --height-header: 80px;
    --height-search-box: 56px;
}

body, html {
    /*font-family: 'Arial' !important;*/
    font-family: var(--fontFamily) !important;
    overflow-x: hidden;
    direction: rtl;
    min-height: 100dvh;
    background: #fbfbfb;
}

main, .content_tech {
    min-height: 100dvh;
}

a, a:hover {
    text-decoration: none
}

/*footer*/
.footer {
    background: #fff;
    padding-top: 1rem;
    min-height: 300px;
    margin-top: 1rem;
}

.callH1 {
    display: flex;
}

.callH1 > h1 {
    font-family: ShabnamBold;
    font-size: 1.5rem;
    color: #fff;
    padding: 8px 10px;
    border-radius: 1rem;
    background: var(--mainColor);
    margin: 0;
    box-shadow: 0 0 12px 4px crimson;
}

.last_text {
    background: var(--mainColor);
}
.nav-header img{
    width: 60px;
}
.footer_main > ul {
    list-style: none;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.footer_main > ul > li > a {
    color: #fff;
    width: 100%;
    font-size: 12px;
    text-align: justify;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.footer_main > ul > li > a:hover {
    text-decoration: none;
}

.footer_main > ul > li > a i {
    transition: all .3s;
}

.footer_main > ul > li > a:hover i {
    transform: translateX(-3px)
}

.footer_main > ul > li > h6 {
    margin: 0;
    color: #111;
    text-align: justify;
    width: 100%;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family: var(--fontFamilyBold);
}

.footer_main > ul > li > p {
    margin: 0;
    text-align: justify;
    color: #eee;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 2;
    margin-top: 15px;
}

.footer_main > ul > li > h6 > img {
    width: 100px
}

.call > div {
    display: flex;
}

.call > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.call > div > div > h2 {
    font-size: 1.5rem;
    font-family: var(--fontFamilyBold);
    color: #100441;
    margin: 0;
}

.call > div > div > span {
    font-size: 13px;
    font-family: var(--fontFamilyBold);
    color: #240bbd;
    margin: 0;
}

.call > p {
    color: #333 !important;
    font-size: 14px;
}

.call {
    display: flex;
    flex-direction: column;
}

.call span:nth-child(4) a {
    font-family: sans-serif;
    font-weight: 600;
}

.call span {
    display: flex;
    color: #333;
    font-size: 14px;
    text-align: justify;
    margin: 15px 0 3px 0;
    display: flex;
    align-items: center;
    font-weight: 700;/*! flex-wrap: wrap; */
}

.asan {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.asan > .asan_link {
    color: #333;
    display: flex;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    transition: all .3s;
    align-items: center;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: var(--rounded);
}

.asan > .asan_link:hover {
    text-decoration: none;
    background: #eaeaea;
    color: var(--mainColor);
}

.call span i {
    margin-left: 5px;
}

.call span a {
    margin-right: 4px;
    color: #666;
    transition: all .3s;
    direction: initial;
    font-weight: 700;
}

.call span a:hover {
    color: #333;
    text-decoration: none;
}

.footer_icons {
    display: flex;
    margin-top: 15px;
}

.footer_icons > a > svg {
    fill: #333;
}

.footer_icons > a {
    color: #333;
    margin-left: .5rem;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.footer_icons > a:hover svg {
    fill: #fff;
}

.footer_icons > a:hover {
    text-decoration: none
}

.footer_instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}

.footer_whatsapp:hover {
    color: #fff;
    background-color: #2ab200;
}

.footer_telegram:hover {
    color: #fff;
    background-color: #039be5;
}

.code {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.code input {
    width: 100% !important;
    outline: none;
    border: 1px solid #e3e3e3 !important;
    padding: 0 1rem;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1f1;
    color: #333;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.code button:hover {
    background: var(--mainColor);
    color: #fff;
}

.code button > i > svg {
    width: 15px;
    height: 15px;
    fill: #fff;
}

.code button {
    position: absolute;
    left: 0;
    height: 100%;
    text-decoration: none;
    background-color: var(--secondColor);
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    border: 1px solid #333;
    color: #fff;
}

.namads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margin-top: auto;*/
}
#g-map{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 0;
    border-radius: 8px;
    margin-bottom: 10px;
}
.namads > a {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    box-shadow: 0 3px 1px #aaa;
    border: 1px solid #ddd;
}

.namads > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logIn:hover {
    background-color: #ff5400;
    text-decoration: none;
    color: #fff
}

.logIn {
    transition: all .3s; /*! position: absolute; */
    display: flex;
    left: 40px;
    top: 50%; /*! transform: translateY(-50%); */
    align-items: center;
    color: #333;
    font-size: 14px;
    border: 1px solid var(--mainColor);
    padding: 10px 15px;
    border-radius: 1rem;
}

.logIn i {
    margin-left: 5px
}

.last_text {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.last_text a {
    color: #fff;
    transition: all .3s;
}

.last_text p {
    margin: 0;
    color: #fff;
}

.last_text a:hover {
    text-decoration: none;
    color: #fff;
}

.but-top {
    display: none;
    position: fixed;
    z-index: 110;
    bottom: 58px;
    right: 0;
}

.but-top a:hover {
    text-decoration: none
}

.but-top a {
    padding: 1rem;
    border-radius: 10px 0 0 10px;
    background-color: var(--mainColor);
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

/*footer*//*header*/
.box_button_header {
    display: flex;
    gap: 10px;
}

.box_button_header_phone:hover{
    background: #f1f1f1;
    color: #666;
}
.box_button_header_phone{
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: var(--rounded);
    background: #fefefe;
    color: #666;
    font-size: 14px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_button_header_phone > i {
    background: var(--mainColor);
    padding: 5px;
    border-radius: 8px;
}
.box_button_header_phone > span{
    padding: 3px;
}
.box_button_header_phone > i > svg{
    fill: #fff;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
}

.button_header {
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: var(--rounded);
    background: #fefefe;
    color: #666;
    font-size: 14px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.button_header:hover {
    background: #f1f1f1;
    color: #666;
}

.header_area {
    min-height: var(--height-header);
}

#navbar {
    background-color: white;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 250;
    width: 100%;
    box-shadow: 0 0 25px #0000002b;
    display: flex;
    align-items: center;
}

.nav-header > a > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 7px;
}

.nav-header > a > div > h1 {
    font-size: 1.5rem;
    font-family: var(--fontFamilyBold);
    color: #100441;
    margin: 0;
}

.nav-header > a > div > span {
    font-size: 13px;
    font-family: var(--fontFamily);
    color: #240bbd;
    margin: 0;
}

#navbar {
    height: var(--height-header);
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-menus-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-toggle:hover {
    background: #f1f1f1;
    color: #666;
}

.nav-toggle {
    width: 42px;
    height: 42px;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: var(--rounded);
    background: #fefefe;
    color: #666;
    font-size: 14px;
    transition: all .3s;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-toggle > svg {
    width: 100%;
    height: 100%;
    fill: #777;
}

.navigation-portrait .nav-toggle {
    display: flex
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 102;
    overflow-y: auto;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0;
}

.nav-menus-wrapper-close-button {
    display: none;
}

.navigation-portrait .nav-menus-wrapper-close-button > svg {
    width: 100%;
    height: 100%;
    fill: #777;
    transition: all .3s
}

.navigation-portrait .nav-menus-wrapper-close-button:hover svg {
    fill: red
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px
}

.nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.navigation-portrait .nav-menu {
    width: 100%
}

.nav-menu > li {
    display: flex;
    text-align: right;
    height: 100%;
    position: relative;
}

.navigation-portrait .nav-menu > li {
    width: 100%;
    position: relative;
    border-top: solid 1px #ccc;
}

.nav-menu > li:hover > a, .nav-menu > li:hover > a > .submenu-indicator > svg {
    color: #515151;
    fill: #515151;
}

.nav-menu > li > a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #828282;
    transition: all .3s;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 5px;
    font-size: 15px;
    height: var(--height-header);
}

.navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px;
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 101
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nav-dropdown {
    min-width: 170px;
    margin: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap;
    background: #fff;
    border-radius: 0 0 5px 5px !important;
    padding: 0px;
    border: 1px solid #ddd !important;
    top: 100%;
}

.nav-dropdown.nav-submenu .nav-submenu {
    top: -1px;
}

.nav-dropdown > li {
    display: flex;
    position: relative
}

.a_header_active {
    color: #fff !important;
    transition: all .3s;
    background: var(--secondColor);
}

.a_header_active:hover {
    background: #549BF4;
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0
}

.nav-dropdown li:hover svg {
    fill: #fff;
}

.nav-dropdown .submenu-indicator svg {
    transform: rotate(90deg)
}

.nav-dropdown .nav-dropdown {
    right: 100%;
}

.nav-dropdown > li > a {
    width: 100%;
    padding: 10px 10px;
    float: right;
    text-decoration: none;
    font-size: 13px;
    color: #555;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
}

.nav-dropdown > li.focus > a, .nav-dropdown > li:hover > a {
    background: var(--secondColor);
    color: #fff !important;
}

.nav-dropdown.nav-dropdown-left {
    right: 0
}

.nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%
}

.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
    text-align: right
}

.navigation-portrait .nav-dropdown > li > a {
    padding: 10px;
}

.nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none
}

.nav-dropdown-horizontal > li {
    width: auto;
    clear: none;
    position: static
}

.navigation-portrait .nav-dropdown-horizontal > li {
    width: 100%
}

.nav-dropdown-horizontal > li > a {
    position: relative
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    transform: rotate(0)
}

.nav-dropdown-horizontal .submenu-indicator {
    transform: rotate(90deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up, .navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg)
}

.submenu-indicator {
    transition: all .2s;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu-indicator > svg {
    width: 100%;
    height: 100%;
    fill: #828282;
}
.call img{
    width: 60px;
}
.navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
}

.logIn > i {
    display: none;
}

/*container bootstrap 5*/
@media (min-width: 1350px) {
    .container {
        max-width: 1320px !important;
    }
}

/*container bootstrap 5*/
@media (max-width: 1024px) {
    .nav-menu {
        gap: 30px;
    }
    .box_button_header_phone{
        display: none;
    }
}
.nav-dropdown > div > li {
    display: flex;
    position: relative;
}

.nav-dropdown > div > li > a {
    width: 100%;
    padding: 10px 10px;
    float: right;
    text-decoration: none;
    font-size: 13px;
    color: #555;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    cursor: pointer;
    border-radius: 5px;
}

@media (min-width: 991px) {
    .dropdown_tour{
        width: 650px !important;
        height: 290px;
        overflow: hidden;
        background: url("../images/dropdown_tour.jpg") !important;
        background-position: left !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-color: #fff !important;
        padding: 30px 20px !important;
    }
    .dropdown_tour > div{
        width: 300px;
        height: 250px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}
@media (max-width: 992px) {
    /*.special_tour_banner > .container > h3{*/
    /*    display: none !important;*/
    /*}*/
}
.footer_main > ul > li {
    list-style: none !important;
}
@media (max-width: 991px) {
    .nav-toggle {
        display: flex;
    }

    .footer_main > ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        margin-bottom: 80px
    }

    .header_area {
        left: 0;
        position: fixed;
        bottom: 0;
        z-index: 250;
        width: 100%;
    }

    #navbar {
        position: static;
    }

    .nav-dropdown > li {
        flex-direction: column;
    }

    .logIn {
        padding: 10px
    }

    .logIn > i > svg {
        fill: #666;
        width: 20px;
        height: 20px;
    }

    .logIn > i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .logIn > span {
        display: none;
    }

    .box_button_header {
        margin-right: auto
    }

    .nav-menu {
        gap: 0;
        height: unset;
    }

    .navigation-portrait .nav-menu > li {
        height: unset;
        flex-direction: column;
    }

    .nav-dropdown .submenu-indicator svg {
        transform: rotate(0)
    }

    .navigation-portrait .nav-dropdown > li > a {
        padding: 12px 15px 12px 26px
    }
}

@media (max-width: 768px) {
    .footer_main > ul {
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-header > a > div > span{
        font-size: 11px;
    }
}

@media (max-width: 430px) {
}

/*header*/


/*start login*/

.main-navigation__sub-menu2{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000026;
    width: 230px;
    left: 0;
    position: absolute;
    top: 110%;
    z-index: 1000000;
    overflow: hidden;
}
.main-navigation__sub-menu2 .sup-menu-flex >div{
    background-color: #f8fafb;
    padding: 10px;
}
.main-navigation__sub-menu2 .sup-menu-flex >div > h2 {
    color: #000;
    font-weight: bold;
    font-size: 17px;
    text-align: right;
}
.main-navigation__sub-menu2 .sup-menu-flex > a {
    display: flex;
    gap: 5px;
    padding: 0 10px;
    height: 48px;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}
.main-navigation__sub-menu2 .sup-menu-flex > a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.main-navigation__sub-menu2 .sup-menu-flex > a i svg {
    width: 18px;
    height: 18px;
    fill: #515762;
}
.main-navigation__sub-menu2 .sup-menu-flex > a:hover{
    background: #e8f1fa;
}
.main-navigation__sub-menu2 .sup-menu-flex .sup-menu-flex_span{
    font-size: 14px;
}
.main-navigation__sub-menu2 .sup-menu-flex .sup-menu-flex_a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    color: var(--mainColor);
    font-size: 14px;
    padding: 2px 5px;
    transition: all .3s;
    position: relative;
    border: solid 1px rgba(0,0,0,0);
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
}
.main-navigation__sub-menu2 .sup-menu-flex .sup-menu-flex_a span {
    margin: 0;
    padding: 0;
    color: var(--mainColor);
}
.main-navigation__sub-menu2 .sup-menu-flex .sup-menu-flex_a svg {
    width: 18px;
    height: 18px;
    fill: var(--mainColor)
}
.main-navigation__sub-menu2 .sup-menu-flex .sup-menu-flex_a:hover {
    transition: all .3s;
    border-color: rgba(160,160,160,.07);
    background-color: rgba(214,214,214,.22)
}

/*end login*/