.header , .topbar{

    background-color: #fff;
    font-family: IRANSansb;
}
.header .menus{
    /*! height: 75px; */
    display: flex;
    align-items: center;
    width: 100%;
}
.header li { padding-left: 45px;}
.header li a{position: relative; transition: all ease .4s;font-size: 16px;align-items: center;display: flex;}

.fusion-megamenu-icon{ margin-left: 5px; color: #747474;}

.fusion-bottombar-highlight::after {
    content: " ";
    position: absolute;
    top: calc(50% + 1.15em);
    left: 0;
    width: 100%;
    border-top-style: solid;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.fusion-bottombar-highlight:hover::after{
background-color:#ff9800 ;
transform: scaleX(1);
}
.fusion-bottombar-highlight:hover i{
    color:#ff9800 ;
}
.fusion-bottombar-highlight:hover{
    color:#ff9800 ;
}

.menus ul{
    display: flex;
}

.logo{ margin-right: auto;padding: 5px;}

.topbar{
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    border-top: 3px solid #ff9800;
}

.topbar .left_topbar{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.topbar a{ height: 44px;
    display: flex;
    align-items: center;
    padding: 0 13px;
    color: #747474;
    border-left: 1px solid #e5e5e5;
}

.fusion-megamenu-icon {
    display: inline-block;
    width: 26px;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 5px #ccc;
}
.fusion-footer a , .header a{
    color: #000;
}
.fusion-footer .row ,.header .row , .topbar .row {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.topbar .container{
    width: 100%;
}

.right_topbar{
    display: flex;
    align-items: center;
}

.main-navigation__button2.support-icon{
    position: relative;
}

.club_{
    height: auto !important;

    text-align: center;

    display: flex !important;

    padding: 5px !important;

    align-items: center;

    justify-content: center;

    color: #fff !important;
}

.hamber{
font-size: 30px;
    display: none;
}
.logo_mob{ display: none; margin-right: auto}

@media(max-width: 1200px) and ( min-width: 990px){
    .header li{ padding-left: 15px}
}

@media ( max-width: 990px) and ( min-width: 767px){
    .header .container{ width: 100%; max-width: none; padding: 0 25px;}
    .header li{ padding-left: 10px}
}

@media( max-width: 767px){
    .hamber{
        margin-right: 15px;
    }
    .phone{ display: none !important;}
    .fusion-copyright-content{
        flex-wrap: wrap;
    }
    .logo_mob{
        display: inline-block;
    }
    .logo{display: none}
    .hamber{
        cursor: pointer;
        display: block;
    }

    .header .menus , .menus ul{
        flex-wrap: wrap;
    }
    .menus ul{ display: none; flex: 0 0 100%}
    .menus ul li{
        width: 100%;
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }
    .showmenu{
        display: flex !important;
    }
}