$fontFamily: IRANYekanX;
$fontFamilyXVF: 'IRANYekanXVF';
$rounded: 14px;
$mainColor:  #ec1d25;
$secondColor: #14060d;
$transition: all ease .3s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;

