.title {
    font-size: 30px;
    font-family: 'Lalezar';
    color: #323a45;
    text-align: center;
    margin: 0;
    padding: 0;
}
.hotel-thumb-carousel .hotel-thumb-item a{height:unset!important;}
.box_style {
    border-radius: 8px;
    box-shadow: 0 2px 1px -1px #00000014;
    border: solid 1px #0000001f;
    background-color: #fff;
}

.py-Custom {
    padding: 3rem 0;
}

.pt-Custom {
    padding-top: 3rem;
}

.whyBest > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whyBest > div > div > div > i {
    color: var(--secondColor);
    background: #00e1e129;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 200;
}

.whyBest > div > div > div > h6 {
    font-family: 'Lalezar';
    font-size: 20px;
    color: #555;
    text-align: justify
}

.whyBest > div > div > div > p {
    font-size: 14px;
    color: #666;
    text-align: justify
}

.app_main {
    background-color: var(--mainColor);
    background-size: 500px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-around
}

.appimge_parent {
    position: relative;
    z-index: 2;
}

.appimge_parent::after {
    content: "";
    position: absolute;
    background-image: url("../images/app_bg.png");
    width: 100%;
    height: 100%;
    margin: -1rem;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
}

.appimge {
    width: 70%;
}

.app_main > div > h6 {
    font-family: 'Lalezar';
    font-size: 35px;
    color: #fff;
    text-align: justify;
}

.app_main > div > span {
    color: #eee;
    font-size: 20px;
    text-align: justify
}

.app_main > div > p {
    color: #ddd;
    font-size: 17px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.app_main > div > p > i {
    font-size: 20px;
    margin-left: 5px
}

.app_main > div > div {
    margin: 1rem 0
}

.app_main > div > div > a > img {
    width: 120px;
    opacity: .8;
    transition: all .3s;
    height: 40px;
    filter: blur(1px);
}

.app_main > div > div > a:hover img {
    opacity: 1;
    filter: blur(0);
}

.owl_tour .item {
    margin: 1px;
}

.owl_tour .item > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.owl_tour .item > a > img {
    height: 180px;
    object-fit: cover;
}

.owl_tour .item > a > h6 {
    font-family: 'Lalezar';
    font-size: 25px;
    color: #323a45;
    text-align: justify;
    margin: 1rem;
}

.owl_tour .item > a > div:first-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem
}

.owl_tour .item > a > div:first-of-type > span {
    color: #323a45;
    font-size: 18px;
}

.owl_tour .item > a > div:first-of-type > span > i {
    color: #1a3183;
    background: #1a318336;
    border-radius: 100%;
    padding: 5px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-size: 13px;
    font-weight: 300;
}

.owl_tour .item > a > div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.owl_tour .item > a > div:last-of-type > span {
    color: #323a45;
    font-size: 19px;
}

.owl_tour .item > a > div:last-of-type > span > i {
    color: #777;
    font-style: normal;
    font-size: 16px;
    margin-right: 5px;
}

.btn-primary {
    background: #323a45 !important;
    border-color: #323a45 !important;
    color: #fff !important;
    border-radius: var(--radius) !important;
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background: var(--secondColor) !important;
    border-color: var(--secondColor) !important;
}

.btn-primary:focus, .btn-primary:active {
    box-shadow: none !important;
    background: #1a3183 !important;
    border-color: #1a3183 !important;
}

.owl_tour .item > a > div:last-of-type .btn-primary:hover {
    background: var(--mainColor);
    border-color: var(--mainColor);
}

.tourSpecial_main {
    height: 250px;
    width: 100%
}

.tourSpecial_main2 {
    height: 500px;
    width: 100%
}

.tourSpecial_main > a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    z-index: 0
}

.tourSpecial_main > a > img {
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s;
    position: absolute;
    inset: 0;
    object-fit: cover;
    filter: brightness(.4)
}

.tourSpecial_main > a > div {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between
}

.tourSpecial_main > a > div > div > i {
    color: #fc0;
    font-size: 13px;
    font-weight: 700
}

.tourSpecial_main > a > div > h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lalezar';
    font-size: 25px
}

.tourSpecial_main > a > div > span {
    font-size: 14px
}

.tourSpecial_main > a:hover {
    text-decoration: none
}

.tourSpecial_main > a:hover img {
    transform: scale(1.3)
}

.weblog > div > .col-12 {
    display: flex;
    flex-wrap: wrap
}

.weblog_link {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 300px !important;
    border-radius: var(--radius);
    overflow: hidden;
    padding: 1rem;
    color: #fff;
    align-items: flex-start;
    text-align: right;
    justify-content: flex-end;
}

.weblog_link > img {
    transition: all .3s;
    position: absolute;
    width: 100%;
    inset: 0;
    filter: brightness(.5);
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.weblog_link > div {
    transform: translateY(52%);
    transition: all .3s;
}

.weblog_link > div > span {
    display: inline-flex;
    margin-bottom: .6rem;
    font-size: 13px;
    background: var(--mainColor);
    padding: 5px 10px;
    border-radius: var(--radius);
}

.weblog_link > div > h6 {
    font-size: 19px;
    font-family: 'Lalezar';
}

.weblog_link > div > p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.8;
    -webkit-box-orient: vertical;
}

.weblog_link:hover img {
    transform: scale(1.1);
}

.weblog_link:hover div {
    transform: translateY(0);
}

.weblog_link:hover {
    color: #fff
}

.nav_tabs {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0 !important;
}

.nav_tabs > li > a {
    margin: 0 5px;
    background: #fff !important;
    color: #323a45 !important;
    border-color: #323a45 !important;
}

.nav_tabs > li > a:hover {
    margin: 0 5px;
    background: var(--mainColor) !important;
    color: #fff !important;
    border-color: var(--mainColor) !important;
}

.nav_tabs > li > a.active {
    background: #323a45 !important;
    color: #FFF !important;
    border-color: #323a45 !important;
}

button:focus {
    outline: none
}

.owl-nav > button {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #fff !important;
    border-radius: 100%;
    border: 1px solid #ccc !important;
    border-radius: 100%;
    border-width: 1px;
    transition: all .3s;
    transform: scale(1);
}

.mainWeblog_OWL .owl-nav > button {
    border: 3px solid #d6fafa !important;
    background: var(--secondColor) !important;
    color: #fff !important;
}

.owl-nav > button.disabled {
    transform: scale(0);
}

.owl-nav > button:last-child {
    left: -25px;
}

.owl-nav > button:first-child {
    right: -25px;
}

.mainWeblog {
    background: #d6fafa;
}

.news_main {
    min-height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    background-repeat: repeat;
    background: #d6fafa;
}

.news_text {
    display: flex;
    flex-direction: column;
    align-items: center
}

.news_text span {
    display: flex;
    color: #444;
    text-align: justify;
    font-size: 14px;
    margin-top: 1rem;
}

.news_main form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem
}

.news_main form > label {
    display: flex;
    flex-direction: column;
    margin: 0
}

.news_main form > label input {
    height: 44px;
    border-radius: var(--radius);
    border: none;
    padding: 1rem;
    font-size: 13px;
    border: 1px solid #aaa
}

.news_main form > label span {
    color: #333;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 13px
}

.h-44 {
    height: 44px
}

.a_link_news {
    display: flex;
    flex-direction: column;
    color: #333;
    margin-top: 1rem;
}

.a_link_news > img {
    height: 200px;
    border-radius: var(--radius);
    object-fit: cover;
}

.a_link_news > div {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 10px
}

.a_link_news > div > h6 {
    font-family: 'Lalezar';
    font-size: 19px;
    margin: 1rem 0;
    text-align: justify;
}

.a_link_news > div > p {
    text-align: justify;
    font-size: 13px;
    color: #555;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    -webkit-box-orient: vertical;
}

.mainWeblog > div > div > span {
    margin-top: 10px;
    font-size: 15px
}

@media (max-width: 992px) {
    .appimge {
        width: 100%
    }

    .weblog_link div {
        transform: translateY(0);
    }

    .tourSpecial_main2, .tourSpecial_main {
        height: 400px
    }
}

@media (max-width: 576px) {
    .mainWeblog_OWL .owl-nav > button:first-child {
        right: unset;
        border-radius: var(--radius) 0 0 var(--radius);
    }

    .mainWeblog_OWL .owl-nav > button:last-child {
        left: 0;
        border-radius: 0 var(--radius) var(--radius) 0;
    }
}

@media (max-width: 545px) {
    .owl-nav > button {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 436px) {
    .appimge {
        width: 300px
    }
}

.main-temp-content-reg {
    background: #fff;
    display: block;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-height: auto;
    border-radius: 6px;
    width: 100%;
    direction: rtl;
}

.register-login {
    display: flex;
    flex-wrap: wrap;
}

.register-login > div.agancy-register {
    flex: 0 0 50%;
    padding: 40px 20px;
    background: #030271;;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    position: relative;
}

.register-login > div > span, .register-login > div > span svg {
    width: 100px;
    height: 100px;
}

.register-login > div.agancy-register h3 {
    color: white;
}

.register-login > div h3 {
    font-size: 19px;
    margin-top: 25px;
}

.register-login > div.agancy-register a {
    background: white;
    color: var(--mainColor);
    padding: 7px 30px;
    margin-top: 25px;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 18px;
}

.register-login > div {
    flex: 0 0 50%;
    text-align: center;
    padding: 40px 20px;
}

.register-login > div.user-register > span svg {
    width: 100px;
    height: 100px;
    position: relative;
    top: 12px;
}

.register-login > div h3 {
    font-size: 19px;
    margin-top: 25px;
}

.register-login > div a {
    background: #030273;
    color: white;
    padding: 7px 30px;
    margin-top: 25px;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 18px;
}

.tourSpecial_main {
    height: 250px;
    width: 100%
}

.tourSpecial .nav-tabs, .tourSpecial .nav-tabs .nav-link {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center; /*! margin-top: 2rem; */
}

.tourSpecial .nav-tabs {
    padding-bottom: 20px !important;
}

.tourSpecial .nav-tabs .nav-link {
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 5px;
    border: 1px solid #333;
}

.tourSpecial .nav-tabs .nav-link.active {
    opacity: 1;
    background-color: var(--mainColor);
    color: #fff;
}

.tourSpecial .nav-tabs .nav-link.active {
    border: 1px solid transparent !important;
}

.tourSpecial .title {
    padding: 0 0 20px !important;
    width: 100%;
    font-family: 'iransansdn bold';
    position: relative;
    text-align: center;
}

.tourSpecial .title span {
    color: var(--secondColor);
}

.tourSpecial_main2 {
    height: 500px;
    width: 100%
}

.tourSpecial_main > a {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    z-index: 0
}

.tourSpecial_main > a > img {
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s;
    position: absolute;
    inset: 0;
    object-fit: cover;
    filter: brightness(.4)
}

.tourSpecial_main > a > div {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between
}

.tourSpecial_main > a > div > div > i {
    color: #fc0;
    font-size: 13px;
    font-weight: 700
}

.tourSpecial_main > a > div > h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 25px
}

.tourSpecial_main > a > div > span {
    font-size: 14px
}

.tourSpecial_main > a:hover {
    text-decoration: none
}

.tourSpecial_main > a:hover img {
    transform: scale(1.3)
}

.sec_texts > div > .d-flex:nth-child(2) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .sec_texts > div > .d-flex {
        border: 1px solid #ccc;
        background: #f8f8f8;
        border-radius: 10px;
    }

    .sec_texts > div > .d-flex > div > img {
        margin-bottom: 1rem;
    }
}

.bullet:before {
    content: "\2022";
    color: #259dd5;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
}

.bullet {
    line-height: 2em;
    display: inline-block;
}

.arrow:after {
    content: '\f177';
    font-family: "Font Awesome 6 Pro";
    margin-right: 5px;
    font-size: 16px;
    opacity: .7;
    transition: all ease .4s;
}

.padding-sides-3px label {
    padding: 0 3px;
}

.title_sidebar {
    padding: 20px 10px;
    font-family: inherit !important;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 0;
}

.page-item.active .page-link {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.news_main {
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px solid #c4c4c4;
}

.news_main form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.news_main form > label {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.news_main form > label input {
    height: 40px;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 13px;
    border: 1px solid #333;
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
}

.news_main form > label span {
    color: #333;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 13px
}

.news_main > form .read-more a:hover, .news_main > form .read-more .news_btn:hover {
    text-decoration: none;
    background: transparent;
    color: #333 !important;
    border-color: var(--mainColor) !important;
}

.news_main > form .read-more a, .news_main > form .read-more .news_btn {
    transition: all .3s;
    border-color: #fff !important;
    color: #fff !important;
    background: #fff;
    margin: 5px 0;
    background: var(--mainColor);
    border-radius: .5rem;
}

.news_text h6 {
    display: flex;
    color: #333;
    font-size: 20px;
    font-family: 'iranTITR', serif
}

.news_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_text span {
    display: flex;
    color: #333;
    text-align: justify;
    font-size: 13px
}