@media screen and (max-width:1200px) {
    .services-section .container , .masir-section .container , .news-section .container {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .services-section .row , .masir-section .row , .news-section .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    .services-section .row > div , .masir-section .row > div , .news-section .row > div {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

}
@media screen and (max-width:992px) {
    #pills-tabContent .search_item {
        flex: 0 0 48%;
        margin-bottom: 15px;
    }
    #pills-tabContent .search_button {
        flex: 0 0 48%;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .header-bot .logo img {
        max-width: 80px;
        height: auto;
    }
    .header-bot .logo h1 {
        font-size: 18px;
        padding-right: 10px;
    }
    .header-bot-inner nav {
        margin-right: auto;
        width: 450px;
    }
    #pills-tab li {
        margin: 0px 5px;
    }
    #pills-tab li a {
        height: 70px;
        width: 75px;
    }
    .services-section .row > div {
        margin-bottom: 50px;
    }
    .masir-item {
        margin-bottom: 30px;
    }
    .footer-copmany-contact .footer-tell {
        margin-right: 0px;
    }
    .footer-imgs {
        margin-top:20px;
    }
    .logo h1{
        display: none;
    }
    .header-bot-inner nav{
        width: 570px;
    }
    .logo img {
        width: 100%;
    }
}


@media screen and (max-width:768px) {
    .background-modal-box {
        position: fixed;
        top: 0;
        right: 0;
        float: left;
        width: 100%;
        height: 100%;
        background-color: #666;
        opacity: 0.6;
        z-index: 998;
        display: none;
        padding-top: 25px;
        padding-left: 25px;
    }
    .header-bot-inner nav {
        position: fixed;
        width: 245px;
        height: 100%;
        background: white;
        overflow-x: hidden;
        float: right;
        right: -245px;
        top: 0;
        opacity: 1;
        padding: 0px 10px;
        padding-top: 0px;
        padding-top: 0px;
        padding-top: 0px;
        padding-top: 0px;
        padding-top: 0px;
        z-index: 999999;
        padding-top: 15px;
    }
    .header-bot-inner nav ul {
        list-style: none;
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        margin: 0px;
    }
    .header-bot-inner nav > ul > li {
        border-bottom: 1px solid #e1e1e1;
        width: 100%;
        text-align: right;
        flex: 0 0 100%;
        list-style: none;
    }
    .menu-icon {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        cursor: pointer;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0Ljc1IDI0Ljc1IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNC43NSAyNC43NTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPgoJPHBhdGggZD0iTTAsMy44NzVjMC0xLjEwNCwwLjg5Ni0yLDItMmgyMC43NWMxLjEwNCwwLDIsMC44OTYsMiwycy0wLjg5NiwyLTIsMkgyQzAuODk2LDUuODc1LDAsNC45NzksMCwzLjg3NXogTTIyLjc1LDEwLjM3NUgyICAgYy0xLjEwNCwwLTIsMC44OTYtMiwyYzAsMS4xMDQsMC44OTYsMiwyLDJoMjAuNzVjMS4xMDQsMCwyLTAuODk2LDItMkMyNC43NSwxMS4yNzEsMjMuODU1LDEwLjM3NSwyMi43NSwxMC4zNzV6IE0yMi43NSwxOC44NzVIMiAgIGMtMS4xMDQsMC0yLDAuODk2LTIsMnMwLjg5NiwyLDIsMmgyMC43NWMxLjEwNCwwLDItMC44OTYsMi0yUzIzLjg1NSwxOC44NzUsMjIuNzUsMTguODc1eiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojMzMzMzMzIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgo8L2c+PC9nPiA8L3N2Zz4=);
        background-size:contain;
        margin-right: auto;
    }
    .header-bot-inner nav ul a svg {
        right: inherit;
        width: 30px;
        height: 30px;

    }
    .header-bot-inner nav ul li:hover a {
        top: 0px;
    }
    .header-bot-inner nav ul li:hover a svg {
        fill: initial;
        top: 0px;
    }
    .header-bot-inner nav ul li a svg {
        fill: initial;
        top: 0px;
    }
    .header-bot-inner {
        align-items: center;
    }
    #pills-tabContent .search_item {
        flex: 0 0 100%;
        margin-bottom: 15px;
    }
    #pills-tabContent .search_button {
        flex: 0 0 100%;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .newslatter {
        margin-top:20px;
    }
    #pills-tab li {
        flex: 0 0 25%;
        margin:0 auto;
    }
    #pills-tab li:nth-child(1) , #pills-tab li:nth-child(2) , #pills-tab li:nth-child(3) , #pills-tab li:nth-child(4) {
        margin-bottom:10px;
    }
    #pills-tab li a {
        margin: 0 auto;
    }
    .footer-copy-right , .iran-tech {
        text-align: center;
    }
    .footer-social {
        margin-left: auto;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .services-section {
        padding-bottom: 30px;
    }
}
@media screen and (max-width:576px) {
    header .header-top-inner .header-call .header-tell {
        display: none;
    }

}
@media screen and (max-width:450px) {
    .footer-imgs {
        flex-wrap: wrap;
    }
    .footer-imgs .footer-img-item img {
        border: none;
        margin: 5px 0;
        width: 65px;
        height: 65px;
    }
}
@media screen and (max-width:365px) {
    .footer-imgs .footer-img-item img {
        border: none;
        margin: 5px 0;
        width: 55px;
        height: 55px;
    }
    #pills-tab li a {
        height: 70px;
        width: 65px;
    }
    #pills-tab li a span {
        font-size:12px;
    }

}
@media (min-width: 576px) {
    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem);
    }