/* وقتی زبان انگلیسی فعال است (با dir="ltr" یا کلاس زبان) */
body[dir="ltr"] .sidebar,
.lang-en .sidebar,
.lang-en .sidebar .sidebar-head,
.lang-en .ti-menu{ /* اضافه کردن شرط کلاس زبان برای اطمینان بیشتر */
    left:0;
    float: left;
    text-align: left;
}
.lang-en .sidebar .fa-fw{
    left:0;
    float: left;
    text-align: left;
    margin-right: 7px;
    margin-left: 0;
}
.lang-en .sidebar .arrowleft_menu{
    right: 15px;
    left: inherit;
    margin-right: 7px;
    margin-left: 0;
}