$fontFamily: IRANYekanX;
$fontFamilyXVF: 'IRANYekanXVF';
$rounded: 14px;
$mainColor:  #000;
$secondColor: #b71c1c;
$transition: all ease .3s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;

