@import "components/fonts";
@import "components/variables";
@import "components/mixin";
body{
  overflow-x: hidden;
  background: #fff;
  font-family: $fontFamily;
  direction: rtl;
}
.banner-me{
  width: 100%;
  position: relative;
  height: calc(100vh - 110px);
  min-height: 600px;
  .owl-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;

    img{
      width: 100%;
      height: 100%;
      filter: brightness(70%);
    }
  }
}

.owl-banner .owl-stage-outer,.owl-banner .owl-stage,.owl-banner.owl-rtl .owl-item,.owl-banner .item{
  width: 100%;
  height: 100%;
}

.parent-banner{
  width: 100%;
  height: 100%;
  @include flex-direction-colum();
  justify-content: space-evenly;
}
.text-banner{
  position: relative;
  z-index: 3;
  text-align: center;
  h2{
    font-family: $fontTitle;
    font-size: 50px;
    color: #fff;
  }
  h3{
    color: $secondColor;
    font-size: 50px;
  }
}

.parent-my-tours{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.square-flip{
  width: 100%;
  height: 450px;
  position: relative;
  border-radius: $rounded;
  overflow: hidden;
}
.tour-view{
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: $rounded;
  img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    filter:brightness(80%);
    object-fit: cover;
  }
}
.tour-back-white{
  background: #fff;
  transform: rotateY(180deg);
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: right;
}
.square-flip:hover .tour-view{
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.square-flip:hover .tour-back-white{
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.square-container{
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  padding: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  text-align: right;
  h4{
    font-size: 30px;
    color: $mainColor;
    margin-bottom: 5px;
    font-family: $fontFamilyBold;
  }
  h6{
    position: relative;
    color:$secondColor;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: $fontFamilyBold;
  }
  p{
    font-size: 16px;
    color: #676977;
    @include text-limit();
    margin-bottom: 20px;
  }
  .tour-list{
    @include grid(2);
    margin-bottom: 50px;

    .tour-list-item{
      @include flex-align-items-center();
      gap: 5px;

      svg{
        fill: $secondColor;
        width: 15px;
        overflow: unset;
      }
      span{
        color: $mainColor;
      }
    }
  }
}
.tour-details{
  border-bottom: 1px solid $secondColor;
  color: $mainColor;
  padding-bottom: 5px;
  transition: $transition;

  &:hover{
    text-decoration: none;
    color: $secondColor;
  }
}
.square-flip:hover .square-container{
  transform: translateY(-60%) translateX(0px) translateZ(0px) scale(1);
}
.tours{
  background: #f4f5f8;
  padding: 70px 0;
}
.title{
  @include flex-between();
  align-items: flex-end;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #555;
  text-align: right;
  .read-more{
    @include flex-center-all();
    gap: 5px;
    transition: $transition;
    color: #777;

    svg{
      width: 14px;
      height: 14px;
      fill: #777;
      transition: $transition;
      transform: rotateY(180deg);
    }
  }
}
.read-more:hover{
  color: #333;
  text-decoration: none;
}
.read-more:hover svg {
  fill: #333;
}

.title-text{
   h3{
     font-size: 20px;
     color: $mainColor;
   }
  h2{
    color: $mainColor;
    font-size: 22px;
    font-family: $fontTitle;
    margin-bottom: 0;
  }
}
.ul-tabs{
  @include flex-center-all();
  margin-bottom: 30px;

  .nav-link{
    padding: 10px 24px;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: $rounded;
    margin-left: 6px;
    margin-right: 6px;
    font-family:$fontFamilyBold, sans-serif;
    height: 50px;
  }
  .nav-link.active{
    background: $mainColor;
    color: #fff;
  }
}
.box-tabs-parent{
  margin-top: 40px;
}
.square-container2{
  display: flex;
  align-items: end;
  justify-content: flex-start;
  padding: 40px;
  text-align: right;
  height: 100%;
  position: relative;
  transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
  transform: translateX(0px) scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 2;

  h4{
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
    display: inline-flex;
    font-family: $fontFamilyBold;
  }
  h6{
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: $fontFamilyBold;
  }
}
.square-flip:hover .square-container2{
  -ms-transform: translateX(-650px) scale(0.88);
  transform: translateX(-650px) scale(0.88);
}
.category {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: $rounded;
  z-index: 3;
  writing-mode: vertical-rl;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: mixed;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 12px 6px;
  line-height: 1.5em;
  text-transform: uppercase;
  box-shadow: 0 0 35px 0 rgb(0 0 0 / 5%);
  background: $secondColor;
}


.blog{
  padding: 70px 0;
  background: #f4f5f8;
}
.parent-blog{
  @include grid(3);
  margin-top: 40px;

  .blog-item{
    @include flex-direction-colum();
    border-radius: $rounded;
    overflow: hidden;
    transition: $transition;
    background: #fff;
    box-shadow: $shadow;

    &:hover{
      text-decoration:none
    }

    .parent-img-blog{
      width: 100%;
      height: 246px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:brightness(90%);
      }
    }

    .parent-text-blog{
      padding: 20px 15px 32px;
      @include flex-direction-colum();
      height: calc(100% - 246px);
      align-items: flex-start;
      .data-blog{
        color: #808080;
        font-size: 14px;
      }
      h2{
        font-family: $fontFamilyBold;
        color: $secondColor;
        font-size: 24px;
        @include text-limit(1);
        margin-top: 12px;
        transition: $transition;

        &:hover{
          color: $mainColor;
        }
      }
      p{
        color: #3e3f40;
        font-size: 14px;
        @include text-limit(4);
        margin-top: 5px;
        line-height: 28px;
        margin-bottom: 26px;
        text-align: right;
      }
      button{
        @include flex-align-items-center();
        gap: 7px;
        transition:$transition;
        color: $mainColor;
        background: transparent;
        border: none;
        outline: none;
        margin-top: auto;
        font-family: $fontFamilyBold;
        margin-right: auto;
        &:hover {
          color: $secondColor;
        }
        &:hover svg {
          fill: $secondColor;
          transform: translateX(-5px) rotateY(180deg);;
        }

        svg{
          width: 15px;
          fill: $mainColor;
          transition: $transition;
          transform: rotateY(180deg);
        }
      }
    }
  }
}

.hotel{
  padding: 70px 0;
  background: #fff;
}
.box-ture{
  position: relative;
  width: 100%;
  height: 493px;
  border-radius: $rounded;
  overflow: hidden;
  transition: $transition;
  display: flex;
  direction: rtl;
  box-shadow: $shadow;

  .box-hotel-img{
    position: relative;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease-in-out .3s;
    }

    &:hover img{
      filter: brightness(85%);
      transform: scale(1.1);
    }
  }

  .category-hotel{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: $rounded;
    z-index: 3;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px 6px;
    line-height: 1.5em;
    text-transform: uppercase;
    box-shadow: 0 0 35px 0 rgba(0,0,0,.05);
    background: $secondColor;
  }
}

.box-ture-text{
  position: absolute;
  text-align: right;
  right: 0;
  bottom: -40px;
  background: linear-gradient(to bottom, transparent 0, rgba(15, 36, 84, .01) 2%, rgba(15, 36, 84, .75) 90%);
  padding: 20px;
  width: 100%;
  transition: all linear .3s;
  height: auto;

}
.title-hotel{
  width: 100%;
  @include flex-align-items-center();
  gap: 7px;
  justify-content: flex-start;
  margin-bottom: 7px;

  h3{
    color: #fff;
    font-family: $fontFamilyBold;
    margin-bottom: 0;
    font-size: 24px;
  }
  svg{
    width: 20px;
    fill: #fff;
  }
}
.line {
  text-align: center;
  height: 1px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all ease-in-out .3s;
  margin: auto 0 15px;
  border-radius: $rounded;
}
.box-hover ul {
  list-style: none;
  padding: 0;
  margin: 0;
  @include grid-style(2, 20, 0);
  justify-content: space-between;

  li:first-child{
    @include flex-align-items-center();
    justify-content: right;
    gap: 5px;
  }
  li:last-child{
    @include flex-align-items-center();
    justify-content: left;
  }

  span{
    color: #eeeeee;
  }
  svg{
    width: 12px;
    fill: #eeeeee;
  }
}
.rating svg{
  fill: yellow !important;
}
.box-hotel-text {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: -40px;
  background: linear-gradient(to bottom, transparent 0, rgba(15, 36, 84, .01) 2%, rgba(15, 36, 84, .75) 90%);
  padding: 20px;
  width: 100%;
  transition: all linear .3s;
  height: auto;
}
.box-ture:hover .box-hotel-text {
  bottom: 0;
}
.box-ture:hover .line {
  width: 100%;
  transition: all ease-in-out .8s;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $mainColor;
}
.owl-theme .owl-dots{
 @include flex-center-all();
  gap: 7px;
  margin-top: 20px;
}
.parent-img{
  position: relative;
  padding: 0 30px 30px 15px;
  height: 470px;
}
.about .about-img .parent-img::before {
  content: '';
  width: 50%;
  position: absolute;
  top: -6%;
  bottom: 60%;
  left: -3%;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
  z-index: 0;
  border-radius: $rounded;
}
.about .about-img .parent-img img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transition: all ease .5s;
  object-fit: cover;
  -webkit-filter: brightness(90%);
  border-radius: $rounded;
}
.about .about-img .parent-img::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 10px;
  left: 45px;
  bottom: 5px;
  background-color: $secondColor;
  border-radius: $rounded;
}
.about .about-img .parent-img img:hover {
  transform: scale(0.95);
}
.parent-about{
  @include flex-direction-colum();
  text-align: right;
  .titr-top{
    font-size: 30px;
    color: $mainColor;
  }
  h2{
    color: $mainColor;
    font-size: 22px;
    font-family: $fontTitle;
    margin-bottom: 0;
  }
  h3{
    font-size: 20px;
    font-family: $fontFamilyBold;
    margin-bottom: 0;
  }
  p{
    font-size: 15px;
    text-align: justify;
    color: #676977;
    margin: 20px 0;
    line-height: 28px;
    @include text-limit(4);
  }
}
.ul-about{
  list-style: none;
  @include flex-direction-colum();
  padding: 0;
  margin: 0;
  gap: 15px;
  font-size: 14px;
  li{
    @include flex-align-items-center();
    gap: 10px;

    div{
      background:$secondColor;
      padding: 10px;
      border-radius: 50%;
      color: #fff;
      @include flex-center-all();

      svg{
        width: 15px;
        fill: #fff;
      }
    }
    span{
      color: #676977;
    }
  }
}
.about{
  padding: 70px 0;
  background: #fff;
}
.phone-call-about{
  @include flex-align-items-center();
  gap: 15px;
  margin-top: 25px;
}
.icon-about-phone svg{
  width: 35px;
  fill: $secondColor;
  transition: $transition;
  transform: rotateY(180deg);
}
.text-about-phone{
  @include flex-direction-colum();
  gap: 5px;
   p{
     color: #676977;
     margin: 0;
   }
  a{
    font-size: 20px;
    color: $secondColor;
    transition: $transition;
  }
}

.counters{
  padding: 120px 0 80px 0;
  background-attachment: fixed;
  background-image: url("../images/15.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.after-counters{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0F2454;
  opacity: 0.6;
  z-index: 1;
}
.counter_wrapper{
  @include grid-style(3, 30px, 30px);
  position: relative;
  z-index: 2;
}
.counter_item{
  position: relative;
}
.img-arrow1{
  position: absolute;
  width: 50%;
  left: -30%;
  transform: rotateX(180deg);
  top: 15%;
  z-index: 4;
}
.icon-counters{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 50%;
  border: 7px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
  display: inline-block;
  i{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    line-height: 80px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(5px);
    @include flex-center-all();
    svg{
      width: 30px;
      fill: #fff;
      transition: $transition;
    }
  }
  .i-back{
    transform: translateX(120%);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.2);
    fill: #fff;
  }
}
.counter_item{
  transition: $transition;
  @include flex-center-all();
  flex-direction: column;
}
.counter_item:hover .i-back{
  transform: translateX(0%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.counter_item:hover .i-front{
  transform: translateX(-120%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.counter{
  color: #fff;
  font-size: 40px;
  font-family: $fontFamilyBold;
}
.counter_item h6{
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.app{
  .app_main{
    box-shadow: 0 6px 8px rgba(142,152,169,.12);
    border-radius: $rounded;
    padding: 1rem;
    background: #fff;
    height: 100%;
    border: 1px solid #ddd;
    .row {
      height: 100%;
      .img_box{
        img{
          height: 250px;
          width: 100%;
          object-fit: contain;
        }
      }
      .app_main_text{
        display: flex;
        flex-direction: column;
        h2{
          font-family: $fontFamilyBold;
          color: #333;
          font-size: 1.5rem;
          text-align: justify;
          margin-bottom: .5rem;
        }
        span{
          text-align: justify;
          padding-bottom: 1rem;
          color: #555;
        }
        .app_main_link{
          margin-top: auto;
        }
      }
      .qrCode{
        border: 1px solid #ddd;
        padding: 12px 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: #fefefe;
        color: #666;
        font-size: 14px;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        h4{
          font-size: 1rem;
        }
        img{
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .newsLetters_main{
    box-shadow: 0 6px 8px rgba(142,152,169,.12);
    border-radius: $rounded;
    padding: 1rem;
    background: $thirdColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    h3{
      font-family: $fontFamilyBold;
      color: #fff;
      font-size: 1.4rem;
      text-align: right;
      margin-bottom: auto;
      padding-bottom: 1rem;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 5px;
      input{
        display: flex;
        align-items: center;
        padding: 15px;
        height: 45px;
        border: 1px solid #d7d4d2;
        background-color: #fff;
        position: relative;
        border-radius: $rounded;
        margin-bottom: 0 !important;
        color: #8e8e8e;
        &:focus{outline: none}
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        height: 45px;
        border: none;
        background: $mainColor;
        color: #fff;
        position: relative;
        cursor: pointer;
        border-radius: $rounded;
        margin-bottom: 0 !important;
        transition: all .3s;
        &:hover{
          background: $secondColor;
        }
      }
    }
  }
}
.app_main_link{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  a{
    border: 1px solid #ddd;
    padding: 12px 0;
    width: 100%;
    border-radius: 10px;
    background: #fefefe;
    color: #666;
    font-size: 14px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: $fontFamilyBold;
    text-decoration: none;
    svg{
      width: 25px;
      height: 25px;
    }
    &:hover{
      background: #f1f1f1;
      color: #666;
      text-decoration: none;
    }
  }
}

.gallery{
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    >div{
      display: block;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .div1 { grid-area: 1 / 5 / 3 / 6; }
  .div2 { grid-area: 3 / 5 / 4 / 6; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 2 / 4 / 4 / 5; }
  .div5 { grid-area: 1 / 3 / 2 / 4; }
  .div6 { grid-area: 2 / 3 / 3 / 4; }
  .div7 { grid-area: 3 / 3 / 4 / 4; }
  .div8 { grid-area: 1 / 2 / 3 / 3; }
  .div9 { grid-area: 3 / 2 / 4 / 3; }
  .div10 { grid-area: 2 / 1 / 4 / 2; }
  .div11 { grid-area: 1 / 1 / 2 / 2; }
}


@media (max-width: 1200px) {
  .app .app_main .row .img_box img{
    display: none;
  }
}

@media (max-width:991px) {
  .parent-my-tours{
    grid-template-columns: repeat(2, 1fr);
  }
  .parent-blog{
    grid-template-columns: repeat(2, 1fr);
  }

  .counter_wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
  .img-arrow1{
    display: none;
  }
  .counters{
    padding: 70px 0;
  }
  .counter{
    font-size: 36px;
  }
  .counter_item h6{
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .text-banner{
    display: none;
  }
  .parent-banner{
    justify-content: flex-start;
  }
  .searchs_box{
    margin-top: 20px;
  }
  #myTab{
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
  }
  #myTab .nav-link.active{
    border-radius: 10px !important;
  }
  #myTab .nav-link {
    height: 75px !important;
  }
  #myTabContent{
    border-radius: 10px !important;
  }
  .banner-me{
    min-height: unset!important;
    height: unset !important;
    padding-bottom: 20px;
  }
  .title-text h2{
    font-size: 20px;
  }
  .title-text h3{
    font-size: 20px;
  }
  .title .read-more svg{
    width: 10px;
  }
  .title .read-more{
    font-size: 14px;
  }
  .parent-my-tours {
    grid-template-columns: repeat(1, 1fr);
  }
  .parent-blog {
    grid-template-columns: repeat(1, 1fr);
  }
  .square-container2 h4{
    font-size: 26px;
  }
  .blog{
    padding-top: 0 !important;
  }
  .parent-blog .blog-item .parent-text-blog h2{
    font-size: 22px;
  }
  .box-ture{
    height: 350px;
  }
  .title-hotel h3{
    font-size: 22px;
  }
  .title-hotel svg{
    width: 18px;
  }
  .owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
  }
  .my-div-mobile{
    padding: 0 !important;
  }
  .parent-about h2{
    font-size: 30px;
  }
  .parent-about h3{
    font-size: 18px;
  }
  .parent-about .titr-top{
    font-size: 20px;
  }
  .ul-about li span{
    font-size: 14px;
  }
}