@media (max-width: 1200px) {
    .nav-menu > li > a {
        padding: 20px 8px;
    }

}

@media ( max-width: 990px) {

    .home .herobanner.hm-h-banner h1.title {
        font-size: 25px;
    }
    .bignews .news-text{ width: 70%;}
    .home .herobanner.hm-h-banner h1.title span {
        font-size: 20px;
    }
    .bignews .news-group{ display: flex}
    .bignews .news-image{ height: auto}
    .nav-tabs > li {
        margin-left: 15px;
    }
    .navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open{
        background-color: #354d73;
    }
    .navigation-portrait .submenu-indicator{ left: 0; right: auto}
    .service-container{ padding: 5px;}
    .service-content{ min-height: 100px; height: auto}

}

@media (max-width: 767px) {
    .contact .social-nav{ display: none}
    .bignews .news-group , .news-group{ display: block}
    .news-text{ width: 100% !important;}
    .news-group a.imga{ width: 100%}

    body.homePage {
        background: none
    }

    .home .herobanner.hm-h-banner h1.title {
        display: none;
    }

    #_bodyContainer {
        padding: 50px 0 0;
    }
    .copyright p{ text-align: center;}
    .topbar-nav, .social-nav{ margin: auto}
    .nav_tabs_div .container {
        max-width: none;
    }

    .nav-tabs > li > a {
        display: grid;
        padding: 10px 0;
    }

    .tab-content li a i {
        display: block;
        margin: 5px auto;
    }

    .tab-content .nav-tabs {
        display: block;
        text-align: center;
    }

}

@media (max-width: 567px ) {
    .nav-tabs > li > a {
        font-size: 12px;
    }

    .regin, .contact {
        width: 100%;
        text-align: center
    }
    .col_search {
        width: 100%;
    }

    .col_search.dateField , .col_search.search-btn {
        width: 100% !important;
    }
    #menu5 .col_search {
        width: 100%;
    }

    #menu3 .col_search , #menu4 .col_search {
        width: 100%;
    }
    .col_search.flight_1{ margin-left: 0;}
    .flight_1 .fa-exchange-alt{ display: none}

}

@media ( max-width: 990px) and ( min-width: 767px) {
    .col_search {
        width: 33.33333%;
    }

    .col_search.dateField , .col_search.search-btn {
        width: 33.33333% !important;
    }
    #menu5 .col_search {
        width: 33.333%;
    }

    #menu3 .col_search , #menu4 .col_search {
        width: 33.333%;
    }
    .col_search.flight_1{ margin-left: 0;}
    .flight_1 .fa-exchange-alt{ display: none}
}

@media (max-width: 767px) and (min-width: 567px) {

    .col_search {
        width: 50%;
    }

    .col_search.dateField , .col_search.search-btn {
        width: 50% !important;
    }
    #menu5 .col_search {
        width: 50%;
    }

    #menu3 .col_search , #menu4 .col_search {
        width: 50%;
    }
    .col_search.flight_1{ margin-left: 0;}
    .flight_1 .fa-exchange-alt{ display: none}
}