@font-face {
    font-family: IRANSansWeb;
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).eot");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).ttf");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).woff");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansWeb(FaNum).woff2");
}
@font-face {
    font-family: IRANSansFaNum-Bold;
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.eot");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.ttf");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.woff");
    src: url("../../../assets/all-fonts/iransansweb/IRANSansFaNum-Bold.woff2");
}

body {
    font-family: IRANSansFaNum-Bold,SansSerif;
    overflow-x: hidden;
    user-select: none;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    flex-direction: column;
}

.link_a{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 10px;
    background: #ffffffad;
    height: 200px;
    transition: all .3s;
}
.link_a img{
    width: 150px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    padding: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.link_a h2{
    font-size: 18px;
}

.link_a:hover{
    color: #222;
    text-decoration: none;
    background-color: #fff;
}

.about{
    color: #fff;
    text-align: justify;
    text-align-last: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    line-height: 2;

}






.btn-icon {
    position: relative;
    line-height: 0;
    font-size: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
}
.btn-social {
    color: #fff;
    border-color: #ebf0f7;
    border-width: 2px;
    border-radius: 6.1875rem;
    height: 2.5rem !important;
    width: 2.5rem !important;
    transition: all .3s;
}
.btn-icon__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-socialwhatsapp:hover {
    color: #fff;
    background: #2ab200;
    box-shadow: 0 4px 11px #2ab200;
    text-decoration: none;
    transform: translateY(-3px);
}
.btn-socialinstagram:hover {
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0 4px 11px #d6249f;
    text-decoration: none;
    transform: translateY(-3px);
}
.btn-socialtelegram:hover {
    color: #fff;
    background: #039be5;
    box-shadow: 0 4px 11px #039be5;
    text-decoration: none;
    transform: translateY(-3px);
}

ul{
    width: 100%;
    background-color: #0009;
    position: absolute;
    bottom: 0;
    padding: 1rem 0 ;
    z-index: 10;
}

header{
    width: 100%;
    /*background-color: #0009;*/
    /*position: absolute;*/
    top: 0;
    z-index: 10;
    padding: 1rem 0 ;
}
header img{
    width: 200px;
    padding: 1rem 0;
    filter: drop-shadow(0 0 5px #222);
}
header h6{
    color:#fff;
    font-size: 18px;
    margin:0 ;
    padding-right: 1rem;
}