/*-------------- header --------------*/
.main_head {
    position: fixed;
    left: 0;
    right: 0;
    animation: slide-down .7s;
    background-color: #6a316d !important;
    top: 0;
    z-index: 98;
}

.header_area_op{
    width: 100%;
    position:absolute;
    top:0;
    right: 0;
    left: 0;
    background: #6a316d;

}
.header_area{
    box-shadow: 0 1px 3px 0 #a4a2a2;
}
.header_area.header_area_op {box-shadow: none!important;}
#header_area_op {
    background: #6a316d;
}
.search_item_parent{
    position: relative;
    z-index: 0;
    margin-left: 17px;
}
.top_header {
    color: #4f4f4f;
    font-size: 12px;
    display: none;
    background: #f5f5f5;
   /* position: absolute;
    top:0;
    right: 0;
    left: 0;*/
}
/*.display{*/
/*    display: block!important;*/
/*}*/
.menu-login {
    display: block;
    float: left;
    margin-right: 5px;
    color: #6a316d;
    font-size: 13px;
    background: #fff;
    line-height: 33px;
    border: none !important;
    border-radius: 5px;
    font-family: IRANSansnum !important;
    padding: 0 7px 0 0;
    width: 138px;
}
.menu-login i {
    padding-left: 4px;
    font-size: 12px;
    line-height: 31px;
    display: inline-block;
    color:#6a316d;
}
.top_header .phone_number {
    display: block;
    float: right;
    margin-left: 5px;
    font-family: IRANSansnum!important;
}
.paygiri-parent i{
    display: inline-block;
    font-size: 15px!important;
    line-height: 35px!important;
}
.top_header .phone_number i {
    color: #000;
    font-size: 13px;
    line-height: 37px;
    display: inline-block;
}
.top_header .phone_number a {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 12px;
    line-height: 37px;
    display: inline-block;
    margin-left: 2px;
}

.paygiri-paren{
    display: block;
    float: right;
    margin-left: 10px;
}
.top_header .paygiri-parent i {
    font-size: 13px;
    color: #fff;
    display: inline-block;
}
.top_header .paygiri-parent a {
    text-decoration: none;
    color: #fff;
    padding-right: 2px;
    font-size: 11px;
    line-height: 35px !important;
    display: inline-block;
}
.top-kharid{
    color: #fff;
    font-size: 12px;
    line-height: 35px!important;
}
.top-kharid:hover{color:#aaa!important;}
.main-navigation-button2 {
    color: #6a316d;
    font-size: 13px;
    background: #fff;
    line-height: 33px;
    border: none!important;
    border-radius: 8px;
    font-weight: bold;
    font-family: IRANSansnum!important;
    padding: 0 7px;
}
.main-navigation-button2 i{
    padding-left: 2px;
    font-size: 12px;
    line-height: 31px;
    display: inline-block;
}
.paygiri-parent{
    float: left;
    margin-right: 14px;
    padding:0 3px 0 7px;
    border-radius: 8px;
    color: #fff;
}
.paygiri-parent i{
    display: inline-block;
    color: #fff;
    font-size: 14px;
}
.paygiri-parent svg{
    width: 19px;
}
.navigation {
    width: 100%;
   /* display: flex;*/
    position: relative;
    font-family: inherit;
    align-items: center;

}
.nav-header{
    float: unset;
}
.navigation * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.navigation-portrait {
    height: 71px
}

.navigation-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19998
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}
/*.nav-header {
    margin-left: 20px;
}*/
.logo{
    width: 180px;
    padding: 0;
}

.navigation-hidden .nav-header {
    display: none
}
.nav-toggle {
    width: 30px;
    height: 30px;
    padding: 6px 2px 0;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 15px;
    display: none;
    cursor: pointer
}

.nav-toggle:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 .5em 0 0 #fff, 0 1em 0 0 #fff;
}

.navigation-portrait .nav-toggle {
    display: block
}
.nav-menus-wrapper{
  /*  margin: 0 auto;*/
    text-align: right;
    float: right;
}
.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #6a316d;
    z-index: 99999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0
}

.nav-menus-wrapper-close-button {
    width: 30px;
    height: 40px;
    margin: 10px 7px;
    display: none;
    float: right;
    color: #fff;
    font-size: 26px;
    cursor: pointer
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: block
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0
}

.navigation-portrait .nav-menu {
    width: 100%
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center
}

.navigation-landscape .nav-menu.nav-menu-centered > li {
    float: none
}

.nav-menu > li {
    display: inline-block;
    text-align: right
}

.navigation-portrait .nav-menu > li {
    width: 100%;
    position: relative;
}

.nav-menu > li > a {
    padding: 13px 16px 11px 26px !important;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 28px 15px 28px 26px;
    color: #ffffff;
}
.nav-menu > li:hover > a, .nav-menu > li.active > a, .nav-menu > li.focus > a {
    color: #ffff00;
}
.nav-menu > li > a > i, .nav-menu > li > a > [class*=ion-] {
    width: 18px;
    height: 16px;
    line-height: 16px;
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
}
.nav-menu > li > a > [class*=ion-] {
    width: 16px;
    display: inline-block;
    -webkit-transform: scale(1.8);
    transform: scale(1.8)
}
.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}
.nav-menu.nav-menu-social > li {
    text-align: center;
    float: none;
    border: none !important
}

.navigation-portrait .nav-menu.nav-menu-social > li {
    width: auto
}

.nav-menu.nav-menu-social > li > a > [class*=ion-] {
    font-size: 12px
}

.nav-menu.nav-menu-social > li > a > .fa {
    font-size: 14px
}

.navigation-portrait .nav-menu.nav-menu-social > li > a {
    padding: 15px
}

.submenu-indicator {
    margin-right: 6px;
    margin-top: 6px;
    float: left;
    -webkit-transition: all .2s;
    transition: all .2s
}

.submenu-indicator-chevron {
    height: 8px;
    width: 8px;
    display: block;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: transparent #fff #fff transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border .2s;
    transition: border .2s;
    margin: 0 5px;
}

.navigation-portrait .submenu-indicator-chevron {
    position: absolute;
    top: 18px;
    left: 24px
}

.nav-menu > li:hover > a .submenu-indicator-chevron, .nav-menu > .active > a .submenu-indicator-chevron, .nav-menu > .focus > a .submenu-indicator-chevron {
    border-color: transparent #616a6b #616a6b transparent
}

/*.navigation-portrait .submenu-indicator.submenu-indicator-up {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}*/

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}
.nav-search {
    height: 70px;
    float: right;
    z-index: 19998
}

.navigation-portrait .nav-search {
    height: 48px;
    padding: 0 10px;
    margin-right: 52px
}

.navigation-hidden .nav-search {
    display: none
}

.nav-search-button {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;

}

.navigation-portrait .nav-search-button {
    width: 50px;
    height: 48px;
    line-height: 46px;
    font-size: 22px
}

.nav-search-icon {
    width: 14px;
    height: 14px;
    margin: 2px 8px 8px 4px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #343a40;
    text-align: left;
    text-indent: -9999px;
    border: 2px solid;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nav-search-icon:after, .nav-search-icon:before {
    content: '';
    pointer-events: none
}

.nav-search-icon:before {
    width: 2px;
    height: 11px;
    top: 11px;
    position: absolute;
    left: 50%;
    border-radius: 0 0 1px 1px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-search-button:hover .nav-search-icon {
    color: #616a6b
}

.nav-search > form {
    width: 100%;
    height: 100%;
    padding: 0 auto;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 99
}

.nav-search-inner {
    width: 70%;
    height: 70px;
    margin: auto;
    display: table
}
.navigation-portrait .nav-search-inner {
    height: 48px
}

.nav-search-inner input[type=text], .nav-search-inner input[type=search] {
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0 12px;
    font-size: 26px;
    text-align: center;
    color: #343a40;
    outline: none;
    line-height: 70px;
    border: none;
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s
}

.navigation-portrait .nav-search-inner input[type=text], .navigation-portrait .nav-search-inner input[type=search] {
    height: 48px;
    font-size: 18px;
    line-height: 48px
}

.nav-search-close-button {
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: normal;
    color: #343a40;
    font-size: 20px;
    cursor: pointer;
    text-align: center
}

.navigation-portrait .nav-search-close-button {
    top: 10px;
    right: 14px
}

.nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px
}

.nav-button:hover, .nav-button:focus {
    color: #fff;
    text-decoration: none
}

.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px
}

.nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0
}

.navigation-portrait .nav-text + ul {
    margin-top: 15px
}

.nav-dropdown {
    min-width: 180px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0
}

.nav-dropdown .nav-dropdown {
    right: 100%
}

.nav-menu > li > .nav-dropdown {
    border-top: solid 1px #f0f0f0
}

.nav-dropdown > li {
    width: 100%;
    float: right;
    clear: both;
    position: relative;
    text-align: right;
}

.nav-dropdown > li > a {
    width: 100%;
    padding: 16px 20px;
    display: inline-block;
    text-decoration: none;
    float: right;
    font-size: 13px;
    color: #343a40;
    background-color: #fdfdfd;
}

.nav-dropdown > li:hover > a, .nav-dropdown > li.focus > a {
    color: #616a6b;
}
.nav-dropdown.nav-dropdown-left {
    right: 0
}

.nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%
}

.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
    text-align: right
}

.navigation-portrait .nav-dropdown > li > a {
    padding: 12px 20px 12px 30px
}

.navigation-portrait .nav-dropdown > li > ul > li > a {
    padding-left: 50px
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
    padding-left: 70px
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
    padding-left: 90px
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 110px
}

.nav-dropdown .submenu-indicator {
    left: 15px;
    top: 10px;
    position: absolute
}
.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(137deg);
    transform: rotate(137deg);
    margin-top: 8px;
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-dropdown > li:hover > a .submenu-indicator-chevron, .nav-dropdown > .focus > a .submenu-indicator-chevron {
    border-color: transparent #616a6b #616a6b transparent
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    left: 10px
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none
}

.nav-dropdown-horizontal > li {
    width: auto;
    clear: none;
    position: static
}

.navigation-portrait .nav-dropdown-horizontal > li {
    width: 100%
}

.nav-dropdown-horizontal > li > a {
    position: relative
}

.nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.main_header_area animated{
    background: #fff;
}
.nav-top-text-troll{
    position: relative;
    z-index: 0;
}
.nav-top-text-troll a{
    color:#fff;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    display: inline-block;
}
.blink_me {
    animation: blinker 1s linear infinite;
    padding: 5px 10px;
}
@keyframes blinker {
    50% { opacity: 0.3; }
}
.top_menu_sub {
    padding: 26px 0;
    border-bottom: 1px solid #eee;
}
.logo_in_menu {
    margin: 0 auto;
}
.logo_in_menu img{
    width: 150px;
    margin: 0 auto;
    display: block;
}
.top_menu_sub span {
    width: 100%;
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}
/*----------------- main --------------*/
.main{
    background: #f4f6fa;
    min-height: 400px;
}
.min-height{
    min-height: 400px;
}

