@font-face {
    font-family: IRANSansnum;
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/all-fonts/IRANSansWeb_FaNum.eot');
    src: url('../../../assets/all-fonts/IRANSansWeb_FaNum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../../../assets/all-fonts/IRANSansWeb_FaNum.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../../../assets/all-fonts/IRANSansWeb_FaNum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../../assets/all-fonts/IRANSans_FaNum_Bold.ttf') format('truetype');
}


body {
    overflow-x: hidden;
    font-family: IRANSansnum!important;
    direction: rtl;
    text-align: right;
}
/*a:not(.fa){
    font-family: IRANSansnum!important;
}*/
li {
    list-style: none
}

ul {
    padding: 0;
    margin: 0;
}
h4 {
    font-size: 14px;
    line-height: 16px;
    direction: rtl;
  }
a:hover {
    text-decoration: none;
}
row {
    margin-left: 0!important;
    margin-right: 0!important;
}
.iframe_searchbox {
    width: 45%;
    height: 551px;
    margin: 20px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 19%;
    border: none;
    overflow: hidden;	
}
/*-------------- banner ---------------*/
.banner-parent{
    margin: 0 !important;
    padding: 0 !important;

}
.banner-parent{
    position: relative;
    z-index: 0;
}
#owl-banner.owl-carousel .owl-stage{
    padding-top: 0!important;
}
#owl-banner.owl-carousel.owl-rtl .owl-item{
    padding-top: 0!important;
}
#owl-banner .item img{
    width: 100%;
    height: 700px;
    max-height:700px;
    display:block;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all ease .1s;
    /*animation:myfirst 7s linear 7s infinite alternate;*/
    /*
    animation: myfirst 7s linear 7s infinite alternate;
    */
}
@keyframes myfirst {
    0%   {transform: scale(1);}
    100% {transform: scale(1.3);}
}
#owl-banner .owl-stage .owl-item {
    position: relative;
    overflow: hidden;
    list-style: outside none none;
}
#owl-banner .owl-theme .owl-dots .owl-dot{
    display: flex;
}
#owl-banner .owl-dots .owl-dot span{
    width: 15px!important;
    height: 15px!important;
    margin: 2px!important;
}
#owl-banner .owl-dots .owl-dot.active span, #owl-banner .owl-dots .owl-dot:hover span {
    background: transparent!important;
    border: 5px solid #6a316d!important;
}
#owl-banner .owl-carousel .owl-stage {
    padding-top: 0 !important;
}

.owl-carousel.owl-rtl .owl-item {
    padding-bottom: 0 !important;
}
.owl-nav .owl-next:hover {
    opacity: 50%;
}
.owl-nav .owl-prev:hover {
    opacity: 50%;
}
#owl-banner .owl-nav .owl-prev:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-banner .owl-nav .owl-next:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-banner .owl-nav .owl-prev{
    opacity: 50%;
}

#owl-banner .owl-nav .owl-prev span{
    color: transparent;
}
#owl-banner .owl-nav .owl-next span{
    color: transparent;
}
.owl-theme .owl-nav {
    margin-top: 0;
}
#owl-banner .owl-carousel.owl-rtl .owl-item{
    padding: 10px 10px 0 10px !important;
}
#owl-banner .owl-nav .owl-prev{
    position: absolute;
    right: 20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#owl-banner .owl-nav .owl-next{
    position: absolute;
    left: 20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}

#owl-banner.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    width: 100%;
    top:50%;
}

.banner{
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}
/*--------------adv----------*/
.introduction{
    width: 100%;
    padding: 32px 0 49px;
}

.introduction-titr-parent {

    font-size: 28px;
    line-height: 98px;
    text-align: center;
}
.slider-lastnews {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}
.nav-introduction{
    width: 100%;
    text-align: center;
    margin:0 auto;
    display: block;
}
/*.nav-item {
    border-bottom: 0 !important;
}
.nav-item a{
    font-size: 18px;
    line-height: 44px;
    color: #fff;
    padding: 10px 15px;
    margin-left: 5px;
    text-decoration: none;
    box-shadow: 0 13px 40px 0 rgba(13, 21, 75, .2);
   border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 33px;

}
.nav-item.active{
    color: #fff;
}
.nav-item.active a{
    color: #fff!important;
    border: 1px solid transparent;
    background-image: linear-gradient(180deg, #600879, #bd0b93)!important;
}
.nav-tabs {
    border-bottom: 0!important;
    padding-bottom: 20px;
}
.nav-tabs .nav-item {
    margin-bottom: 0!important;
    display: inline-block;
}*/
.slider-tour-items .slider-tour-item {
    margin-bottom: 10px;
}
.slider-tour-items .slider-tour-item div.card2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 6px;
    position: relative;
    z-index: 0;
    border: 2px double #f6f6f6 !important;
    overflow: hidden;
}
.slider-tour-items .slider-tour-item a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.slider-tour-items .slider-tour-item a .slider-country {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.slider-tour-items .slider-tour-item div:hover a h3{
    color: #888;
}
.slider-tour-items .slider-tour-item div:hover a button{
    /*background-color: #616a6b;*/
    color: #fff;
}

.slider-tour-items .slider-tour-item a .slider-country .slider-country-background {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
}
.slider-tour-parent.slider-tour-items > div img {
    float: left;
    display: block;
    /*margin: 0 auto;*/
    height:401px;
    width: 100%;
}
.slider-tour-items .slider-tour-item a h3 {
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    display: block;
    color: #fff !important;
    background-image: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, .58) 36%, rgba(255, 255, 255, 0) 100%, #fff 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 15px;
    margin: 0!important;
}
.card2 .title h4{
    font-size: 16px;
    font-weight: bold;
    max-height: 30px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}
.card2 .title {
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    color: #fff !important;
    background-image: linear-gradient(360deg, #000 0%, rgba(0, 0, 0, .58) 76%, rgba(255, 255, 255, 0) 100%, #fff 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    float: right;
    width: 100%;
    max-height: 130px;
    margin: 0!important;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.card2:hover .title {
    display: block;
    opacity: 1;
    visibility: visible;
}
/*#owl-example .owl-item.active .card2 img{

}
#owl-example .owl-item.active:nth-child(2) .card2 img{
    filter: blur(0px);
}*/
#owl-example.owl-theme.owl-carousel.owl-rtl .owl-item {
    padding: 10px 20px!important;
}
#owl-example.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    width: 100%;
    top:40%;
}
#owl-example .owl-nav .owl-next:hover {
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:50%;
}
#owl-example .owl-nav .owl-prev{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:50%;
}

#owl-example .owl-nav .owl-prev{
    position: absolute;
    right: -50px;
    top: 55%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background:#fff center/55px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#owl-example .owl-nav .owl-next{
    position: absolute;
    left: -50px;
    top: 55%;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background:#fff center/55px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}
#owl-example .owl-nav .owl-prev span{
    color: transparent;
}
#owl-example .owl-nav .owl-next span{
    color: transparent;
}

#owl-example .owl-dots .owl-dot span {
    width: 27px;
    height: 27px;
    background-color: #310144;
    border: 7px double #fff;
    margin: 3px 4px !important;
}
#owl-example .owl-dots .owl-dot.active span, #owl-example .owl-dots .owl-dot:hover span {
    background-color: #b42bf0;
}
.subtitle-adv {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
    color: #fff;
    max-height: 43px;
    overflow: hidden;
    padding: 0 10px;
 /*   opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 0.3s ease-in-out;*/
}
#owl-example .card2 a {
    transition: all ease .4s;
    width: 100%;
    display: block;
    align-content: center;
    justify-content: center;
}
#owl-example .card2:hover img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
   /* transform: scale(1.2,1.2);*/
}
/*#owl-example .card2:hover .subtitle-adv {
    opacity: 1;
    visibility: visible;
    display: block;
}*/
/*.slider-tour-parent.slider-tour-items .card2:hover img{opacity: 0.7;}*/
#owl-example .card2:hover a{
    background: #000;
}
#owl-example .owl-nav .owl-prev:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-example .owl-nav .owl-next:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-example .owl-nav .owl-prev span{
    color: transparent;
}
#owl-example .owl-nav .owl-next span{
    color: transparent;
}

#owl-example .owl-carousel.owl-rtl .owl-item{
    padding: 10px 10px 0 10px !important;
}
#owl-example .owl-nav .owl-prev{
    position: absolute;
    right: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#owl-example .owl-nav .owl-next{
    position: absolute;
    left: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}

#owl-example.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    width: 100%;
    top:42%;
}
.slider-tour-items .slider-tour-item a button.bt1 {
    height: 19px;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    display: block;
    line-height: 21px;
 /*   position: absolute;
    right: 0;
    top: 0;
    z-index: 2;*/
    background: transparent;

}
/*------------app--------------*/
.nimslider4 {
    padding-bottom:50px;
    width: 100%;
}
.background-app{
    padding: 0;
    margin: 0!important;
}
.nimslider4 p:first-of-type {
    color: #2B2B2B;
    font-size: 15px;
    font-weight: bold;
}
.nimslider4 p:nth-of-type(2) {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.nimslider4 p:nth-of-type(3) {
    font-size: 13px;
    color: #2B2B2B;
}
.nimslider4 p {
    text-align: right;
}

.nimslider4 p:first-of-type {
    color: #2B2B2B;
    font-size: 15px;
    font-weight: bold;
}

.nimslider4 p:nth-of-type(2) {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.nimslider4 p:nth-of-type(3) {
    font-size: 13px;
    line-height: 30px;
    color: #2B2B2B;
}
.nimwawe {
    width: 100%;
}
.nimwawe1{
    width: 100%;
    transform: rotateZ(360deg);
}

.nimimgs4 {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nimimgs4 img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
    transform: scale(0.7);
    cursor: pointer;
}

.nimimgs4 img:hover {
    transform: scale(1);
}

.nimappimg {
    display: flex;
    justify-content: start;
    align-items: center;

}

.nimimgs42 img {
    border-radius: 9px;
    width: 150px;
    height: 50px;

}

.nimimgs42 {
    margin:0 auto;
    /*  padding: 20px 0;*/
    position: relative;
    overflow: hidden;
}

.nimimgs42:after {
    background: #ffffff;
    content: "";
    height: 555px;
    left: -250px;
    opacity: .3;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100px;
    z-index: 1000;
}

.nimimgs42:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.nimi2 {
    font-size: 30px !important;
    color: #125E8F;
}
.left2-app{
    display: none;
}
.iframe_searchbox {
    width: 50%;
    height: 532px;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    border: none;
    overflow: hidden;
    z-index: 99;
}
.left-app {
   /* background-image: linear-gradient(180deg, #6a316d, #2f0241);*/
    background: url("../images/bgapp.jpg") repeat;
    box-shadow: 0 0 20px 0 rgba(0,0, 0 ,0.1);
    border-radius: 8px;
}
.right-app {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    background: #fff;
    margin: 40px 0;
    padding: 30px 25px;
}
@media screen and (max-width: 767px) {
    .left-app {
        display: none;
    }
    .left2-app{
        display: block;
    }
}
/*-------------- article ----------*/
.article-div:hover{
    box-shadow:  0 4px 10px 0 #a4a2a2;
}
.cycle-parent{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 1px 0 0 rgba(0, 11, 38, 0.32);
}
.article-div{
    display: block;
}

.article-parent {
    width: 100%;
    margin-bottom: 70px;
    position: relative;
    z-index: 0;
   /* padding-top: 40px;*/
}
.article-item{
    border: 1px solid #eee;

}
.article-item:hover {
    border: 1px solid #fff;
}
.article-detail{
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    line-height: 35px;
    display: block;
    position: absolute;
    top: 32px;
    right: 9px;
    background: #6a316d;
    color: #fff;
    padding: 2px 11px;
    border-radius: 20px 0 0 20px;
    border-right: 2px solid #444;
}
.article-div:hover .article-div-img{
  /*  animation: shake 3s;
    animation-iteration-count: 1;*/
    transform: translateY(-8px);
    filter:grayscale(100%);
    box-shadow: 4px 4px 4px #eee;
}
.article-div:hover .article-subtitle,.article-div:hover .article-titr{
    transform: translateY(-8px);

}
.article-div:hover .article-detail {
    background: #333;
}
.article-titr{
    color: #000;
    text-align: center;
    font-size: 14px;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.article-subtitle{
    color: #545454;
    text-align: center;
    font-size: 13px;
    margin: 20px 0;
    height: 100px;
    overflow: hidden;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.article-div{
    box-shadow: 0 4px 10px 0 rgba(53, 2, 68, .4);
    background: #fff;
    padding:7% 8%;
    margin-bottom: 20px;

}
.article-div-img{
    width: 100%;
    height: 289px;
    padding: 15px;
    margin-bottom: 20px;
   /* border: 2px solid rgba(55, 94, 246, .4);*/
   /* border-radius: 48% 48% 8px 8px;*/
    background-color: rgba(55, 94, 246, .055);
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#owl-article .owl-stage .owl-item {
    position: relative;
    overflow: hidden;
    list-style: outside none none;
}

#owl-article .owl-carousel .owl-stage {
    padding-top: 0 !important;
}

#owl-article .owl-nav .owl-prev:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-article .owl-nav .owl-next:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#owl-article .owl-nav .owl-prev span{
    color: transparent;
}
#owl-article .owl-nav .owl-next span{
    color: transparent;
}

#owl-article .owl-carousel.owl-rtl .owl-item{
    padding: 10px 10px 0 10px !important;
}
#owl-article .owl-nav .owl-prev{
    position: absolute;
    right: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#owl-article .owl-nav .owl-next{
    position: absolute;
    left: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}

#owl-article.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    width: 100%;
    top:46%;
}
/*------------masir---------*/
.fastflight {
    background:#fff url("../images/bgadv.png") no-repeat;
    background-position: right top;
    background-size: 200px 250px;
    width: 100%;
    padding: 70px 0 49px;
}
.flight-title {
    width: 100%;
    font-size: 27px;
    line-height: 81px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.col_card .title{
    color: #fff;
    margin-bottom: 15px;
    font-size:14px !important;
    font-weight: 800;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col_card .title span{
    width: 100%;
}
.col_card .title::before{
    content: '';
    width: 60px;
    height: 50px;
    display: block;
    margin:0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.news_box{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;

}
.text_news_list{
    text-align: justify;
    padding: 10px;
}

.news_parent h2{
    font-size: 18px;
    padding: 5px 0;

}
.date_news{
    font-size: 12px;
    color: #8e8e8e;
}
.news_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_news span{
    padding: 10px;
    display: block;
    line-height: 2;
    font-size: 14px;
    color: #444;
    max-height: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col_card.IFN .title::before{
    background-image: url("../images/cities/esi.png");
}

.col_card.BND .title::before{
    background-image: url("../images/cities/ki.png");
}
.col_card.TBZ .title::before{
    background-image: url("../images/cities/tai.png");
}
.col_card.KIH .title::before{
    background-image: url("../images/cities/ki.png");
}
.col_card.MHD .title::before{
    background-image: url("../images/cities/ma.png");
}
.col_card.THR .title::before{
    background-image: url("../images/cities/ti.png");
}
.col_card.SYZ .title::before{
    background-image: url("../images/cities/shi.png");
}

.col_card .container{
    padding:0;
}
.col_card .title i{
    font-style: normal;
}
.list-item {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    list-style: none;
    margin: 10px 0;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;

    justify-content: center;
    border-radius: 2px;
}
.flightSearchBox:nth-of-type(2n+1) .list-item {
    background: #F7EF8A;
}
.list-item:after{
    content: '';
    background: #e2e2e2;

    width:0;



    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;

}
.blog_card:hover > div::after{

}
@-webkit-keyframes move_ {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;
        left: 0;


    }
}
@keyframes move_ {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;

    }
}

.list-item:hover::after{
    -webkit-animation: move_ .75s;
    animation: move_ .75s;


}

.list-item a{
    display: block;
    text-align: right;
    width: 100%;
    padding: 5px 10px;
    font-size:13px
}
.list-item::before{
    content: "\f053";
    left: 10px;
    font-size: 12px;
    position: absolute;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;

}
.list-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.col_card {
    text-align: center;
    /*! border: 1px solid #aaa; */
    padding: 10px;
    border-radius: 5px;
    box-sizing:  border-box;
    box-shadow: 0 0 5px #ccc;
    background-image: linear-gradient(to right, #080563 0%, #600879 100%)!important;
}
.col_card ul{
    padding-right: 0;
}
/*-------------- arz & date -------------*/
.arz-parent {
    margin-bottom: 20px;
}
.service {
    width: 100%;
    height: 320px;
    text-align: center;
    border: 1px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 16px;
    background: rgba(0,0,0,0.3);
}

.service .icon-holder {
    display: block;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50%;
    border: 6px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    width: 80px;
    margin: 0 auto;
}
.service:hover {border-color: #6a316d!important;}
.service:hover .icon-holder { border: 6px solid #6a316d!important;}
.service:hover .icon-holder i{ color: #6a316d!important;}
.service .fa-3x {font-size: 2.5em !important;}
.service .icon-holder i {
    color: #fff;
}
.service h4 {
    margin: 10px 11px 25px;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    margin-top: 100px;

}

.service p {
    font-size: 18px;
    line-height: 1.5;
    color: #8a8e91;
}

.service .heading {
    color: #fff;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
    width: 40px;
}
.service:hover {
    border-color: #6a316d;
}

.service.hovered {
    border-color: #fff;
}
.service.hovered .icon-holder {
    top: -40px;
}
.service.hovered .heading {
    top: -60px;
}
.service .description {
    width: 85%;
    margin: 0 auto;
    font-size: 13px;
    text-align: justify;
    line-height: 25px;
    position: relative;
    top: -82px;
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.services {
    padding: 80px 0px;
    background: #fafafa;
}

.btns {
    /*  position: relative;
      bottom: 57px;*/
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.btns > a {
    color: white;
    background-image: linear-gradient(90deg, #080563, #600879);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3), inset 0 1px rgba(255, 255, 255, .3);
    padding: 7px 10px;
    width: 40%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
}
.btns > a:hover { text-decoration: none;}
.btns > a.login-btn {
    margin-left: 15px;
}
.shamsiConvertDate:hover .convert-date-parent ,.shamsiConvertDate:hover .convert-date-parent .icon-holder{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
}
.convert-date {
    visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.shamsiConvertDate:hover .convert-date{
    top:-43px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}
.tabdil:first-child {
    /*margin-bottom: 22px;*/
    /*padding-bottom: 5px;*/
    /*border-bottom: 1px dashed #c3c3c3;*/
}
.tabdil span {
    padding: 7px 0px;
    display: block;
    font-size: 12px;
}

.tabdil input {
    padding: 7px 10px;
    width: 53%;
    border: 1px solid #fff;
    cursor: pointer;
    color: #000;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3), inset 0 1px rgba(255, 255, 255, .3);
}
.tabdil button {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(90deg, #080563, #600879);
    border: none;
    padding: 9px 10px;
    width: 40%;
    margin: 0 auto;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3), inset 0 1px rgba(255, 255, 255, .3);
    text-align: center;
    transition: background-color 500ms, transform 100ms;
    font-size: 12px;
    position: relative;
}

.tabdil #showShamsiResult {
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: center;
}
.tabdil #showMiladiResult {
    width: 100%;
    height: 30px;
  /*  background: #c5c5c5;*/
    margin: 10px 0px;
    text-align: center;

}
/*------------- newsletter -------------*/
.newsletter-parent{
    background: url("../images/bgnews2.jpg") repeat;
    padding: 75px 0 47px;
}
.newsletter{
    width: 100%;
    margin: 0!important;
}
.BannerRibbon {
    color: #fff;
    width: 100%;
}
.BannerRibbon-titr {
    font-size: 26px;
    line-height: 80px;
  /*  padding-top: 90px;*/
    text-align: center;
}
.ribbonText {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    display: block;
  /*  margin: 0 auto;*/
    margin-bottom: 55px!important;
    /*width: 60%;*/
}
.BannerRibbon .R-newsLetter {
    padding: 4px 0;
    text-align: center;
    align-content: center;
    display: block;
}
.BannerRibbon .subscribeMail {
    opacity: 1;
    width: 100%;
    height: 43px;
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #dadada;
    text-align: center;
    font-size: 12px;
    box-shadow: none !important;
    transition: ease all .3s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.BannerRibbon .Button {
  /*  width: 153px;*/
    height: 43px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0;
    margin-top: 2px;
    background-image: linear-gradient(90deg, #080563, #600879);
    font-size: 15px;
    border: none!important;
    color: #fff;
    display: inline-block;
    float: left;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3), inset 0 1px rgba(255, 255, 255, .3);
    text-align: center;
    transition: background-color 500ms, transform 100ms;
}

.BannerRibbon .MailInput {
    position: relative;
    display: inline-block;
    float: right;
    padding: 2px!important;
}
/* Shine */
.BannerRibbon .Button:hover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 43px;
    display: inline-block;
}
.BannerRibbon .Button:hover:after {
    animation: shine 5s ease-in-out  infinite;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
    );
}
/* Hover state - trigger effect */
@keyframes shine{
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}
/*----------------- fooetr ------------*/
footer {
    color: #fff!important;
    padding: 45px 0 0!important;
    text-align: right!important;
     background-image: linear-gradient(180deg, #6a316d, #2f0241) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.68) !important;
}
footer .footer-top-parent {
    display: flex!important;
    justify-content: center!important;
}
footer .cantact .address {
    color: #fff;
    font-size: 16px !important;
    line-height: 33px;
    margin-bottom: 25px!important;
}
.copy-titr{
    font-size: 11px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 12px 0 5px;
}

footer .phoneNumber,footer .mobile,footer .email {
    text-align: right;
    font-size: 14px;
    margin-bottom: 31px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    word-break: break-all;
}
footer .phoneNumber i, footer .mobile i,footer .email i,.address i{
    color: #fff !important;
    padding-left: 3px;
    display: inline-block;
}
footer .cantact ,footer .info  {
    padding-left: 40px !important;
    padding-top: 3px!important;
}
footer .cantact h4 ,footer .info  h4{
    margin-bottom: 39px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    padding-top: 0;
}
footer .nav-footer h4{
    margin-bottom: 34px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}
footer .map-aita{
    height: 180px;
    margin-top: 0;
}
#g-map {
    height: 180px;
    width: 100%;
}
.leaflet-popup-content {
    font-family: IRANSansnum !important;
}
.address {
    color: #fff;
    font-size: 13px !important;
    line-height: 27px;
    margin-bottom: 5px;
}
.address span,.email span,.phoneNumber span{font-weight: normal!important;font-size: 13px!important}
footer .links .links-parents {
    /*  height: 180px;*/
    font-size: 13px;

}
footer .links .links-parents a {
    color: #fff;
    float: right;
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: none;
    padding: 3px;
    margin: 2px 0;
}

footer .links .networks p {
    text-align: right;
    font-size: 16px;
    margin-bottom: 10px;
    direction: rtl;
}
footer .links .networks div span a {
    display: block;
    width: 100%;
    height: 100%;
}

footer .links .networks div span a {
    display: block;
    width: 100%;
    height: 100%;
}
.coderah {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.coderah button {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: #600879;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coderah button:hover {
    background-color: #6a316d!important;
    color: #fff!important;
}
.coderah input {
    color: rgba(0, 0, 0, 0.63)
}

.coderah input {
    height: 40px;
    border: none;
    box-shadow: 2px 0 6px 0 #aaaaaa4f;
    padding-right: 5px;
    font-size: 12px;
    width: 100%;
    padding-left: 40px;
    border-radius: 5px;
}
footer {
    position: relative!important;
    z-index: 0;
}
.nimimgs42 img {
    border-radius: 9px;
    width: 100%;
    height: 50px;

}
.nimappimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;

}
.nimimgs42 {
    margin:0 auto;
    position: relative;
    overflow: hidden;
    width: 47%!important;
}
.nimimgs42 a{
    display: block;
    position: relative;
}
.nimimgs42:after {
    background: #ffffff;
    content: "";
    height: 256px;
    left: -250px;
    opacity: .3;
    position: absolute;
    top: -100px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    z-index: 1000;
}

.nimimgs42:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.footer-end {
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.1) 90%,rgba(255,255,255,0) 100%);
}
footer .copyright {
    justify-content: right;
}
footer .copyright {
    font-size: 11px;
    text-align: center;
    line-height: 31px;
    width: 100%;
    padding: 7px;

}
footer .copyright a {
    color: #fff;
    text-align: center;
}

footer .social-icons_top_footer li {
    display: inline-flex;
    padding: 10px 5px;
    color: #fff;
    align-items: center;
}
.social-icons_top_footer {
    display: flex;
    justify-content: left;
   /* display: flex;
    margin: 0 auto;
    width: auto;
    justify-content: center;*/
}
.social-icons_top_footer li a {
    transition: all ease .4s;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 2px;
   border-radius:8px;
    opacity: 0.9;
    color: #fff;
    margin: 5px 2px;
}
.social-icons_top_footer li a:hover{
    /*background: #6a316d;*/
    display: flex;
    text-decoration: none;
    opacity: 100%;
}

.social-icons_top_footer li a.telegram {
    padding:6px 2px !important;
    font-size: 14px!important;
}
#scroll-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0;
    text-decoration: none;
    z-index: 2
}

#scroll-top button {
    width: 45px;
    height: 45px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background: #ffff00;
    color: #000;
    display: block;
    font-size: 12px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border: none!important;
}
#scroll-top button i{
    font-size: 23px;
    line-height: 43px;
    display: inline-block;
}
#scroll-top button:hover {
    background: #e7c001;

}
.nav-menu-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0
}
.nav-menu-footer li a{
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
}
.nav-menu-footer li a i.fa.fa-angle-double-left{
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
}

.nav-menu-footer > li:hover > a, .nav-menu-footer > li.active > a, .nav-menu-footer > li.focus > a {
    color: #fff;
}
/*------------tourist--------------*/
.tourist {
    width: 100%;
    background: #f4f6fa;
    position: relative;
    z-index: 0;
    padding-top: 25px;
    box-shadow: 0 0 15px #f4f6fa;
}
.tourist-mrg{
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.tourist-mrg .tourist-img img{
    padding: 9px;

}
.tourist-mrg {
    width: 25%;
    float: right;

    height: 250px;
    overflow: hidden;
}
.tourist-parent .tourist-mrg:first-child{
    width: 50%!important;
}
.tourist-parent .tourist-mrg:nth-child(5){
    width: 50%!important;
}
.tourist-mrg:hover .tourist-img img{
    transition: all 0.5s ease 0s;
  /*  -webkit-transform: scale(1.2);
    transform: scale(1.2);*/
    -webkit-transition: .3s ease-in-out;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.tourist-mrg:hover .tourist-titr-parent{
    transition: all 0.5s ease 0s;
    display: block;
}
.tourist-titr-parent{
    display: none;
    position: absolute;
    bottom :7%;
    z-index: 2;
}
.tourist-titr1 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: right;
    text-indent: 30px;
}
.tourist-titr2 {
    color: #fff;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 20px;
    text-align: right;
    text-indent: 30px;
}
.article-title {
    width: 100%;
    font-size: 27px;
    line-height:81px;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}
.tourist-subtitle {

    font-size: 14px;
    line-height: 11px;
    color: #616a6b;
    text-align: center;
    margin-bottom: 60px;
}
.tourist-parent{
    padding-bottom: 30px;
}
.slider-del-padding, .slider-del-padding .slider-margin, .slider-del-padding #owl-search, .slider-del-padding .owl-stage-outer, .slider-del-padding .owl-stage, .slider-del-padding .owl-item, .slider-del-padding .item, .slider-del-padding .owl-item a, .slider-del-padding .owl-item img{

    height:100%;
}
/*-----------------masir-------------*/
.section_fast{
    padding: 30px 0 20px;
    width: 100%;
    position: relative;
    z-index: 0;
    margin-bottom: 26px;
}
.col_card .title{
    color: #fff;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 25px;
}
.list-item {
    background: #fff;
    box-shadow: 0 1px 2px #999;
    list-style: none;
    margin: 10px 0;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;

    justify-content: center;
    border-radius: 5px;
}

.list-item:after{
    content: '';
    background: #e2e2e2;
    width:0;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;

}
.blog_card:hover > div::after{

}
@-webkit-keyframes move_ {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;
        left: 0;


    }
}
@keyframes move_ {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;

    }
}

.list-item:hover::after{
    -webkit-animation: move_ .75s;
    animation: move_ .75s;


}

.list-item a{
    display: block;
    text-align: right;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    color: #333;
    font-size: 14px;
}

.list-item:nth-child(2n) a{
    background: #ffeff0;
}
.list-item::before{
    content: "\f053";
    left: 10px;
    font-size: 12px;
    position: absolute;
    font-family: FontAwesome;
    color: #333;
}
.list-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.col_card {
    margin-top: 25px;
    text-align: center;
    /*! border: 1px solid #aaa; */
    padding: 20px 10px;
    border-radius: 5px;
    box-sizing: 0 0 border-box;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
}
.col_card:hover {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .1));
}
.col_card ul {
    padding-right: 0;
}
.col_card .title i {
    font-style: normal;
    color: #ffff00;
}


#best-masir .owl-nav .owl-prev:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#best-masir .owl-nav .owl-next:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #fff;
    border:none;
    box-shadow: 2px 2px 2px #555;
    border-radius:5px;
}
#best-masir .owl-nav .owl-prev span{
    color: transparent;
}
#best-masir .owl-nav .owl-next span{
    color: transparent;
}

#best-masir .owl-carousel.owl-rtl .owl-item{
    padding: 10px 10px 0 10px !important;
}
#best-masir .owl-nav .owl-prev{
    position: absolute;
    right: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#best-masir .owl-nav .owl-next{
    position: absolute;
    left: -20px;
    top: 55%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}

#best-masir .owl-nav {
    margin-top: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    left: 0;
    width: 100%;
    top:55%;
}
/*--------------------------------------*-*/
.footer-network{
    display: block;
    float: left;
}
.nav-menu-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
    font-size: 0
}
.nav-menu-footer li a{
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
}
.nav-menu-footer li a i.fa.fa-angle-double-left{
    font-size: 12px;
    display: inline-block;
    margin-left: 3px;
}
.nav-menu-footer li {
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-bottom:25px;
}
.nav-menu-footer > li:hover > a, .nav-menu-footer > li.active > a, .nav-menu-footer > li.focus > a {
    color: #fff;
}
/*--------------air-----------*/
.right-app-air {
    box-shadow: 0 0 20px 0 rgba(0, 0,0,0.10);
    background: #fff;
    margin: 40px 0;
    padding: 30px 25px;
}
#owl-airline .owl-dots .owl-dot span {
    width: 15px!important;
    height: 15px!important;
    margin: 2px!important;
}
#owl-airline .owl-dots .owl-dot.active span, #owl-airline .owl-dots .owl-dot:hover span {
    background-color: #6a316d!important;
}
#owl-airline button:focus {
    outline: none;
}

#owl-airline a {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
#owl-airline .owl-carousel.owl-rtl .owl-item{
    padding: 10px 10px 0 10px !important;
}
#owl-airline .owl-nav .owl-prev{
    position: absolute;
    right: 0px;
    top: 33%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/right.png") !important;
    color: transparent;
    background-size: 30% 30%;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);
}
#owl-airline .owl-nav .owl-next{
    position: absolute;
    left: 0px;
    top: 33%;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background:#fff center/45px no-repeat url("../images/left.png") !important;
    color: transparent;
    box-shadow: 0 4px 10px 0 rgba(55, 94, 246, .4);

}


.air_a0, .air_a01, .air_a02, .air_a03, .air_a1,
.air_a10, .air_a11, .air_a12, .air_a13, .air_a14,
.air_a15, .air_a16, .air_a17, .air_a18, .air_a19,
.air_a2, .air_a20, .air_a21, .air_a22, .air_a23,
.air_a24, .air_a25, .air_a26, .air_a27, .air_a28,
.air_a29, .air_a3, .air_a30, .air_a31, .air_a32,
.air_a4, .air_a5, .air_a6, .air_a7, .air_a8,
.air_a9 {
    display: inline-block;
    background: url('../images/airlines.png') no-repeat;
    width: 100%;
    height: 100%;
}

.air_a0 {
    background-position: 0 0;

}

.air_a01 {
    background-position: -90px -0px;

}

.air_a02 {
    background-position: -180px -0px;

}

.air_a03 {
    background-position: -270px -0px;
}

.air_a1 {
    background-position: -360px -0px;

}

.air_a10 {
    background-position: -450px -0px;

}

.air_a11 {
    background-position: -0px -90px;

}

.air_a12 {
    background-position: -90px -90px;

}

.air_a13 {
    background-position: -180px -90px;

}

.air_a14 {
    background-position: -270px -90px;

}

.air_a15 {
    background-position: -360px -90px;

}

.air_a16 {
    background-position: -450px -90px;

}

.air_a17 {
    background-position: -0px -180px;

}

.air_a18 {
    background-position: -90px -180px;

}

.air_a19 {
    background-position: -180px -180px;

}

.air_a2 {
    background-position: -270px -180px;

}

.air_a20 {
    background-position: -360px -180px;
}

.air_a21 {
    background-position: -450px -180px;
}

.air_a22 {
    background-position: -0px -270px;
}

.air_a23 {
    background-position: -90px -270px;
}

.air_a24 {
    background-position: -180px -270px;
}

.air_a25 {
    background-position: -270px -270px;
}

.air_a26 {
    background-position: -360px -270px;
}

.air_a27 {
    background-position: -450px -270px;
}

.air_a28 {
    background-position: -0px -360px;

}

.air_a29 {
    background-position: -90px -360px;

}

.air_a3 {
    background-position: -180px -360px;

}

.air_a30 {
    background-position: -270px -360px;

}

.air_a31 {
    background-position: -360px -360px;

}

.air_a32 {
    background-position: -450px -360px;

}

.air_a4 {
    background-position: -0px -450px;

}

.air_a5 {
    background-position: -90px -450px;
}

.air_a6 {
    background-position: -180px -450px;
}

.air_a7 {
    background-position: -270px -450px;
}

.air_a8 {
    background-position: -360px -450px;
}

.air_a9 {
    background-position: -450px -450px;
}
.btn.btn-primary {
    background-color: #570877!important;
    border-color:#570877!important;
}
.btn.btn-primary:hover{
    background-color: #2a0439!important;
    border-color: #2a0439!important;
}
.single-article h5 {
    font-size: 16px!important;
}
.single-article img {
    width: 200px!important;
}

.fastflight2 {
    width: 100%;
    padding: 70px 0 49px;
    min-height: 800px;
}
.fastflight2-pwa {
    padding: 0px 0 49px !important;
}
.login-captcha{
    width: 100%!important;
}
/*-------------------- media ---------------------*/
@media only screen and (min-width: 319px) {
    .navigation-portrait .submenu-indicator {
        height: 44px;
        top: 0;
        margin-top: 0;
        position: absolute;
        text-align: center;
        z-index: 20000;
    }
    .nav-header{
        float: unset;
    }
    .nav-brand{
        text-align: right;
        display: block;
        max-width:180px;
    }
    .right-header {
        position: absolute;
        top:17px;
        right: 6px;
        z-index: 99999;
    }
    .left-header-nav {
        position: absolute;
        top: 20px;
        left: 53px;
        z-index: 2;
        display: block;
    }


    .navigation-portrait .submenu-indicator {
        text-align: center;
    }

}
@media only screen and (max-width: 1351px) {
    .icon-tourist2 {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .iframe_searchbox{width: 80%!important;}
    .left-header-nav .footer-network{display: none;}
    .slider-tour-parent.slider-tour-items > div img{height: 301px!important;}
    .select_parent{
        margin-right: 8px!important;
    }
    .form-group2:nth-child(6), .form-group2:nth-child(7), .form-group2:nth-child(8){
        width: 120px!important;
        flex: 0 0 120px!important;
    }
    .img__captcha{width: 65%!important;}
    .siimage{width: 95px!important;}
    .BannerRibbon .R-newsLetter{margin-bottom: 69px!important;}
    .service{margin-bottom: 69px!important;}
    .footer-nav{
        background-size: 200% 100%!important;
    }
    .footer-nav-left{left:-150px!important;}
}

@media (max-width: 767px) {
    .slider-tour-parent.slider-tour-items > div img{height: 201px!important;}
    .logo {
        width: 150px !important;
        margin-top: 7px !important;
    }

    .nav-brand {
        text-align: center!important;
        margin: 0 auto!important;
    }
    .left-header-nav{left:auto!important;}
    .iframe_searchbox{width: 82%!important;}
    .paygiri-parent{
        display: none;
    }
    .iframe_searchbox{
        width: 100% !important;
    }
    .card2 .title h4{
        font-size: 17px!important;
        max-height: 62px!important;
        line-height: 69px!important;
    }
    .subtitle-adv {
        font-size: 11px!important;
        line-height: 23px!important;
        max-height: 141px!important;
        padding: 0 5px!important;
    }
    .introduction{background-image: none!important;}
    .iframe_searchbox{
        height: 602px!important;
    }
   /* #owl-banner .item img{
        height: 615px!important;
        max-height: 615px!important;
    }*/
    .left-side{display: none!important;}
    .search .container-fluid {
        background-color: rgba(0,33,63,0.7);
    }
    .tourist-parent .tourist-mrg:first-child,.tourist-parent .tourist-mrg:nth-child(5)
    ,.tourist-mrg{
        width: 50%!important;
    }
    .article-parent{
        margin-bottom: 0!important;
    }
    .iframe_searchbox{
        height: 546px!important;

    }
}


@media (max-width: 600px) {
    .card2 .title{
        width: 100%!important;
    }
    .slider-tour-parent.slider-tour-items > div img{
        width: 100%!important;
    }
    .BannerRibbon-titr{
        padding-top: 20px!important;
    }
    .ribbonText{
        width: 90%!important;
    }
    .iframe_searchbox{
        height: 546px!important;
        top: auto !important;
        bottom: 44px!important;

    }
    #owl-banner .item img{
      height: 603px !important;
      max-height: 603px !important;
    }
    footer .cantact, footer .info{padding-left: 15px!important;}
    .BannerRibbon .MailInput{
        margin-bottom: 5px!important;
    }
    footer .copyright{
        line-height: 26px!important;
        margin-bottom: 30px!important;
    }
    .nav-footer{
        margin-bottom: 30px;
    }
    #owl-example .owl-nav .owl-prev, #owl-example1 .owl-nav .owl-prev{
        right: 0!important;
    }
    #owl-example .owl-nav .owl-next,#owl-example1 .owl-nav .owl-next{
        left: 0!important;
    }

    .memory-titr{
        font-size: 13px!important;
        line-height: 21px!important;
        height: 119px!important;
        padding: 0 19px!important;
        margin-bottom: 19px!important;
    }

    .memory-item img.memory-img{
        width: 100%!important;
        padding-right: 26px!important;
        height: 212px!important;
        border-radius: 15px!important;
    }
    .introduction1{
        background-size: 213% 100%!important;
    }
    .introduction{
        padding: 20px 0!important;
        background-size: 250% 100%!important;
    }
    .slider-tour-parent.slider-tour-items > div img{
        height: 264px!important;
    }
    .memory:hover img.memory-img{
        box-shadow: none!important;
    }
    #owl-example2.owl-theme .owl-nav{
        position: relative!important;
        width: 100%!important;
        right: 0!important;
    }
    .memory-name{
        margin-bottom: 16px!important;
    }
    .memory-parent-bg{
        background-size: 250% 100%!important;
    }
    .contacts{
        background-image: none!important;
    }
    .BannerRibbon2{width: 100%!important;}
    .left-side {
        margin-bottom: 10px;
    }
    .search-box-bg {border: none!important;}
    .search {
        position: relative;
        /*  margin-top: 99px;*/
        background:#000;
        width: 100%!important;
    }
    #owl-banner.owl-theme .owl-nav{
        top:45%!important;
    }
    .search_button {
        flex:none;
    }
    .tourist-parent .tourist-mrg:first-child,.tourist-parent .tourist-mrg:nth-child(5)
    ,.tourist-mrg{
        width: 100%!important;
    }
    .fastflight{
        background-image: none!important;
    }
    .BannerRibbon-titr {text-align: center!important;}
    .BannerRibbon{
        width: 100%!important;

    }
    .ribbonText{
        text-align: center!important;
        margin: 0 auto;
    }
}
@media (max-width: 599px) {
    #owl-article .owl-nav .owl-next,#owl-article .owl-nav .owl-prev,#owl-article.owl-theme .owl-nav{position: unset!important;}
    #owl-example .owl-nav .owl-next,#owl-example .owl-nav .owl-prev,#owl-example.owl-theme .owl-nav{position: unset!important;}
    #best-masir {padding: 0 15px!important;}
    #best-masir .owl-nav .owl-prev{
       right: 0!important;
    }
    #best-masir .owl-nav .owl-next{
        left: 0!important;
    }
}
@media only screen and (max-width: 479px) {

    .menu-login {
        margin-top: 8px !important;
        padding:0 5px 0 4px !important;
        margin-right: 0 !important;
        width:auto!important;
    }

    .menu-login i{display: none!important;}
    .logo {
        width: 80px !important;
        margin-top: 25px !important;
    }
    .nimappimg{width: 90%!important;}
    .iframe_searchbox {
     /*   margin-top: 100px !important;*/
        height: 627px !important;
    }
    #owl-banner .item img{
        height: 703px !important;
        max-height: 703px !important;
    }
    .footer-nav-left{display: none!important;}
    .swap-flight-box{
        right: 45%!important;
        bottom: -28%!important;
    }
    .footer-nav {
        background-size: 400% 100%!important;
    }
    .ribbonText{
        width: 90%!important;
    }
    .select_parent{margin-right: 0!important;}
    .search_item_parent{margin-left: 0!important;}
    .nav-top-text-troll a{
        font-size: 11px!important;
    }
    .blink_me{padding: 5px 2px!important;}
    .menu-login,.top_header .phone_number{margin-left: 0!important;}
    .form-group2{
        width: 100%!important;
    }
    .form-group2:nth-child(6), .form-group2:nth-child(7), .form-group2:nth-child(8){
        width: 145px!important;
        flex: 0 0 145px!important;
    }
    #pills-bime .search_item,#pills-bus .search_item,#pills-visa .search_item,#hotel_khareji .search_item,
    #hotel_dakheli .search_item,#pills-p-khareji .search_item,#pills-p-dakheli .search_item {
        width: 100%!important;
        flex: 0 0 100%!important;
    }
    .nav-item a {
        font-size: 13px;
    }
    #owl-banner .item img {
        height: 450px;
    }
    #pills-bime .search_item {
        flex: 0 0 31%;
    }

    .select2.select2-container.select2-container--default.select2-container {
        margin-bottom: 10px;
    }
    .phone_number {
        margin-bottom: 5px;
    }
    .top_header .phone_number a {
        font-size: 11px;
    }
    .main-navigation-button2 {
        font-size: 10px;
    }
    .newsletter {
        background-position: right top;
    }
    .tourist-title {
        font-size: 20px !important;
        padding-top: 34px;
    }
    .search-box .nav-pills .nav-link {
        font-size: 11px;
    }
    .search-box .nav-pills .nav-link i{
        display: none;
    }
    .search-box .nav-pills .nav-link{
        min-width: 56px;
    }
    .raftobargasht ul li label{
        font-size: 11px;
    }
    .search_button {
        font-size: 10px;
    }
    .search_input {
        font-size: 10px;
        font-weight: normal;
        padding: 0 2px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 0 3px;
    }
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        font-size: 10px !important;
    }
    .select2-results__option {
        font-size: 10px !important;
    }
    .days-in-hotel,.days-in-hotel .result-st {
        font-size: 10px !important;
        line-height:20px;
        padding: 0 3px;
        text-align: center;
    }
    .days-in-hotel i {
        display: none;
    }
    .logo-txt{
        width: 86px!important;
    }
}
@media only screen and (max-width: 350px){
    .slider-tour-parent.slider-tour-items > div img{
        height: 184px!important;
    }
    .top_header .phone_number{display: none!important;}
    .menu-login{
        position: unset!important;
    }
    .main-navigation-button2{padding: 0 1px!important;}
    .logo {
        width: 81px !important;
        margin-top: 22px !important;
    }
}

.center-eleman {
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}
.center-eleman-pwa {
    margin-top: 10px !important;
}