$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: "iranbold";
$fontFamilyBold2: "yekanbakhBold";
$fontTitle: 'iranbold';
$rounded: 10px;
$mainColor: #00a588;
$secondColor: #b48b14;
$hoverColor: #4688f2;
$transition: all ease .3s;


