$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 16px;
$rounded2: 1.25rem;
$mainColor: #d23f44;
$secondColor: #192b35;
$transition: all ease .3s;
$boxShadow:0 1px 16px 0 rgba(0,0,0,.12);
$colorTitle: #000;
$border: 1px solid #eee;
$colorGreen:  #42940f;
$subColor:gray;
$hoverBtn : #bf2c3e;
$roundedBtn :20px;