@font-face {
    font-family: 'iran';
    src: url("../../../assets/all-fonts/IRANSansWeb_FaNum.eot") format('eot'),
    url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff") format('woff'),
    url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff2") format('woff2');
}

/*#ededed white */
/*#303131 black */
:root{
    --Color_one:#010072;
    --Color_two:#da464c;
}
a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}
body, html{
    overflow-x: hidden;
    direction: ltr;
    font-family: 'iran', serif !important;
}
input , select {
    font-family: 'iran' , sans-serif !important;
}
main , .content_tech{min-height: 100vh}
.titr_section{
    font-family: 'iran' , sans-serif;
}
.tourism_services_main {
    display: flex;
    flex-direction: column;
  }
  
  .tourism_services_main_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .tourism_services_main_div_a {
    border: 1px solid #ccc;
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem ;
    border-radius: 1rem;
    background-color: #fff;
    transition: all .3s;
    margin: 1rem 0;
  }
  
  .tourism_services_main_div_a:hover {
    text-decoration: none;
    box-shadow: 0 0 10px #aaa;
  
  }
  .tourism_services_main_div_a div{
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    transition: all .3s;
  }
  .tourism_services_main_div_a div img {
    width: 100%;
    transition: all .3s;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
  }
  .tourism_services_main_div_a:hover div img{
    transform: scale(1.3);
  }
  
  .tourism_services_main_div_a span {
    margin: .5rem 0;
    margin-top: 1rem;
    padding-bottom: .5rem;
    font-size: 20px;
    transition: all .3s;
    color: #333;
    width: 100%;border-bottom: 1px solid #ddd;
  }
  
  .tourism_services_main_div_a p {
    font-size: 15px;
    transition: all .3s;
    width: 100%;    
    direction: initial;
    color: #333;
    text-align: justify;
  }
  
.tourism_services_main_div_a button {
    font-size: 14px;
    background-color: transparent;
    color: #333;
    border: none;
    transition: all .3s;
    border: 1px solid var(--Color_one);
    width: 100%;
    margin-top: auto;
    padding: .5rem 2rem;
    border-radius:1rem ;
}
.tourism_services_main_div_a:hover button{
    background-color: var(--Color_one);
    color: #fff;
  } 

  .img_discount{
        position: absolute;
        width: 50px !important;
        top: 168px;
        right: 30px;
  }  


  .tourism_services_main_div_a:hover span {
    color: #000;
  }
  
  .tourism_services_main_div_a:hover p {
    color: #000;
  }
  
  .tourism_services_main_h1 {
    font-size: 25px;
    padding-bottom: 1rem;
    text-align: center;
  }

.icons > .fa-facebook-f:hover{
    transition: all .2s;
    color: #fff;
    background-color: #039be5;
}
.icons > .fa-twitter:hover{
    transition: all .2s;
    color: #fff;
    background-color: #039be5;
}
.icons > .fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    transition: all .2s;
}

  .slider{
    position: absolute;
    right: 0;
    top: 50%;
  }
  .slider .item,#slider .owl-stage-outer{
    width: 320px !important;
    text-align: right;  
    color: #fff !important;
  }
  .slider .item h2{font-size: 15px;}
  .slider .item h4{font-size: 14px;}
  .slider .item a{
    display: inline-block;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
    font-weight: bold;
    transition: all .3s;
  }
  .slider .item a:hover{
    color: #fff;
    background: var(--Color_one);
    border: 2px solid transparent;
  }
  .owl-dots{ 
      display: flex;
      justify-content: center;
  }
  .owl-dots .owl-dot.active{
    background: var(--mainColor) !important;
    transform: scale(1.2);
    transition: all .3s;
  }
  .owl-dots .owl-dot{
    background: #3339 !important;
    margin: .2rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
.home-product {
	color: #07253F;
}
.home-product h4{
	font-weight: bold;
	margin: 10px 0;
}
.home-product .clock-hotel , .home-product .calculator {
  margin: 10px 0;
}
.home-product h5 {
  margin: 5px 0;
	color: #00ADEF;
	font-weight: bold;
}
.home-product p {
	line-height: 1.6;
}
.rating-box {
	padding: 0 10px;
}
.rating-box i {
	color: #CCC000;
}
.rating-box span {
	margin: 0 5px;
	font-weight: bold;
}
.rating-box img {
	max-width: 100%;
	min-height: auto !important;
} 
.home-product .image-sm {
	position: relative;
}
.home-product .image-sm img{
    max-width: 100%;
    min-height: 100%;
    position: relative;
    object-fit: cover;
}
.home-product .detail-link-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0009;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-moz-transform: scale(0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-product .detail-link {
	position: absolute;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-moz-transform: scale(0);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.home-product .detail-link a {
	color: #fff;
	font-size: 24px;
}
.home-product .product-wrapper:hover  .detail-link,
.home-product .product-wrapper:hover  .detail-link-wrapper {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
.home-product .image-lg {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-product .image-lg img {
    position: relative;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(.5);
}
.home-product .image-lg .rating-box img {
	max-width: initial !important;
	min-height: initial !important;
}
.home-product .image-lg .overlay {
	/*! position: absolute; */
	height: 100%;
	width: 100%;
	background: #0009;
	padding: 15px;
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home-product .image-lg .product-detail {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	border: 1px solid #e6e6e6;
	opacity: 0;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-product .image-lg .product-detail .pricing-info {
	margin-top: 20px;
}
.home-product .image-lg .product-detail p {
	line-height: 2;
	margin: 15px 0px;
}
.home-product .image-lg .product-detail h3 {
	margin-top: 0px;
	font-weight: bold;
}
.home-product .image-lg:hover .product-detail,
.home-product .image-lg:hover .overlay {
	opacity: 1;
}
.home-product-padding {
	padding: 15px 15px 20px;
	text-align: center;
}
.home-product-padding p {
	margin: 15px 30px;
	line-height: 2;
}
.line {
	width: 50px;
	height: 4px;
	display: inline-block;
	background: #00ADEF;
	margin: 10px 0;
}
.height_main{
    min-height: 700px;
}
.height_main .product-wrapper{
    height: 50%;
}
.height_main .product-wrapper .clear-padding img{
    height: 100%;
    width: 100%;
}
.height_main .product-wrapper .clear-padding{
    height: 100%;
}
.pricing-info {
	overflow: hidden;
}
.pricing-info span {
	font-size: 16px;
	font-weight: bold;
	color: var(--Color_one);
}
.pricing-info a {
	color: #fff;
	padding: 8px;
	font-weight: bold;
	background: var(--Color_one);
	display: inline-block;
	border: 2px solid transparent;
    margin: 1rem 0;
    transition: all 0.2s ease;
}
.pricing-info a:hover {
	border: 2px solid var(--Color_one);
	color: var(--Color_one);
	background: transparent;
}
.tooltip-left:before {
	border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: -13px;
    top: 47%;
    width: 0;
    z-index: 2;
}
.tooltip-right:after {
	border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    border-top: 15px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: -13px;
    top: 47%;
    width: 0;
    z-index: 2;
}

#why-choose-us {
    background: #fff;
}
.choose-us-row {
	padding: 60px 0px;
    justify-content: center;
}
.choose-us-item {
	background: #f7f7f7;
	padding: 60px 20px 45px;
	position: relative;
	margin: 60px 10px 20px;
}
.choose-icon {
	background: var(--Color_two) none repeat scroll 0 0;
    color: #fff;
    height: 60px;
    left: 43%;
    position: absolute;
    top: -10%;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
    width: 60px;
}
.choose-icon i {
	font-size: 30px;
    padding: 15px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
.choose-us-item h4 {
	font-weight: bold;
    color: #4c4c4c;
}
.choose-us-item p {
	line-height: 2;
    color: #686868;
  overflow: hidden;
width:100%;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.choose-us-item a {
	background: var(--Color_one);
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding: 8px 15px;
	border: 2px solid transparent;
    transition: all 0.3s ease;
}
.choose-us-item a:hover {
	background: transparent;
	color: var(--Color_one);
	border: 2px solid var(--Color_one);
}
#customer-testimonial {
	padding: 60px 0px;
	background: #f7f7f7;
}
#review-customer {
	max-width: 800px;
	margin: 0 auto;
}
#review-customer .individual img {
	border: 5px solid #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 30px 0px;
}
#review-customer .individual .customer-word {
	padding: 30px 20px 35px;
	line-height: 2;
	background: #fff;
	position: relative;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 0px 5px #e6e6e6;
	margin-bottom: 30px;
}
#review-customer .individual .customer-word:after {
	background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    content: "";
    height: 30px;
    left: -2.3%;
    position: absolute;
    top: 15%;
    width: 30px;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
    width: 30px;
}
#review-customer .individual span {
	display: block;
}
#review-customer .individual span i {
	color: #F19C4F;
}
#review-customer .individual h5 {
	font-weight: bold;
}

.work-row {
	padding: 60px 0px;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
}
.work-step {
	position: relative;
	margin-bottom: 20px;
}
.work-step .first-step,
.work-step .second-step,
.work-step .third-step {
	position: relative;
}
.work-step .first-step:after {
	content: "";
	width: 50%;
	height: 2px;
	background: var(--Color_one);
	position: absolute;
	right: -20%;
	top: 20%
}
.work-step .second-step:after {
	content: "";
	width: 50%;
	height: 2px;
	background: var(--Color_one);
	position: absolute;
	right: -20%;
	top: 20%
}
.work-step .second-step:before {
	content: "";
	width: 50%;
	height: 2px;
	background:  var(--Color_one);
	position: absolute;
	left: -20%;
	top: 20%
}
.work-step .third-step:before {
	content: "";
	width: 50%;
	height: 2px;
	background:  var(--Color_one);
	position: absolute;
	left: -20%;
	top: 20%
}
.work-step i {
    border-radius: 50%;
	background: var(--Color_one);
    color: #fff;
    font-size: 34px;
    height: 80px;
    padding: 23px;
    width: 80px;
	position: relative;
}
.work-step h5 {
	font-weight: 800;
	margin: 30px 0px 10px;
	letter-spacing: 1px;
}
.work-step p {
	line-height: 2;
}
.modify-car {
	background: url('../images/bg-image12.jpg');
	background-attachment: fixed;
	background-size: contain;
}
.car-detail {
	padding-bottom: 4px;
}
.car-detail i {
	margin-right: 10px;
	color: #f9676b;
}
.tab-heading {
	margin-top: 20px !important;
	text-transform: uppercase;
	font-weight: bold;
}
.check-list {
	padding: 0px;
	list-style-type: none;
}
.check-list li {
	margin-left: 20px;
    padding: 5px 0;
    position: relative;
}
.check-list li:before {
	content: '\f058';
	color: #008000;
	position: absolute;
    font-family: 'FontAwesome', serif;
	left: -20px;
}
.car-overview {
	background: #f7f7f7 none repeat scroll 0 0;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 20px 15px;
    text-align: center;
	margin-top: 15px;
}
.car-overview:first-child {
	border-left: 1px solid #e6e6e6;
}
.car-overview i {
	color: #f9676b;
    display: block;
    font-size: 24px;
    padding-bottom: 10px;
}
.add-ons ul,
.rent-detail ul {
	list-style-type: none;
	padding: 0px;
}
.add-ons ul li,
.rent-detail ul li {
	padding: 5px 0px;
}
.add-ons input {
	margin-right: 5px;
}
.duration-sm {
	font-size: 13px;
	padding: 0px 0px 5px !important;
}
.rental-total {
	border-top: 1px solid #e6e6e6;
	font-weight: bold;
	padding: 10px 0px 0px !important;
}
.rent-box {
	margin: 30px 0px;
	padding: 40px 0px;
	background: #f7f7f7;
}
.add-ons {
	padding: 0px 30px;
	border-right: 1px solid #e6e6e6;
}
.rent-detail {
	padding: 0px 30px;
}
.reserve-car a {
	color: #fff;
	border: 2px solid transparent;
	background: #f9676b;
	padding: 10px 40px;
	display: inline-block;
	margin-top: 40px;
	font-weight: bold;
}
.reserve-car a:hover {
	color: #f9676b;
	border: 2px solid #f9676b;
	background: transparent;
}
.clear-top {
	margin-top: 0px !important;
}

.image-background {
	background: url(../images/bg-image2.jpg) center center;
	background-attachment: fixed;
	overflow: hidden;
}
.td-overlay {
	padding: 60px 0px 60px;
	background: #f7f7f7;
}
.light-section-title {
	margin-bottom: 60px;
	color: #333;
}
.light-section-title h2 {
	font-weight: 800;
	/*! letter-spacing: 2px; */
	color:#343434;
}
.light-section-title h4 {
	font-weight: bold;
  margin-bottom: 15px 
}
.light-section-title p {
	line-height: 2;
	color:#fff
}
.height_box_hotel{
    height: 400px;
}
.light-section-title .nav-tabs{
  display: flex;
  justify-content: center;
  margin-top: 1rem ; 
}
.light-section-title .nav-tabs a:first-child:hover , .light-section-title .nav-tabs a:first-child:focus{
  border-right: none ;
}
.light-section-title .nav-tabs a:first-child{
  border-radius: 0;  
  border-right: none ;
}
.light-section-title .nav-tabs a:last-child:hover , .light-section-title .nav-tabs a:last-child:focus{
  border-left: none ;
}
.light-section-title .nav-tabs a:last-child{
  border-radius:  0;
  border-left: none ;
}

.light-section-title .nav-tabs a:hover , .light-section-title .nav-tabs a:focus{
  border: 1px solid #333;
}
.light-section-title .nav-tabs a{
  border: 1px solid #333;
  color:#333;
}
.light-section-title .nav-tabs a.active{
  background: var(--Color_one);
  color:#fff;
}


.td-product {
	position: relative;
	overflow: hidden;
}
.td-product img {
	max-width: 100%;
	position: relative;
}
.td-product .overlay {
	color: #ffffff;
    position: absolute;
	top: 0;
    height: 100%;
	width: 100%;
	z-index: 0;
}
.td-product .overlay .wrapper {
	padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 0;
	left: 0;
}
.td-product .overlay h3,
.td-product .overlay h5 {
	font-weight: bold;
	text-align: center;
	opacity: 0;
	margin: 0px 0px 20px;
	-webkit-transform: translateY(100px);
	-webkit-transition: all 0.5s ease;
	-moz-transform: translateY(100px);
	-moz-transition: all 0.5s ease;
	-ms-transform: translateY(100px);
	-ms-transition: all 0.5s ease;
	-o-transform: translateY(100px);
	-o-transition: all 0.5s ease;
	transform: translateY(100px);
	transition: all 0.3s ease;
}
.td-product .overlay h5 {
	margin: 0px 0px 10px;
}
.td-product .overlay span {
	border-bottom: 3px solid #ffffff;
	opacity: 0;
	-webkit-transform: translateY(100px);
	-webkit-transition: all 0.5s ease;
	-moz-transform: translateY(100px);
	-moz-transition: all 0.5s ease;
	-ms-transform: translateY(100px);
	-ms-transition: all 0.5s ease;
	-o-transform: translateY(100px);
	-o-transition: all 0.5s ease;
	transform: translateY(100px);
	transition: all 0.5s ease;
}
.td-product .overlay h4 {
	text-align: center;
	margin-top: 15px;
	opacity: 0;
	-webkit-transform: translateY(100px);
	-webkit-transition: all 0.5s ease;
	-moz-transform: translateY(100px);
	-moz-transition: all 0.5s ease;
	-ms-transform: translateY(100px);
	-ms-transition: all 0.5s ease;
	-o-transform: translateY(100px);
	-o-transition: all 0.5s ease;
	transform: translateY(100px);
	transition: all 0.5s ease;
}
.td-product .overlay p {
	text-align: center;
	opacity: 0;
	line-height: 2;
	-webkit-transform: translateY(100px);
	-webkit-transition: all 0.5s ease;
	-moz-transform: translateY(100px);
	-moz-transition: all 0.5s ease;
	-ms-transform: translateY(100px);
	-ms-transition: all 0.5s ease;
	-o-transform: translateY(100px);
	-o-transition: all 0.5s ease;
	transform: translateY(100px);
	transition: all 0.5s ease;
}
.td-product .overlay a {	
	text-align: center;
	background: var(--Color_one);
	color: #fff;
	padding: 10px 20px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
	opacity: 0;
	-webkit-transform: translateY(-100px);
	-webkit-transition: all 0.5s ease;
	-moz-transform: translateY(-100px);
	-moz-transition: all 0.5s ease;
	-ms-transform: translateY(-100px);
	-ms-transition: all 0.5s ease;
	-o-transform: translateY(-100px);
	-o-transition: all 0.5s ease;
	transform: translateY(-100px);
	transition: all 0.5s ease;
	border: 1px solid transparent;
}
.td-product .overlay  a:hover {
	border: 1px solid var(--Color_one);
	color:  var(--Color_one);
	background: transparent;
}
.td-product:hover .overlay {
	background: #0009;
}
.td-product:hover p,
.td-product:hover h3,
.td-product:hover h4,
.td-product:hover span,
.td-product:hover h5 {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}
.td-product:hover a {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}



.section_slider {
    display: flex;
    background-image: url("../images/hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 122px);
    min-height: 500px;
    background-position: center;
}

.section_slider .carousel,
.section_slider .carousel-inner,
.section_slider .carousel-item,
.section_slider .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    transition: all ease .4s;
    width: 50px;
}

.section_slider::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rba(0,0,0,.5);

}

.carousel-control-prev span,
.carousel-control-next span {
    transition: all ease .4s;
    background-size: 20px;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, .2);

}
div#review_form div.comment-respond h3.comment-reply-title {
    font-size: 18px;
}
.hotel-listing .room-grid-view img {
    height: auto;
}

.hotel-listing .room-grid-view > img {
    min-height: 162px;
}
table.dlab-cart-tbl {
    width: 100%;
    margin-top: 60px;
}
.table-bordered.dlab-cart-tbl th {
    padding: 15px;
}
.table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    vertical-align: middle;
}
td.product-remove a.remove i {
    margin-left: 60px;
}
td.product-name a {
    color: #333;
    font-size: 18px;
}
td.product-name a:hover {
    color: #337ab7;
}
td.product-price span, td.product-subtotal span, td.product-quantity div.quantity {
    font-weight: 600;
}
.woocommerce a.remove:hover {
    background: #fff!important;
    color: #23527c!important;
}
.woocommerce a.remove {
    color: #f9676b!important;
}
td.product-thumbnail a img {
    padding: 15px;
}
.bg-primary {
    background-color: #f9676b;
}
div.coupon {
    float: left;
    padding: 30px;
}
div.coupon input.site-button {
    padding: 10px;
    background: #f9676b;
    border: 1px solid #f9676b;
    color: #fff;
    left: 20px;
    position: relative;
}
div.coupon input.site-button:hover {
    background: #00adef;
    border: 1px solid #00adef;
}
input.update-cart {
    padding: 10px;
    float: left;
    margin: 30px;
    background: #f9676b;
    border: 1px solid #f9676b;
    color: #fff;
    right: 20px;
    position: relative;
}
input.update-cart:hover {
    background: #00adef;
    border: 1px solid #00adef;
}
div.coupon input.coupon-code {
    padding: 6px 6px 7px 6px;
}
div.coupon label {
    font-size: 22px;
    margin-right: 5px;
}
tr.cart-subtotal td, tr.order-total td {
    border-left: 1px solid rgba(0,0,0,.1);
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
}
div.cart_totals {
    margin: 40px 0;
}
div.cart_totals h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
div.wc-proceed-to-checkout a {
    width: 100%;
    padding: 14px!important;
    text-align: center;
    font-size: 18px!important;
    background-color: #f9676b!important;
    border-radius: 0px!important;
}
div.wc-proceed-to-checkout a:hover {
    background-color: #00adef!important;
}
.woocommerce-checkout div.woocommerce {
    height: 850px;
    padding-left: 90px;
    padding-right: 90px;
}
.room-grid-view {
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}
.room-grid-view:hover{
    border: 1px solid var(--Color_one);
}
.room-grid-view img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}
.room-grid-view .room-info {
    padding: 15px 15px 0px;
    direction: ltr;
}
.room-info .post-desc p{
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #555;
  font-size: 14px;
}
.room-info > div > h5{
  text-align: justify;
  font-size: 17px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #333;
}
.room-grid-view .room-info .room-book {
    overflow: hidden;
    margin: 10px -15px 0;
    border-top: 1px solid #e6e6e6;
}
.post-title p {
    color: var(--Color_one)
}
.room-grid-view .room-info .room-book a{
    color: var(--Color_one);
    padding: 17px 10px;
    display: block;
    font-weight: bold;
    background: transparent;
    text-transform: uppercase;
	transition: all .3s ;
    border: 1px solid var(--Color_one);
}
.room-grid-view .room-info .room-book a:hover{
	color:#fff;
    background: var(--Color_one);
}
#owl-carousel3 .owl-stage{
	padding: 1rem 0 ;
}
.footer_top{
	padding: 20px 0;
	background-color: #f7f7f7;
}
.footer_top_input{
	border-radius: 0;
	padding: .5rem;
	color: #555;
	outline: none;
    border: none;
	background-color: #e6e6e6;
	font-size: 14px;
	border: 1px solid #aaa;
}
.footer_top_btn{
	padding: .5rem;
    border: none;
    background: transparent;
    color: var(--Color_one);
    width: 100%;
    font-weight: bold;
	transition: all 0.2s ease;
	border: 1px solid var(--Color_one);
}
.footer_top_btn:hover{
	background-color: var(--Color_one);
  color:#fff;
}

.icons{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.icons a{
	width: 40px;
	height: 40px;
	margin-right:  .4rem;
	background-color: var(--Color_one);
	border-radius: 50%;
	text-decoration: none;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease;
}
.main-footer-sub {
	padding: 45px 0px;
	background: #0A3152;
	color: #fff;
}
.main-footer-sub label {
	margin-bottom: 10px;
}
.main-footer-sub .form-control {
	background: #07253F;
	border-radius: 0;
	height: 40px;
	color: #fff;
	border: none;
}
.main-footer-sub button {
	height: 40px;
	border: none;
	background: #f9676b;
	color: #fff;
	width: 100%;
	font-weight: bold;
}
.main-footer-sub button i {
	margin-right: 5px;
}
.main-footer-sub button:hover {
	background: #00adef;
}
.main-footer-sub .social-media ul {
	padding: 0px;
	list-style-type: none;
}
.main-footer-sub .social-media ul li {
	display: inline;
}
.main-footer-sub .social-media li a {
	background: #f9676b none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    margin: 30px 5px 0;
    padding: 10px 13px;
    width: 40px;
}
.main-footer-sub .social-media li a:hover {
	background: #00adef;
}
.main-footer-sub .social-media li a i {
	font-size: 16px;
}
.main-footer {
	padding: 60px 0px;
	background: #fff;
	display: flex;
	justify-content: center;
}
.main-footer .about-box {
	color: #BEC4C8;
	line-height: 2;
}
.main-footer .about-box h3 {
	font-weight: 800;
	margin-top: 0px;
	color: var(--Color_one);
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: justify;
}
.main-footer .about-box a {
	padding: 2px 15px;
	color: var(--Color_one);
	border: 2px solid var(--Color_one);
	font-weight: bold;
}
.main-footer .about-box a:hover{
	border: 2px solid #fff;
	transition: all .3s;
	color: #fff;
	background-color:var(--Color_one) ;
}
.main-footer .links {
	line-height: 2;
}
.main-footer .links ul,
.we-accept ul,
.main-footer-nav ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
.main-footer .links h4,
.main-footer .contact-box h4, 
.we-accept h4 , .widget_text h4{
	color: var(--Color_one);
	margin-top: 0px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-align: justify;    padding-left: 0;
}
.main-footer .links ul li {
	position: relative;
	display: flex;
	width: 50%;
}
.main-footer .links ul li a,
.main-footer-nav ul li a {
	color: #333;
	margin-right:15px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.textwidget{
  align-items: flex-start;
}
.textwidget p{
    margin-bottom : 1rem;
	color: #333 !important;
  text-align: justify;
  overflow: hidden;
  width:100%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
	font-size: 14px;
}
.textwidget a:hover p{
	color: var(--Color_one);
}
.main-footer .links ul li a:hover,
.main-footer-nav ul li a:hover {
	color: var(--Color_one);
}
.main-footer .contact-box p {
	color: #303030;
	line-height: 2;
	display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.main-footer .contact-box p i {
	border: 2px solid #333;
    border-radius: 50%;
    color: var(--Color_one);
    display: flex;
    height: 40px;
    padding: 10px 11px;
    width: 40px;
	margin-right:10px;
	justify-content: center;
	align-items: center;
}
.we-accept {
	padding: 30px 0px 0px;
}
.we-accept ul li,
.main-footer-nav ul li {
	display: inline;
	margin: 0px 5px;
}
.main-footer-nav {
	padding: 10px 0px;
	background: #fff;
	color: #333;
	position: relative;
	display: flex;
	justify-content: center;
	border-top: 1px solid #ccc;
}
.main-footer-nav p,
.main-footer-nav ul {
	margin-bottom: 0px;
}
.main-footer-nav .go-up a {
	color: #BEC4C8;
	padding: 5px 8px;
}
.last_link:hover{
	color: var(--Color_one);
}
	.last_link{
		transition: all 0.2s;
        color: #333;
}
.but-top {
    display: none;
    position: fixed;
    z-index: 110;
    bottom: 44px;
    right: 0;
}
.but-top a {
    padding: 1rem;
    border-radius: 0;
    background-color: var(--Color_one);
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
.but-top a:hover {
    text-decoration: none;
}

.textwidget a {
    color: inherit;
}
.link-image img {
    width : 100%;
}

@media (min-width: 1750px) {
	.home-product-padding {
		padding: 10%;
	}
}
@media (max-width: 1024px) {}
@media (max-width: 992px) {
    .nav-menu > li , .nav-menu{margin-right: 0}

	.icons{
		margin-top: .5rem;
	    justify-content: center !important;
    }
    .modify-car {
		background-size: cover;
	}
    .sm-footer h4 {
		margin: 40px 0px 20px;
	}
}
@media (max-width: 768px) {
    .product-wrapper h4{
        font-size: 14px;
    }
    .home-product .clock-hotel , .home-product .calculator {
        font-size: 13px;
    }
    .height_main .product-wrapper{
        width: 100%;
    }
.home-product .image-lg .product-detail {
  padding:0;
  }
  .td-product .overlay {
    background: #0009;
}
  .td-product p, .td-product h3, .td-product h4, .td-product span, .td-product h5 , .td-product a{
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    transform: translateY(0) !important;
}
  .product-detail , .overlay{opacity: 1 !important}
	.main-footer .links h4,
	.main-footer .contact-box h4, 
	.we-accept h4 {
		margin-top: 45px;
	}
	.main-footer-nav ul li {
		margin: 15px 5px;
		display: inline-block;
	}
	.main-footer .links h4,
	.main-footer .contact-box h4, 
	.we-accept h4 {
		margin-top: 45px;
	}
	.main-footer-nav ul li {
		margin: 15px 5px;
		display: inline-block;
	}
    .tour-grid .tour-detail {
		padding-top: 2%;
	}
    .work-step .first-step,
	.work-step .second-step,
	.work-step .third-step {
		margin-top: 30px;
	}
	.work-step .third-step:before,
	.work-step .first-step:after,
	.work-step .second-step:before, 
	.work-step .second-step:after {
		display: none;
	}
    .td-product h3 {
		font-size: 16px;
	}
	.td-product p {
		font-size: 12px;
		line-height: 1.6;
	}
	.td-product a {
		font-size: 12px;
	}
	.td-product .overlay .wrapper {
		padding: 10px;
	}
    .flex-row {
		display: block;
	}
	.flex-row .flex-item {
		width: 100%;
	}
	.hotel-gallery-desc {
		padding: 30px 15px;
	}
	.flex-item .flex-item-desc {
		padding: 60px 15px;
	}
	.hotel-tagline h3 {
		font-size: 16px;
	}
	.hotel-tagline h1 {
		font-size: 20px
	}
    .home-product .image-lg .product-detail {
		-webkit-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(-50% , -50%);
	}
	.home-product .image-sm img{
		max-width: 100%;
		min-height: initial !important;
	}
	.home-product .image-lg img{
		max-width: 100%;
		min-height: initial !important;
		object-fit: cover;
		height: 100%;
        filter: brightness(.5);
	}
	.home-product-padding {
		border-bottom: 2px solid #07253F;
	}
	.home-product .image-lg .overlay {
		top: 5%;
	}
    .slider{display: none !important;}
    #myTabContent{width: 100%;}
}
@media (max-width: 576px) {
.home-product .image-lg .product-detail {
    padding:0;
  }
  
  
}