footer{
    background-color: #46659e;
}
header{
    background-color: #46659e;
}
h2, h4 {
    color: white;
}

@font-face {
    font-family: Iran;
    src: url("../font/IRANSansWeb_FaNum.woff");
}

body{
    font-family: Iran !important;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-login{
    cursor:pointer;
    position:relative;
    padding:5px 10px;
    border:2px solid #fff;
    border-radius:5px;
}

.content_tech{
    min-height:100vh
    font-family: Iran;

}

@media only screen and (max-width: 620px){
    .Url-text{
        display:none;
    }
}