$fontFamily: IRANSansWeb;
$fontFamilyBold: IRANSansFaNum-Bold;
$fontTitle: IRANSansFaNum-Bold;
$rounded: 10px;
$mainColor: #1c39bb;
$secondColor: #2481df;
$thirdColor: #fa7113;
$bg-section: #f4f5f8;
$transition: all ease .3s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);