.title{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: ShabnamBold;
    margin: 1.5rem 0;
    font-size: 25px;
}

.txt-search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 rgba(88,114,195,.2);
    z-index: 100;
    position: relative;
    background: #dfdfdfe8;
    margin-bottom: 40px;
    padding: 20px;
    margin-top: 10px;
}

.txt-search-box h5 {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    padding: 0 20px 12px 20px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto 5px auto;
}

.txt-search-box ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
}
.txt-search-box ul li {
    font-size: 14px;
    text-align: right;
    list-style: disc;
}

@media (max-width: 768px) {
    .txt-search-box h5 {
        font-size: 14px;
        line-height: 23px;
    }
    .txt-search-box ul li {
        font-size: 12px;
        line-height: 20px;
    }
}


.search {
    width:100%;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    /*min-height:610px;*/
    height: calc(100vh - 84px);
}
.img_after_banner{
    position: relative;
    height: 220px;
}
.OWL_slider_banner {
    position:absolute;
    width:100%;
    inset:0;
    height:100%
}
.OWL_slider_banner>div,
.OWL_slider_banner>div>div,
.OWL_slider_banner>div>div>.owl-item,
.OWL_slider_banner>div>div>.owl-item>.item {
    height:100%
}
.OWL_slider_banner> .owl-nav{
    height:auto
}
.OWL_slider_banner .owl-next:hover {
    background:#fff!important;
    color:var(--mainColor)!important
}
.OWL_slider_banner .owl-next i {
    font-size:20px
}
.OWL_slider_banner .owl-next {
    margin:0 1rem;
    width:50px!important;
    transition:all .3s!important;
    display:flex!important;
    align-items:center!important;
    justify-content:center!important;
    height:50px!important;
    border-radius:50%!important;
    background:rgba(114, 114, 114, 0.33) !important;
    color:#fff!important;

    position: absolute;
    height:unset;
    z-index:0;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    left: 0;
    justify-content:space-between;
    align-items:center;
    width:100%;
    z-index: 10;
}
.OWL_slider_banner .owl-prev:hover {
    background:#fff!important;
    color:var(--mainColor)!important
}
.OWL_slider_banner .owl-prev i {
    font-size:20px
}
.OWL_slider_banner .owl-prev {
    margin:0 1rem;
    width:50px!important;
    transition:all .3s!important;
    display:flex!important;
    align-items:center!important;
    justify-content:center!important;
    height:50px!important;
    border-radius:50%!important;
    background:rgba(114, 114, 114, 0.33) !important;
    color:#fff!important;

    position: absolute;
    height:unset;
    z-index:0;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    right: 0;
    justify-content:space-between;
    align-items:center;
    width:100%;
    z-index: 10;
}
.OWL_slider_banner img {
    height:100%;
    object-fit:cover;
     filter: brightness(.4);
}
.OWL_slider_banner>div>div>.owl-item>.item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

@keyframes anim {
    to{
        opacity: 1;
        transform: translateY(0);
    }from{
         opacity: 0;
         transform: translateY(100px);
     }
}
.text-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*! padding: 0 10rem; */
    z-index: 76;
    width: 100%;
    height: 100%;
}
.text-banner span{color: #fff;
    font-size: 20px;
}
.text-banner h2{
    font-family: ShabnamBold;
    margin-top: 15%;
    color: #fff;
    font-size: 40px;
}
.text-banner p{color: #fff;
    font-size: 15px;
}
.OWL_slider_banner>div>div>.owl-item.active .text-banner span{
    animation: anim .5s linear;
}
.OWL_slider_banner>div>div>.owl-item.active .text-banner h2{
    animation: anim .5s linear;
}
.OWL_slider_banner>div>div>.owl-item.active .text-banner a{
    animation: anim .3s linear;
}




.article_main{
    padding: 3px !important;
    display: flex;
}
.article_main > a{
    height: 100%;
    display: flex;
    /*! border:1px solid #ccc; */
    flex-direction: column;
    border-radius: var(--radius);
    overflow: hidden;
    background: #fff;
    border:1px solid #ddd;
}
.article_main > a > div{
    height: 250px !important;
}
.article_main > a > div > div{overflow: hidden;
    height: 100% !important;
}
.article_main > a > div > div > img{
    width: 100%;
    height: 250px !important;
    object-fit: cover;
    transition: all .3s;
}
.article_main > a:hover img{
    filter: brightness(.5);
    transform: scale(1.2)
}
.article_main > a > div:last-child{
    padding: 1rem;
    padding-top: 2.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}
.article_main > a > div:last-child::before{
    content: "\e234";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    top: -25px;
    left: 50%;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    transform: translateX(-50%);
}
.article_main > a > div:last-child::after{
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 60px;
    height: 60px;
    background: var(--mainColor);
    z-index: -1;
    border-radius: var(--radius);
    border:1px solid #8E7B7C;
}
.article_main > a > div > h4{
    font-family:ShabnamBold;
    font-size: 18px;
    color: var(--mainColor);
    text-align: justify;
    line-height: 1.6;
    margin:0
}
.article_main > a > div > span{
    font-size: 14px;
    color: var(--mainColor);
    margin:1rem 0;
    padding-bottom: 2rem;
    position: relative
}
.article_main > a > div > span::after{
    content: "";
    width: 50px;
    height: 5px;
    display: flex;
    border-radius: 10px;
    background: var(--mainColor);
    position: absolute;
    bottom: 0;
}
.article_main > a > div > p{
    text-align: justify;
    color: #5e4646;
    margin-top: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-size: 14px;
}


.tour{
    /*! background-image: url("../images/tour_bg.jpg"); */
    background-size: cover;
    background-color: #f1f1f1;
    background-blend-mode: darken;
    border-bottom: 1px solid var(--mainColor);
}
.sidebarTour{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebarTour{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebarTour > li{
    width: 100%;
}
.sidebarTour > li > a{
    transition: all .3s;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    color: var(--mainColor);
    align-items: center;
    border-radius: var(--radius);
}
.sidebarTour > li{
    display: flex;
    flex-direction: column;
}
.sidebarTour > li::after{
    content: "";
    width: 100%;
    height: 1px;
    background: var(--mainColor);
    margin: 1rem 0;
    
}
.sidebarTour > li:last-child::after{
    display: none;
}
.sidebarTour > li > a > i{
    margin-left: 10px;
    transition: all .3s;
    color: var(--mainColor);
}
.sidebarTour > li > a:hover > i,
.sidebarTour > li > a.active > i{
    color: var(--secondColor);
}
.sidebarTour > li > a.active{
    background: var(--mainColor);
    transition: all .3s;
    color: #fff;
}
.sidebarTour > li > a:hover{
    background: var(--mainColor);
    transition: all .3s;
    color: #fff;
}

.tour_link{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    border-radius: var(--radius);
    transition: all .3s;
    
}
.tour_link > .img_tour > img{
    width: 100%;
    object-fit: cover;
    height: 180px;
}
.img_tour{
    overflow: hidden;
}
.img_tour img{transition: all .3s}
.tour_link:hover .img_tour img{
    transform: scale(1.2)
}
.tour_link > .text_tour{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour_link > .text_tour > h4{
    font-family: ShabnamBold;
    font-size: 20px;
    color: var(--secondColor);
    text-align: center;
    line-height: 1.6;
    margin-bottom: .7rem;
}
.tour_link > .text_tour > span{
    margin-bottom: .7rem;
    color:#555;
    display: flex;
    font-size: 14px;
}
.tour_link > .text_tour > span > i{
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-style: normal;
}
.tour_link > .text_tour > button > i{
    margin-right: 8px;
}
.tour_link > .text_tour > button{
    font-size: 13px;
    background: transparent;
    padding: 5px 10px;
    margin: 0;
    border-radius: var(--radius);
    background: #0f73ee1f;
    color: #0f73ee;
    cursor: pointer;
    border:none;
    display: flex;
    align-items: center;
    transition: all .3s;
    border: 1px solid #0f73ee40;
}
.tour_link:hover .text_tour > button{
    background: #0f73ee40;
}

.footer_icons {
    display:flex
}
.footer_icons>a {
    font-size:17px;
    color:#fff;
    margin-right:.5rem;
    padding:10px;
    border:1px solid #fff;
    border-radius:100%;
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all .2s
}
.footer_icons>a:hover {
    text-decoration:none
}
.footer_instagram:hover {
    background:radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285AEB 90%);
    color:#fff
}
.footer_whatsapp:hover {
    color:#fff;
    background-color:#2ab200
}
.footer_telegram:hover {
    color:#fff;
    background-color:#039be5
}

.mainTourDiv.active {
    display: flex;
    flex-wrap: wrap;
}
.tab-content > .active{
    display: flex;
    flex-wrap: wrap;    
}

#nav-tab_two {
    border: none;
    justify-content: center;
    margin-bottom: 2rem;
}

#nav-tab_two a {
    font-size: 14px;
    background: none;
    border: 1px solid #ccc;
    transition: all .3s;
    color: #333;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 10px 20px;
}
#nav-tab_two a:first-child {
    border-radius:  0 var(--radius) var(--radius) 0;
    border-left: none;
}
#nav-tab_two a:last-child {
    border-radius: var(--radius) 0 0 var(--radius);
}
#nav-tab_two a.active {
    background: var(--mainColor);
    color: #fff;
}










.about .title ,
.newsLatter_main .title{
    align-items: flex-start
}

@media (max-width: 992px) {
    .OWL_slider_banner>div>div>.owl-item>.item::after{
        display:none;
    }
.about .title ,
.newsLatter_main .title{
    align-items: center;
    width: 100%;
}
}
@media (max-width:768px) {
        .text-banner h2{
        margin-top: 0 !important;
    }
    .text-banner{
        justify-content: center
    }
    .search{
        height: auto;
    }
}
@media (max-width:545px) {
    .OWL_slider_banner .owl-nav {
        display: none
    }
    .text-banner h2{
        font-size: 30px;
    }
}
.parent-tab-user-tracking .tab-user-tracking{
    display: flex;
    justify-content: center;
}
#pills-tab-user-tracking .nav-link.active {
    background: var(--mainColor) !important;
}
#rules .tab-content > .active{
    display: flex;
    flex-direction: column;
    color: #333 !important;
}
#rules .nav-link.active{
    color: #333 !important;
}