@font-face {
    font-family: 'iranTITR';
    src: url("../../../assets/all-fonts/IRANSansX-Bold.woff");
}
@font-face {
    font-family: 'iran';
    src: url("../../../assets/all-fonts/IRANSansX-Regular.woff");
}

body , html{
    overflow-x: hidden !important;
    font-family: 'iran', serif;
    background: #fff;
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
}
body , main {min-height: 150vh;}

.owl-dots {
    display: flex !important;
    justify-content: center !important;
    padding-top: 1rem;
}
.owl-dot {
    display: flex !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #c2c2c2 !important;
    border-radius: 50%;
    margin: 2px;
}
.owl-dot.active {
    background-color: var(--mainColor) !important;
    transition: all .3s;
}
.tour_ttitr div::after{
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--mainColor);
    position: absolute;
    bottom: 0;
    right: 0;
}
.tour_ttitr div{
    overflow: hidden;
    position: relative;
    display: flex;
    border: 0.3px solid #c4c4c4;
    border-radius: .5rem;
    background: #fff;
    padding: 1rem 10px;
    font-size: 13px;
}
.titr{
    text-align: center;
    width: 100%;
    font-family: 'iranTITR', serif;
    font-size: 30px;
}
:root{
    --mainColor:#77c650;
    --secondColor:#79cbb4;
    --fontFamily: iran;
}
.bg{
    background: var(--mainColor);
}
.alert_main {
    position: relative;
    padding: 10px 0;
}
.alert_main span a{
    color:#fff;
    text-decoration: revert;
    font-size: 14px
}
.alert_main span{
    color:#fff;
    font-size: 14px
}
.alert_main i{
    position: absolute;
    left: 15px;
    color:#fff;
    cursor: pointer;
}
.alertCD{
    display: none;
    transition: all .3s;
}


.main_sec{
    background: #fafafa;
    margin-top: 48px;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    border: 0.3px solid #c4c4c4;
}

.box_sec_first:hover{
    text-decoration: none;
}
.box_sec_first > a::before{
    content: '\f3c5';
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
    font-size: 16px;
    margin-left: 5px;
    color: var(--mainColor);
}
.box_sec_first > a:hover{
    text-decoration: none;
    color:var(--mainColor)
}
.box_sec_first > a{
    color:#444;
    transition: all .3s;
    margin-bottom: 4px;
    font-size: 13px;     
}
.box_sec_first > h6{
    color:#555;
    margin-bottom: 12px;
    font-size: 15px; 
}
.box_sec_first{
    background: #fff;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 3px;
    border-radius: 8px;
    border: 0.2px solid #c1c1c1;
}
.box_sec_first span:first-child{
    margin-left: 10px; 
}

.box_sec_first span:first-child i{
    color:var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius:100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.box_sec_first span:last-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.box_sec_first span:last-child h6{
    margin-bottom: 2px;
    font-size: 15px;
    color:#222;
}
.box_sec_first span:last-child p{
    margin: 0;
    font-size: 12px;
    color:#444;
    
}



.blog_slider .owl-stage-outer{
    padding: 24px 0 0 0;
}

.Advertising_slider img {
    border-radius: 1rem;
}

.blog_slider .item {overflow: hidden;position: relative;}
.blog_slider .item > a > img{height: 250px;border-radius: 1rem;transition: all .3s;/*! filter: brightness(.5); */}
.blog_slider .item > a > div{position: absolute;bottom: -100px;display: flex;flex-direction: column;justify-content: center;align-items: flex-start;padding: 2rem;transition: all .3s;}
.blog_slider .item > a > div > h2{margin-bottom: 2rem;color: #fff;font-size: 23px;}
.blog_slider .item > a > div > p{color: #fff;font-size: 15px;opacity: 0;transition: all .5s;text-align: justify;}
.blog_slider .item > a > div > button{background: transparent;border: 1px solid #fff;border-radius: 1rem;padding: 5px 25px;font-size: 14px;opacity: 0;transition: all .5s;color: #fff;}
.blog_slider .item > a:hover > div{
    bottom: 0;
}
.blog_slider .item > a:hover > div > p,.blog_slider .item > a > div > button{
    opacity: 1;
}
.blog_slider .item > a > div > button:hover{
    background: var(--mainColor);
}



.tour_main{background: #fafafa;border-radius: 1rem;padding: 1rem;border: 0.3px solid #c4c4c4;}

.tour .nav-tabs,
.tour .nav-tabs .nav-link {
    border: none;
    display: flex;
    justify-content: center;
    /*! margin-top: 2rem; */
}

.tour .nav-tabs .nav-link {
    color: #333;
    background-color: transparent;
    border-radius: 1rem;
    padding: 5px 20px;
    margin: 0 5px;
    border: 1px solid #333;
}
.tour .nav-tabs .nav-link.active {
    opacity: 1;
    background-color: var(--mainColor);
    color: #fff;
}
.tour .nav-tabs .nav-link.active{
    border: 1px solid transparent !important;

}

.tours{
    margin: 1.5rem 0
}
.tours .item a{
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 0; 
    position: relative;
    z-index: 2;
    background: #fff;
}
.tours .item a > div:first-child img{border-radius: 1rem 1rem 0 0 ;position: absolute;width: 100%; height: 110px;top: 0;right: 0;}
.tours .item a > div:last-child{display: flex;flex-direction: column;justify-content: center;align-items: flex-start;width: 100%;}
.tours .item a > div:last-child h6{margin-bottom: 3px; display: flex;width: 100%;justify-content: center;color: #444;font-size: 14px;}
.money{color:var(--mainColor);width: 100%;text-align: center;/*! border-radius: 1rem; *//*! padding: 5px 0; */margin-top:2px;font-size: 14px;}
.money b{font-family: 'iranTITR', serif;font-weight: 100;}
.clock{color:#333;font-size: 13px;padding: 0px 5px;}
.calculator{color:#333;font-size: 13px;padding: 2px 5px;}
.tours .item a > div:last-child button{background: transparent;transition: all .3s;border: 1px solid var(--mainColor);padding:0px 15px ;border-radius: 8px;margin: 5px auto;}
.tours .item a:hover > div:last-child button{background: var(--mainColor);color:#fff;}
.tours .item a:hover{text-decoration: none}


.news_main{min-height: 220px;/*! background-image: url("../images/bg_news.jpg"); */background-size: cover;background-attachment: fixed;background-blend-mode: darken;background-color: #fafafafa;border-radius: 1rem;background-position: center;display: flex;align-items: center;flex-wrap: wrap;padding: 1rem;/*! border: 1px solid #ccc; */border: 0.3px solid #c4c4c4;}
.news_text h6{display: flex;color: #333;font-size: 20px;font-family: 'iranTITR', serif}
.news_text{display: flex; flex-direction: column;align-items: center;}
.news_text span{display: flex;color: #333;text-align: justify;font-size: 13px}
.news_main form{display: flex;flex-wrap: wrap;justify-content: center;margin-top: 1rem;}
.news_main form > label{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.news_main form > label input{
    height: 40px;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 13px;
    border: 1px solid #333;
}
.news_main form > label span{
    color:#333;
    text-align: justify;
    margin-bottom: 5px;
    font-size: 13px
}
.news_main > form .read-more a:hover {
    text-decoration: none;
    background: transparent;
    color: #333 !important;
    border-color: var(--mainColor) !important;
}
.news_main > form .read-more a {
    transition: all .3s;
    border-color: #fff !important;
    color: #fff !important;
    background: #fff;
    margin: 5px 0;
    background: var(--mainColor);
    
}
.btn_mmore a {
    width: 130px;
}
.read-more > a {
    border: 1px solid #737373;
    color: #737373;
    display: flex;
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: 0.5s all linear;
    -moz-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
    transition: 0.5s all linear;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    z-index: 2;
}




.about{
    display: flex;
    background: #fafafafa;
    border-radius: 1rem;
    padding:1rem;
   
    border: 0.3px solid #c4c4c4;
}
.about div img{
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}
.about > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}
.about div p{display: flex;width: 100%;text-align: justify;line-height: 1.6;font-size: 14px;}
.about > div > a{border: 1px solid var(--mainColor);padding: 5px 15px;border-radius: 1rem;color: var(--mainColor);margin-bottom: 1rem; transition: all .3s}
.about > div > a:hover{color:#fff;background: var(--mainColor);text-decoration: none}
.icon_main a{
    color:var(--mainColor);
    border: 1px solid var(--mainColor);
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%; 
    transition: all .3s;
}
.icon_main .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0 4px 11px #d6249f;
    text-decoration: none;
    color: #fff;
    transform: translateY(-3px);
    border-color: #fff;
}
.icon_main .fa-whatsapp:hover {
    color: #fff;
    background: #2ab200;
    box-shadow: 0 4px 11px #2ab200;
    text-decoration: none;
    transform: translateY(-3px);
    border-color: #fff;
}
.lest_sec{
    margin-top: 32px;
    margin-bottom: 48px;
}
.icon_main .fa-telegram:hover {
    color: #fff;
    background: #039be5;
    box-shadow: 0 4px 11px #039be5;
    text-decoration: none;
    transform: translateY(-3px);
    border-color: #fff;
}



.accordion_sec > div{
    width: 100%;
}
.accordion_sec h6{
    margin: 0;
    font-family: 'iranTITR', serif;
    font-size: 17px 
}
.accordion_sec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-header , .card-body{
    /*! display: flex; */
    text-align: justify;
    font-size: 14px;
    color: #444;
    line-height: 1.7;
}
.card-header h5{width: 100%;height: 100%;}
.card-header button{width: 100%;height: 100%;text-align: justify;color:#333;transition: all .3s;display: flex;justify-content: space-between;align-items: center;}
.card-header button i{margin-right:1rem }
.card-header button:hover , .card-header button:focus{text-decoration: none;color:var(--mainColor);}
.card{margin-bottom: 1rem; border-radius: 1rem;overflow: hidden}
.card:last-child{margin: 0}
.card-header{padding: 5px 0;/*! border-radius: 1rem 1rem 0 0 !important; */}

#accordion{
    padding: 1rem;
background: #fafafafa;
border-radius: 1rem;
margin: 1rem 0;
    border: 0.3px solid #c4c4c4;
}
.card-header{background: #fff;}
.sec_new > div > div > div{
    background: #fafafa;
    border: 0.3px solid #c4c4c4 ;
    padding:0 1rem;
    border-radius: 1rem ; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.sec_new > div > div:first-child > div > img{width: 200px}
.sec_new > div > div > div > img{
    width: 100px;
    width: 150px;
}
.sec_new > div > div > div > span{
    width: 50%;
    padding: 1rem 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.sec_new > div > div > div > span > h4{
    font-family: 'iranTITR';
    font-size: 18px;
    color:#555;
}
.sec_new > div > div > div > span > p >span{
    color:var(--mainColor);
    margin-top: 4px; 
}
.sec_new > div > div > div > span > p{
    text-align: justify;
    color:#555;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.sec_new > div > div > div > span > a:hover{
    text-decoration: none;
    border: 1px solid var(--mainColor);
    background: #fff;
    color: #333 !important;
}
.sec_new > div > div > div > span > a {
    transition: all .3s;
    border: 1px solid var(--mainColor);
    color: #fff !important;
    margin: 5px 0;
    width: 130px;
    text-align: center;
    font-size: 14px;
    border-radius: .5rem; 
    padding: 5px 15px ;
    background: var(--mainColor);
}
.sec_new > div > div > div > span > div{
    display: flex;
}
.sec_new > div > div > div > span > div > a > img{
    width: 120px;
    margin: 1rem 0 1rem 1rem;
}
.sec_new > div{
    display: flex;
}
.lest_sec ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
}
.lest_sec ul li a svg{
    width: 25px;
    height: 25px;
    margin-left: 5px;        
}
.lest_sec ul li a{
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: 13px;
    color: #444;
    transition: all .3s;
}
.lest_sec ul li a:hover{
    text-decoration: none;
    color:var(--mainColor);
}
.lest_sec ul li img{
    width: 130px;
}

.lest_sec ul li {
    width: 20%;
}

.box_sec_first svg {
    width: 30px;
    height: 30px;
    fill: var(--mainColor);
}

footer li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*blog*/

.blog_slider .item {
    overflow: hidden;
    position: relative;
}

.blog_slider .item > a > img {
    height: 250px;
    border-radius: 1rem;
    transition: all .3s;
    filter: brightness(.5);
}

.blog_slider .item > a > div {
    position: absolute;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    transition: all .3s;
}

.blog_slider .item > a > div > h2 {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 23px;
}

.blog_slider .item > a > div > p {
    color: #fff;
    font-size: 15px;
    opacity: 0;
    transition: all .5s;
    text-align: justify;
}

.blog_slider .item > a > div > button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 5px 25px;
    font-size: 14px;
    opacity: 0;
    transition: all .5s;
    color: #fff;
}

.blog_slider .item > a:hover > div {
    bottom: 0px;
}

.blog_slider .item > a:hover > div > p, .blog_slider .item > a > div > button {
    opacity: 1;
}

/*hotel*/

.title-ghods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px
}
.title-ghods .text-title-ghods {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.title-ghods .text-title-ghods h2 {
    color: #333;
    margin-bottom: 0;
    font-size: 30px
}
.title-ghods .text-title-ghods p {
    color: rgba(74, 74, 74, .58);
    font-size: 18px;
    margin-bottom: 0;
    font-family: "yekanbakhmedium"
}
.title-ghods .more-title-ghods {
    font-size: 16px;
    color: #333;
    width: auto;
    line-height: 44px;
    transition: all ease .3s;
    font-family: "yekanbakhmedium";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
.title-ghods .more-title-ghods svg {
    width: 10px;
    fill: #333;
    transition: all ease .3s
}
.title-ghods .more-title-ghods:hover {
    color: #88ab8e;
    text-decoration: none
}
.title-ghods .more-title-ghods:hover svg {
    fill: #88ab8e
}

.hotel-ghods {
    margin-top: 24px;
}
.hotel-ghods .parent-ul-hotel #pills-tab-hotel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin-bottom: 8px;
}
.hotel-ghods .parent-ul-hotel #pills-tab-hotel .nav-link {
    color: var(--mainColor);
    background-color: transparent;
    border-radius: 1rem;
    padding: 10px 25px;
    margin: 0 5px;
    border: 1px solid var(--mainColor);
}
.hotel-ghods .parent-ul-hotel #pills-tab-hotel .nav-link.active {
    background-color: var(--mainColor) !important;
    color: #fff;
    border: 1px solid transparent !important;
}
.hotel-ghods .link-parent {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    position: relative;
    padding: 20px;
    transition: all .3s;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem 0;
}
.hotel-ghods .link-parent::before {
    background: -moz-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00040e27', endColorstr='#b3040e27', GradientType=0);
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.hotel-ghods .link-parent:hover {
    text-decoration: none;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.hotel-ghods .link-parent img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}
.hotel-ghods .link-parent .text-hotel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2
}
.hotel-ghods .link-parent .text-hotel .star-hotel {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
    color: var(--mainColor);
    gap: 3px;
    margin-bottom: 5px
}
.hotel-ghods .link-parent .text-hotel h3 {
    color: #fff;
    margin-bottom: 0;
    font-size: 22px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: right;
}
.hotel-ghods .link-parent .text-hotel span {
    font-size: 16px;
    color: #d9d9d9;
    text-align: right;
}
.parent-tab-hotel .owl-dots {
    padding-top: 0;
}

@media (max-width: 1200px) {
    .lest_sec ul li{padding: 0}
    .tours .item a > div:last-child h6{font-size:14px}
    .money{font-size:12px}
    .clock{font-size:13px}
    .calculator{font-size:12px}
    .box_sec_first {
        width: 31%;
        margin: 10px;
    }
    .main_sec{justify-content: center}
}
@media (max-width: 992px) {
    .lest_sec ul li {
        width: 30%;
    }
    .main_sec {
        margin-top: 3rem;
    }
    .box_sec_first {
        width: 46%;
        margin: 10px;
    }
    .lest_sec ul li{padding: 0 15px}
    .money{font-size:13px}
    .hotel-ghods .parent-ul-hotel #pills-tab-hotel .nav-link {
        padding: 10px 20px !important
    }
}
@media (max-width: 768px) {
    .lest_sec ul li {
        width: 50%;
    }
    .box_sec_first {
        width: 100%;
    }
    .blog_slider .item > a > div{bottom: 0 !important;}
    .blog_slider .item > a > div > p{opacity: 1}
    .hotel-ghods .text-title-ghods p {
        display: none !important
    }

    .hotel-ghods .title-ghods {
        align-items: center !important
    }
    .title-ghods .text-title-ghods p {
        font-size: 16px
    }
}
@media (max-width: 545px) {
    .lest_sec ul li {
        width: 100%;
    }
    .sec_new > div > div > div > span > div{
        flex-wrap: wrap;
    }
    .alert_main span{
        padding-left: 3rem;
        padding-right: 1rem;
        text-align: justify;
    }
    .lest_sec ul{
        flex-direction: column;
    }
    .sec_new > div > div > div > span{width: 100%;}
    .sec_new > div > div:first-child > div > img , .sec_new > div > div > div > img{display: none;}
    .hotel-ghods .text-title-ghods p {
        display: none !important
    }
    .text-title-ghods p {
        display: none
    }

    .text-title-ghods h2 {
        font-size: 20px !important
    }

    .title-ghods {
        align-items: center !important
    }

    .more-title-ghods span {
        font-size: 14px
    }

    .more-title-ghods svg {
        width: 8px
    }

    .title-ghods {
        margin-bottom: 20px !important
    }
}
.special-pages-div{
    padding: 130px 0 !important;
}
.flight-price-item:hover{
    text-decoration: none;
}