@font-face {
  font-family: "Poppins-Bold";
  src: url("../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.eot");
  src: url("../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.woff2") format("woff2"), url("../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.woff") format("woff"), url("../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Barlow";
  src: url("../../../assets/all-fonts/Barlow/Barlow-Regular.eot");
  src: url("../../../assets/all-fonts/Barlow/Barlow-Regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/all-fonts/Barlow/Barlow-Regular.woff2") format("woff2"), url("../../../assets/all-fonts/Barlow/Barlow-Regular.woff") format("woff"), url("../../../assets/all-fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}