$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 14px;
$rounded-btn: 5px;
$mainColor: #023e8a;
$secondColor: #fb7616;
$bg-section: #f4f5f8;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
