body{
    font-family: 'Droid' !important;
}
.footer-widget p{
    font-family: 'Droid' !important;
}
.register{
    font-family:'Droid' ;
}
.nav-menu > li > a {
    font: 14px 'Droid';
}
.s-u-popup-in-result {
    width: 100% !important;
}
