@media ( min-width: 1300px) {
    .know {
        position: relative
    }




}

@media ( max-width: 1315px) and  (min-width: 990px) {
    .act-buttons{ margin-right: 0;}
    .nav-menus-wrapper {
        padding: 0 8px 0 4px !important;
    }

    .nav-menu > li > a {
        padding: 0 5px;
        font-size: 13px;
    }

    .top__user_menu > div {
        margin: 0;
    }

    .header_area {

        display: flex;
    }

    .know .megamenu-panel {
        left: 5px;
    }
}

@media ( max-width: 1200px) and  (min-width: 990px) {
    .footer .container{
        max-width: none;
    }
    .contact_{ position: relative}
    .copyright_content a{
        padding-right: 10px;
    }
    .container.searchs_box {
        max-width: none;

    }

    #myTab .nav-item {
        min-width: 80px;
    }

    .social_top {
        display: none;
    }

    .nav-menus-wrapper {
        padding-right: 5px;
    }

    .nav-menu > li > a {
        padding: 0 7px;
        font-size: 14px
    }
    .lang > span{
        font-size: 11px!important;
    }

}

@media (max-width: 990px) and (min-width: 767px) {
    .section_special_tour .container,
    .section_boxs .container{
        max-width: none;
    }
    .section_boxs .row > div{
        margin-bottom: 10px;
    }
}
@media ( max-width: 1199px) {
    .megamenu-panel::before,.know .megamenu-panel .megamenu-lists::after {
        width: 226px!important;
    }
    .megamenu-panel{
        width: 530px!important;
    }
    .megamenu-list > li > a{
        padding: 10px 5px!important;
        font-size: 12px!important;
    }

    .megamenu-list > li > a{
        padding: 10px 5px!important;
        font-size: 12px!important;
    }
}
@media ( max-width: 990px) {
    /*.nav-menu > li{*/
    /*    display: none;*/
    /*}*/
    .appButtons {
        display: none;
    }
    .app-dl h2, .app_text span {
        color: var(--mainColor);
    }
    .link_app {
        width: 30%;
        margin: 0 auto;
        padding: 5px;
    }
    .link_app img{

    }
    .app-dl::before {
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    .customers .megamenu-panel::before , .know .megamenu-panel .megamenu-lists::after {
        display: none;
    }
    .know .megamenu-panel ,.customers .megamenu-panel {
        height: auto !important;
        width: 100% !important;
    }
    .megamenu-lists{
        flex-direction: column !important;
    }
    .megamenu-panel {
        box-shadow: none !important;
    }
    .navigation-portrait .megamenu-panel{
        padding: 0 !important;
    }

    .nav-dropdown > li:hover > a .submenu-indicator-chevron, .nav-dropdown > .focus > a .submenu-indicator-chevron {
        border-color: transparent #333 #333 transparent;
    }
    .nav-dropdown .nav-dropdown , .megamenu-list > li > a:hover {
        border-radius: 0 !important;
    }
    .megamenu-list > li > a{
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 12px 20px 12px 30px !important;
        display: inline-flex;
        text-decoration: none;
        text-align: right;
        float: right;
        font-size: 13px !important;
        color: #343a40 !important;
        align-items: center;
        align-content: center;
    }
    .megamenu-list{
        margin: 0 !important;
    }
    .nav-menu > li.mobileMenu{
        display: flex;
    }
    .app_text{
        width: 100%;
    }
    .appButtons{
        margin:5px 0;

        justify-content: center;

        width: 100%;
    }
    .app-dl{
        padding: 40px 0;
    }
    .big_news .thumb {

        height: 140px !important;
        flex: 0 0 35%;
        width: 35%;
        padding-top: 11px;

    }
    .big_news .info{
        flex: 0 0 64%;

        width: 65%;

        display: flex;

        flex-wrap: wrap;
    }
    .big_news .single_trip {

        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 10px 0 10px;

    }
    .big_news .more_tour {
        margin-left: 10px;
        margin-right: auto;
        /*! position: absolute; */
        /*! left: 0; */
        /*! bottom: 0; */

        margin-right: auto;
    }
    .customers .megamenu-panel , .know .megamenu-panel{
        background: none;
    }
    .nav-menus-wrapper{padding: 0}
    .nav-menu > li > a{
        color: #000;
    }
    .container.searchs_box {
        max-width: none;

    }

    #myTab .nav-item {
        min-width: 30px;
    }

    #myTab .nav-link {
        display: block;
        text-align: center;
        font-size: 12px;
    }

    #myTab .nav-link i {
        margin: auto;
    }

    #myTab .nav-link::after {
        left: 40%;
    }

    #myTab a span {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .social_top {
        margin-left: 0;
    }
    .lang{
        margin-left: 40px;
    }

    .act-buttons {
        margin-right: auto;
    }

    .seach_icon {
        margin-left: 70px;
    }
}

@media (max-width: 767px) {

    .navigation-portrait .nav-search {
        margin-right: 10px;
    }
    .single_destination .thumb{
        height: 200px;
    }

    .section_boxs .row > div{margin-bottom: 10px;}
    .section_tours .container , .section_hotel .container{
        padding: 0 30px;
    }
}
.peigiri_m{ display: none !important;}
@media ( max-width: 576px) {
    .image_card{
        width:100%
    }
    .card_matn_{
        width:100%
    }
    #scroll-top{
        display:none !important;
    }
    #myTab .nav-link {
        border-radius: 0;
        width: 70px;
        height: 70px;
        display: flex !important;
        align-items: center;}
    #titr_searchBox{
        font-size: 16px;
    }
    #flight .radios{
        position: static;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .cntr{
        padding-right: 0;
        justify-content: center;
    }
    .d-ceckboxs .cntr label {
        padding:0 5px;
        margin:0
    }
    .switches{
        justify-content: center;
        display: flex;
    }
    .meteorology,.exchange_rate{
        display: none;
    }
    .news.recent_trip_area{
        display: none;
    }
    .switch_routs{
        top: 41px;
        left: 9px;
    }
    .col_foo:not(.foo_contact){
        display: none;
    }
    .link_app {
        width: 30%;
        margin: 0 auto;
        padding: 5px;
    }
    .link_app img{

    }
    .app-dl::before {
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    .app-dl h2,.app_text span{
        color: var(--mainColor);
    }
    #wave_footer{
        display: none;
    }
    #tabsHotel .nav-link{
        font-size: 14px;
    }
    .section_tours .nav-tabs .nav-link{
        font-size: 14px;
    }
    .titr{
        font-size: 20px;
    }

    .app_text > div{
        display: flex;
        flex-wrap: wrap;
    }

    .appButtons{
        display: none;
    }
    .myroom-hotel{
        padding: 5px 7px;
    }
    .myroom-hotel-item{
        flex: 0 0 100%;
        margin: 0;
    }
    .fl-fl , .left_text_{
        display: none;
    }
    .date_convert{
        display: none;
    }
    .app-dl h2{
        line-height: normal;
    }
    .app_text span{
        font-size: 13px;
    }

    .peigiri_m{ display: block !important;}
    .recent_trip_area{
        padding-bottom: 30px;
    }
    .big_news .thumb , .small_news .thumb{
        width: 100%; flex: 100%;
        height: 145px;
    }
    .project .img{
        height: 250px;
    }
    .app-dl h2{
        font-size: 20px;
    }

    .big_news .info , .small_news .info {

        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    .copyright_content , .content{
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;

    }
    .contact_info_text i{display: none}
    .contact_info_list li{
        justify-content: center;
        text-align: center;
    }
    .contact_{
        margin: 0;
        margin-bottom: 5px;
    }




    #myTab a span {
        font-size: 12px;
    }

    #myTab .nav-link i {
        margin: auto
    }





    .section_slider{
        height: 100%;
    }
    .searchs_box{margin-top: 0; padding: 10px;}
    #myTab .nav-link::before , #myTab .nav-link::after{
        display: none;
    }
    .section_slider::before{
        background: rgba(0, 0, 0, 0.70);
    }
    .peygiri {
        display: none
    }

    .act-buttons {
        margin-left:0;
    }

    .lang{
        margin-left: 40px;
        display:none
    }
    .act-buttons {
        margin-left: 45px;
    }
    .social_top {
        display: none;
    }

    .navigation-portrait .nav-search {
        margin-right: 0;
    }
    #myTab{
        min-width: 110%;
        box-shadow: none;
        padding-left:30px

    }
        #myTab .nav-link {
            border-radius: 0;
            width: 65px;
            height: 60px;
            margin-bottom: 10px;
            box-shadow: none;
            display: flex !important;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    #myTab a span h4 {
        font-size: 12px;
    }

        #flight .radios{
            position: static;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        .cntr{
            padding-right: 0;
            justify-content: center;
        }
        .d-ceckboxs .cntr label {
            padding:0 5px;
            margin:0
        }
        .switches{
            justify-content: center;
            display: flex;
        }

}

