$fontFamily: 'iransans';
$fontFamilyBold: 'iranbold';
$fontTitle: 'iranbold';
$rounded: 8px;
$mainColor: #092634;
$secondColor: #9ec8ba;
$transition: all cubic-bezier(1,0,0,1) .3s;
$transitionBox: all cubic-bezier(1,0,0,1) .8s;